This project will determine the best kind of movies for Microsoft to make.
First we will import the necessary packages, then we will load the web page to scrape.

In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [3]:
html_page = requests.get('https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW')
soup = BeautifulSoup(html_page.content, 'html.parser')

In [4]:
soup.prettify

<bound method Tag.prettify of <!DOCTYPE doctype html>
<html class="a-no-js" data-19ax5a9jf="dingo"><head><script>var aPageStart = (new Date()).getTime();</script><meta charset="utf-8"/><meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta charset="utf-8"/>
<title dir="ltr">Top Lifetime Grosses - Box Office Mojo</title><meta content="Top Lifetime Grosses" name="title"/>
<meta content="Box Office Mojo" property="og:site_name"/>
<meta content="telephone=no" name="format-detection"/>
<link href="https://m.media-amazon.com/images/G/01/boxofficemojo/v2/favicon._CB448965889_.ico" rel="icon" type="image/x-icon"/>
<link href="https://images-na.ssl-images-amazon.com/images/I/11EIQ5IGqaL._RC|012LjolmrML.css,41t4Ok2rjiL.css,51IB+wfP8qL.css,01evdoiemkL.css,01oDR3IULNL.css,01Vctty9pOL.css,31zpKVx8wkL.css,01XPHJk60-L.css,21qPwhPKAAL.css,01Jb-VvL4uL.css,21LK7jaicML.css,11L58Qpo0GL.css,21kyTi1FabL.css,01ruG+gDPFL.css,01egbgkonWL.css,21GwE3cR-yL.css,119kww4uFyL.css,11nWWh1kQdL.css,11nsDBPXKgL.css,11WgRxUdJRL.css,01-fWz3sOQL.css,11ocrgKoE-L.css,11k89RclloL.css,11cm-8W5AzL.css,01QrWuRrZ-L.css,21pIv-yKhaL.css,01M3ZzSySfL.css,01gAR5pB+IL.css,119dKrtBoVL.css,01piEq-AdwL.css,11Z1a0FxSIL.css,01cbS3UK11L.css,21F85am0yFL.css,01giMEP+djL.css_.css?AUIClients/AmazonUI&amp;BUIiWFOU#us.not-trident" rel="stylesheet"/>
<link href="https://images-na.ssl-images-amazon.com/images/I/510UYbyicEL.css?AUIClients/IMDbMojoSiteAssets" rel="stylesheet"/>
<script>
(function(f,h,Q,E){function F(a){v&&v.tag&&v.tag(q(":","aui",a))}function w(a,b){v&&v.count&&v.count("aui:"+a,0===b?0:b||(v.count("aui:"+a)||0)+1)}function m(a){try{return a.test(navigator.userAgent)}catch(b){return!1}}function x(a,b,c){a.addEventListener?a.addEventListener(b,c,!1):a.attachEvent&&a.attachEvent("on"+b,c)}function q(a,b,c,e){b=b&&c?b+a+c:b||c;return e?q(a,b,e):b}function G(a,b,c){try{Object.defineProperty(a,b,{value:c,writable:!1})}catch(e){a[b]=c}return c}function va(a,b){var c=a.length,
e=c,g=function(){e--||(R.push(b),S||(setTimeout(ca,0),S=!0))};for(g();c--;)da[a[c]]?g():(A[a[c]]=A[a[c]]||[]).push(g)}function wa(a,b,c,e,g){var d=h.createElement(a?"script":"link");x(d,"error",e);g&&x(d,"load",g);a?(d.type="text/javascript",d.async=!0,c&&/AUIClients|images[/]I/.test(b)&&d.setAttribute("crossorigin","anonymous"),d.src=b):(d.rel="stylesheet",d.href=b);h.getElementsByTagName("head")[0].appendChild(d)}function ea(a,b){return function(c,e){function g(){wa(b,c,d,function(b){T?w("resource_unload"):
d?(d=!1,w("resource_retry"),g()):(w("resource_error"),a.log("Asset failed to load: "+c));b&&b.stopPropagation?b.stopPropagation():f.event&&(f.event.cancelBubble=!0)},e)}if(fa[c])return!1;fa[c]=!0;w("resource_count");var d=!0;return!g()}}function xa(a,b,c){for(var e={name:a,guard:function(c){return b.guardFatal(a,c)},logError:function(c,d,e){b.logError(c,d,e,a)}},g=[],d=0;d<c.length;d++)H.hasOwnProperty(c[d])&&(g[d]=U.hasOwnProperty(c[d])?U[c[d]](H[c[d]],e):H[c[d]]);return g}function B(a,b,c,e,g){return function(d,
h){function n(){var a=null;e?a=h:"function"===typeof h&&(p.start=C(),a=h.apply(f,xa(d,k,l)),p.end=C());if(b){H[d]=a;a=d;for(da[a]=!0;(A[a]||[]).length;)A[a].shift()();delete A[a]}p.done=!0}var k=g||this;"function"===typeof d&&(h=d,d=E);b&&(d=d?d.replace(ha,""):"__NONAME__",V.hasOwnProperty(d)&&k.error(q(", reregistered by ",q(" by ",d+" already registered",V[d]),k.attribution),d),V[d]=k.attribution);for(var l=[],m=0;m<a.length;m++)l[m]=a[m].replace(ha,"");var p=ia[d||"anon"+ ++ya]={depend:l,registered:C(),
namespace:k.namespace};c?n():va(l,k.guardFatal(d,n));return{decorate:function(a){U[d]=k.guardFatal(d,a)}}}}function ja(a){return function(){var b=Array.prototype.slice.call(arguments);return{execute:B(b,!1,a,!1,this),register:B(b,!0,a,!1,this)}}}function W(a,b){return function(c,e){e||(e=c,c=E);var g=this.attribution;return function(){y.push(b||{attribution:g,name:c,logLevel:a});var d=e.apply(this,arguments);y.pop();return d}}}function I(a,b){this.load={js:ea(this,!0),css:ea(this)};G(this,"namespace",
b);G(this,"attribution",a)}function ka(){h.body?t.trigger("a-bodyBegin"):setTimeout(ka,20)}function D(a,b){a.className=X(a,b)+" "+b}function X(a,b){return(" "+a.className+" ").split(" "+b+" ").join(" ").replace(/^ | $/g,"")}function la(a){try{return a()}catch(b){return!1}}function J(){if(K){var a={w:f.innerWidth||n.clientWidth,h:f.innerHeight||n.clientHeight};5<Math.abs(a.w-Y.w)||50<a.h-Y.h?(Y=a,L=4,(a=k.mobile||k.tablet?450<a.w&&a.w>a.h:1250<=a.w)?D(n,"a-ws"):n.className=X(n,"a-ws")):0<L&&(L--,ma=
setTimeout(J,16))}}function za(a){(K=a===E?!K:!!a)&&J()}function Aa(){return K}function u(a,b){return"sw:"+(b||"")+":"+a+":"}function na(){oa.forEach(function(a){F(a)})}function p(a){oa.push(a)}function pa(a,b,c,e){if(c){b=m(/Chrome/i)&&!m(/Edge/i)&&!m(/OPR/i)&&!a.capabilities.isAmazonApp&&!m(new RegExp(Z+"bwv"+Z+"b"));var g=u(e,"browser"),d=u(e,"prod_mshop"),f=u(e,"beta_mshop");!a.capabilities.isAmazonApp&&c.browser&&b&&(p(g+"supported"),c.browser.action(g,e));!b&&c.browser&&p(g+"unsupported");c.prodMshop&&
p(d+"unsupported");c.betaMshop&&p(f+"unsupported")}}"use strict";var M=Q.now=Q.now||function(){return+new Q},C=function(a){return a&&a.now?a.now.bind(a):M}(f.performance),N=C(),r=f.AmazonUIPageJS||f.P;if(r&&r.when&&r.register){N=[];for(var l=h.currentScript;l;l=l.parentElement)l.id&&N.push(l.id);return r.log("A copy of P has already been loaded on this page.","FATAL",N.join(" "))}var v=f.ue;F();F("aui_build_date:3.20.8-2020-12-10");var R=[],S=!1;var ca=function(){for(var a=setTimeout(ca,0),b=M();R.length;)if(R.shift()(),
50<M()-b)return;clearTimeout(a);S=!1};var da={},A={},fa={},T=!1;x(f,"beforeunload",function(){T=!0;setTimeout(function(){T=!1},1E4)});var ha=/^prv:/,V={},H={},U={},ia={},ya=0,Z=String.fromCharCode(92),y=[],qa=f.onerror;f.onerror=function(a,b,c,e,g){g&&"object"===typeof g||(g=Error(a,b,c),g.columnNumber=e,g.stack=b||c||e?q(Z,g.message,"at "+q(":",b,c,e)):E);var d=y.pop()||{};g.attribution=q(":",g.attribution||d.attribution,d.name);g.logLevel=d.logLevel;g.attribution&&console&&console.log&&console.log([g.logLevel||
"ERROR",a,"thrown by",g.attribution].join(" "));y=[];qa&&(d=[].slice.call(arguments),d[4]=g,qa.apply(f,d))};I.prototype={logError:function(a,b,c,e){b={message:b,logLevel:c||"ERROR",attribution:q(":",this.attribution,e)};if(f.ueLogError)return f.ueLogError(a||b,a?b:null),!0;console&&console.error&&(console.log(b),console.error(a));return!1},error:function(a,b,c,e){a=Error(q(":",e,a,c));a.attribution=q(":",this.attribution,b);throw a;},guardError:W(),guardFatal:W("FATAL"),guardCurrent:function(a){var b=
y[y.length-1];return b?W(b.logLevel,b).call(this,a):a},log:function(a,b,c){return this.logError(null,a,b,c)},declare:B([],!0,!0,!0),register:B([],!0),execute:B([]),AUI_BUILD_DATE:"3.20.8-2020-12-10",when:ja(),now:ja(!0),trigger:function(a,b,c){var e=M();this.declare(a,{data:b,pageElapsedTime:e-(f.aPageStart||NaN),triggerTime:e});c&&c.instrument&&O.when("prv:a-logTrigger").execute(function(b){b(a)})},handleTriggers:function(){this.log("handleTriggers deprecated")},attributeErrors:function(a){return new I(a)},
_namespace:function(a,b){return new I(a,b)}};var t=G(f,"AmazonUIPageJS",new I);var O=t._namespace("PageJS","AmazonUI");O.declare("prv:p-debug",ia);t.declare("p-recorder-events",[]);t.declare("p-recorder-stop",function(){});G(f,"P",t);ka();if(h.addEventListener){var ra;h.addEventListener("DOMContentLoaded",ra=function(){t.trigger("a-domready");h.removeEventListener("DOMContentLoaded",ra,!1)},!1)}var n=h.documentElement,aa=function(){var a=["O","ms","Moz","Webkit"],b=h.createElement("div");return{testGradients:function(){b.style.cssText=
"background-image:-webkit-gradient(linear,left top,right bottom,from(#1E4),to(white));background-image:-webkit-linear-gradient(left top,#1E4,white);background-image:linear-gradient(left top,#1E4,white);";return~b.style.backgroundImage.indexOf("gradient")},test:function(c){var e=c.charAt(0).toUpperCase()+c.substr(1);c=(a.join(e+" ")+e+" "+c).split(" ");for(e=c.length;e--;)if(""===b.style[c[e]])return!0;return!1},testTransform3d:function(){var a=!1;f.matchMedia&&(a=f.matchMedia("(-webkit-transform-3d)").matches);
return a}}}();r=n.className;var sa=/(^| )a-mobile( |$)/.test(r),ta=/(^| )a-tablet( |$)/.test(r),k={audio:function(){return!!h.createElement("audio").canPlayType},video:function(){return!!h.createElement("video").canPlayType},canvas:function(){return!!h.createElement("canvas").getContext},svg:function(){return!!h.createElementNS&&!!h.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect},offline:function(){return navigator.hasOwnProperty&&navigator.hasOwnProperty("onLine")&&navigator.onLine},
dragDrop:function(){return"draggable"in h.createElement("span")},geolocation:function(){return!!navigator.geolocation},history:function(){return!(!f.history||!f.history.pushState)},webworker:function(){return!!f.Worker},autofocus:function(){return"autofocus"in h.createElement("input")},inputPlaceholder:function(){return"placeholder"in h.createElement("input")},textareaPlaceholder:function(){return"placeholder"in h.createElement("textarea")},localStorage:function(){return"localStorage"in f&&null!==
f.localStorage},orientation:function(){return"orientation"in f},touch:function(){return"ontouchend"in h},gradients:function(){return aa.testGradients()},hires:function(){var a=f.devicePixelRatio&&1.5<=f.devicePixelRatio||f.matchMedia&&f.matchMedia("(min-resolution:144dpi)").matches;w("hiRes"+(sa?"Mobile":ta?"Tablet":"Desktop"),a?1:0);return a},transform3d:function(){return aa.testTransform3d()},touchScrolling:function(){return m(/Windowshop|android|OS ([5-9]|[1-9][0-9]+)(_[0-9]{1,2})+ like Mac OS X|Chrome|Silk|Firefox|Trident.+?; Touch/i)},
ios:function(){return m(/OS [1-9][0-9]*(_[0-9]*)+ like Mac OS X/i)&&!m(/trident|Edge/i)},android:function(){return m(/android.([1-9]|[L-Z])/i)&&!m(/trident|Edge/i)},mobile:function(){return sa},tablet:function(){return ta},rtl:function(){return"rtl"===n.dir}};for(l in k)k.hasOwnProperty(l)&&(k[l]=la(k[l]));for(var ba="textShadow textStroke boxShadow borderRadius borderImage opacity transform transition".split(" "),P=0;P<ba.length;P++)k[ba[P]]=la(function(){return aa.test(ba[P])});var K=!0,ma=0,Y=
{w:0,h:0},L=4;J();x(f,"resize",function(){clearTimeout(ma);L=4;J()});var ua={getItem:function(a){try{return f.localStorage.getItem(a)}catch(b){}},setItem:function(a,b){try{return f.localStorage.setItem(a,b)}catch(c){}}};n.className=X(n,"a-no-js");D(n,"a-js");!m(/OS [1-8](_[0-9]*)+ like Mac OS X/i)||f.navigator.standalone||m(/safari/i)||D(n,"a-ember");r=[];for(l in k)k.hasOwnProperty(l)&&k[l]&&r.push("a-"+l.replace(/([A-Z])/g,function(a){return"-"+a.toLowerCase()}));D(n,r.join(" "));n.setAttribute("data-aui-build-date",
"3.20.8-2020-12-10");t.register("p-detect",function(){return{capabilities:k,localStorage:k.localStorage&&ua,toggleResponsiveGrid:za,responsiveGridEnabled:Aa}});m(/UCBrowser/i)||k.localStorage&&D(n,ua.getItem("a-font-class"));t.declare("a-event-revised-handling",!1);try{var z=navigator.serviceWorker}catch(a){F("sw:nav_err")}z&&(x(z,"message",function(a){a&&a.data&&w(a.data.k,a.data.v)}),z.controller&&z.controller.postMessage("MSG-RDY"));var oa=[];(function(a){var b=a.reg,c=a.unreg;z&&z.getRegistrations?
(O.when("A","a-util").execute(function(a,b){pa(a,b,c,"unregister")}),x(f,"load",function(){O.when("A","a-util").execute(function(a,c){pa(a,c,b,"register");na()})})):(b&&(b.browser&&p(u("register","browser")+"unsupported"),b.prodMshop&&p(u("register","prod_mshop")+"unsupported"),b.betaMshop&&p(u("register","beta_mshop")+"unsupported")),c&&(c.browser&&p(u("unregister","browser")+"unsupported"),c.prodMshop&&p(u("unregister","prod_mshop")+"unsupported"),c.betaMshop&&p(u("unregister","beta_mshop")+"unsupported")),
na())})({reg:{},unreg:{}});t.declare("a-fix-event-off",!1);w("pagejs:pkgExecTime",C()-N)})(window,document,Date);
  (window.AmazonUIPageJS ? AmazonUIPageJS : P).load.js('https://images-na.ssl-images-amazon.com/images/I/61-6nKPKyWL._RC|11Y+5x+kkTL.js,61Io0lA7BwL.js,21NNXfMitSL.js,11GXfd3+z+L.js,513Ys2IkKiL.js,11AHlQhPRjL.js,01Gpt4sPPhL.js,11OREnu1epL.js,11KbZymw5ZL.js,21r53SJg7LL.js,0190vxtlzcL.js,51A3Le4wx8L.js,3139553HcbL.js,015c-6CIP9L.js,01ezj5Rkz1L.js,11VS-C+YWGL.js,31pOTH2ZMRL.js,01rpauTep4L.js,010w70919+L.js_.js?AUIClients/AmazonUI');
  (window.AmazonUIPageJS ? AmazonUIPageJS : P).load.js('https://images-na.ssl-images-amazon.com/images/I/51e5MYYGiWL.js?AUIClients/IMDbMojoSiteAssets');
</script>
</head><body class="mojo-page-id-cso a-m-us a-aui_72554-c a-aui_mm_desktop_exp_291916-c a-aui_mm_desktop_launch_291918-c a-aui_mm_desktop_targeted_exp_291928-c a-aui_mm_desktop_targeted_launch_291922-c a-aui_pci_risk_banner_210084-c a-aui_perf_130093-c a-aui_preload_261698-c a-aui_rel_noreferrer_noopener_309527-c a-aui_tnr_v2_180836-c" id="body"><div id="a-page"><script data-a-state='{"key":"a-wlab-states"}' type="a-state">{}</script><div class="a-section a-spacing-none mojo-navigation mojo-header mojo-flex mojo-flex-h"><div class="a-section mojo-logo"><a class="a-link-normal" href="/?ref_=bo_nb_cso_mojologo"></a></div><div class="a-section a-spacing-none mojo-nav-elements mojo-flex mojo-flex-h mojo-flex-1"><div class="a-section a-spacing-none mojo-search-bar mojo-flex mojo-flex-h"><div class="a-section a-spacing-none mojo-search"><form action="/search">
<input id="mojo-search-text-input" name="q" placeholder="Search for Titles" required="true" type="search"/>
<input class="mojo-inline-button" id="mojo-search-button" type="submit" value=""/>
</form>
</div></div><div class="a-section a-spacing-none mojo-mobile-options"><span class="a-declarative" data-a-popover='{"closeButton":"false","inlineContent":"\u003cspan class=\"a-size-medium\"&gt;\u003ca href=\"https://pro.imdb.com/?ref_=mojo_nb_cso_pro&amp;amp;rf=mojo_nb_cso_pro\" class=\"a-touch-link a-box a-touch-link-noborder\"&gt;\u003cdiv class=\"a-box-inner\"&gt;\u003ci class=\"a-icon a-icon-touch-link\"&gt;\u003c\/i&gt;IMDbPro\u003c\/div&gt;\u003c\/a&gt;\u003ca href=\"https://www.facebook.com/BoxOfficeMojo/\" class=\"a-touch-link a-box a-touch-link-noborder\"&gt;\u003cdiv class=\"a-box-inner\"&gt;\u003ci class=\"a-icon a-icon-touch-link\"&gt;\u003c\/i&gt;Facebook\u003c\/div&gt;\u003c\/a&gt;\u003ca href=\"https://twitter.com/boxofficemojo\" class=\"a-touch-link a-box a-touch-link-noborder\"&gt;\u003cdiv class=\"a-box-inner\"&gt;\u003ci class=\"a-icon a-icon-touch-link\"&gt;\u003c\/i&gt;Twitter\u003c\/div&gt;\u003c\/a&gt;\u003ca href=\"https://help.imdb.com/article/imdbpro/industry-research/box-office-mojo-by-imdbpro-faq/GCWTV4MQKGWRAUAP?ref_=mojo_ftr_help\" class=\"a-touch-link a-box a-touch-link-noborder\"&gt;\u003cdiv class=\"a-box-inner\"&gt;\u003ci class=\"a-icon a-icon-touch-link\"&gt;\u003c\/i&gt;Help\u003c\/div&gt;\u003c\/a&gt;\u003c\/span&gt;"}' data-action="a-popover"><a class="a-popover-trigger a-declarative" href="javascript:void(0)"><span class="mobile-menu-popover-trigger"></span>
<i class="a-icon a-icon-popover"></i></a></span></div><div class="a-section a-spacing-none mojo-options mojo-flex"><div class="a-popover-preload" id="a-popover-mojoRollover"><a class="a-link-normal mojo-rollover-image" href="https://pro.imdb.com/login/ap?u=%2Flogin%2Flwa&amp;imdbPageAction=signUp&amp;ref_=mojo_nb_cso_rollover&amp;rf=mojo_nb_cso_rollover"><img alt="" src="https://m.media-amazon.com/images/G/01/IMDbPro/images/MI_121919_NYNY2020_Engagement_rollover_2x._CB1578336809_.png"/></a></div><span class="a-declarative" data-a-popover='{"padding":"none","closeButton":"false","dataStrategy":"preload","name":"mojoRollover","width":"500","position":"triggerBottom","height":"200"}' data-action="a-popover"><a class="a-popover-trigger a-declarative" href="javascript:void(0)"><span class="imdb-pro-logo"></span><i class="a-icon a-icon-popover"></i></a></span><span class="mojo-logo-delimiter"></span><a class="a-link-normal mojo-fb-logo" href="https://www.facebook.com/BoxOfficeMojo/" rel="noopener" target="_blank"></a><a class="a-link-normal mojo-tw-logo" href="https://twitter.com/boxofficemojo" rel="noopener" target="_blank"></a></div></div><div class="a-section a-spacing-none mojo-link-bar mojo-flex mojo-flex-h"><div class="a-section a-spacing-none mojo-tab-container"><a class="a-size-medium a-link-normal mojo-navigation-tab" href="/date/?ref_=bo_nb_cso_tab">Domestic</a><a class="a-size-medium a-link-normal mojo-navigation-tab" href="/intl/?ref_=bo_nb_cso_tab">International</a><a class="a-size-medium a-link-normal mojo-navigation-tab" href="/year/world/?ref_=bo_nb_cso_tab">Worldwide</a><a class="a-size-medium a-link-normal mojo-navigation-tab" href="/calendar/?ref_=bo_nb_cso_tab">Calendar</a><a class="a-size-medium a-link-normal mojo-navigation-tab mojo-navigation-tab-active" href="/charts/overall/?ref_=bo_nb_cso_tab">All Time</a><a class="a-size-medium a-link-normal mojo-navigation-tab" href="/showdown/?ref_=bo_nb_cso_tab">Showdowns</a><a class="a-size-medium a-link-normal mojo-navigation-tab" href="/brand/?ref_=bo_nb_cso_tab">Indices</a></div></div><div class="a-section a-spacing-none mojo-link-bar-secondary mojo-flex mojo-flex-h"><div class="a-section a-spacing-base mojo-tab-container"><a class="a-size-medium a-link-normal mojo-navigation-tab mojo-navigation-tab-active" href="/charts/overall/?ref_=bo_nb_cso_secondarytab"><h2 class="a-size-medium a-text-normal">Overall</h2></a><a class="a-size-medium a-link-normal mojo-navigation-tab" href="/charts/weekend/?ref_=bo_nb_cso_secondarytab">Weekend Records</a><a class="a-size-medium a-link-normal mojo-navigation-tab" href="/charts/daily/?ref_=bo_nb_cso_secondarytab">Daily Records</a><a class="a-size-medium a-link-normal mojo-navigation-tab" href="/charts/misc/?ref_=bo_nb_cso_secondarytab">Miscellaneous Records</a></div></div><div class="a-section a-spacing-none mojo-link-bar-fade"><span class="a-letter-space"></span></div></div><main>
<div class="a-section mojo-body aok-relative"><div class="a-section a-spacing-none"><h1 class="mojo-gutter">Top Lifetime Grosses</h1><div class="a-section mojo-gutter-sides"></div><div class="mojo-refiner mojo-override-gutter">
<div class="mojo-refinement mojo-refinement-dropdown">
<span class="mojo-dropdown-clear">
<form action="" autocomplete="off" class="a-spacing-none" method="post"><span class="a-dropdown-container"><select autocomplete="off" class="a-native-dropdown a-declarative" data-action="a-dropdown-select" id="area-navSelector" name="area-navSelector" tabindex="0"><option value="/chart/top_lifetime_gross/">Domestic</option><option selected="" value="/chart/ww_top_lifetime_gross/?area=XWW">Worldwide</option></select><span aria-hidden="true" class="a-button a-button-dropdown" tabindex="-1"><span class="a-button-inner"><span aria-hidden="true" class="a-button-text a-declarative" data-action="a-dropdown-button"><span class="a-dropdown-prompt"></span></span><i class="a-icon a-icon-dropdown"></i></span></span></span></form></span>
</div>
</div>
<div class="a-section a-spacing-none mojo-gutter-sides">Data as of Jan 23, 11:22 PST</div><div class="a-text-center mojo-pagination" role="navigation"><ul class="a-pagination"><li class="a-disabled">←<span class="a-letter-space"></span><span class="a-letter-space"></span>Previous page</li><li class="a-selected mojo-pagination-button-center"><a aria-current="page" href="#">1-200 of 1,000</a></li><li class="a-last"><a href="/chart/top_lifetime_gross/?area=XWW&amp;offset=200">Next page<span class="a-letter-space"></span><span class="a-letter-space"></span>→</a></li></ul></div><style>
table.a-bordered.mojo-body-table-compact td,
table.a-bordered.mojo-body-table-compact th {
    padding: 5px;
}
table.mojo-body-table tr.mojo-group-label th {
    background: linear-gradient(to bottom, #f8f8f8, #eee);
}
</style>

The table consists of four types of data: rank, title, lifetime gross, and year. Using the inspect element feature 
in the browser, it is evident that the rank is in mojo-field-type-rank; title in mojo-field-type-title, lifetime 
gross in mojo-field-type-rank, and release year in mojo-field-type-year

In [4]:
rank = soup.find('td', class_="mojo-field-type-rank")
rank

In [169]:
rank_list = [r.text for r in soup.findAll('td', class_="mojo-field-type-rank")] 
print(len(rank_list), rank_list[:5])

200 ['1', '2', '3', '4', '5']

In [6]:
title = rank.nextSibling
title

In [170]:
title_list = [t.text for t in soup.findAll('td', class_="mojo-field-type-title")] 
print(len(title_list), title_list[:5])

200 ['Avengers: Endgame', 'Avatar', 'Titanic', 'Star Wars: Episode VII - The Force Awakens', 'Avengers: Infinity War']

In [8]:
money = title.nextSibling
money

In [171]:
money_list = [m.text for m in soup.findAll('td', class_="mojo-field-type-money")] 
print(len(money_list), money_list[:5])

200 ['$2,797,800,564', '$2,790,439,092', '$2,471,754,307', '$2,068,454,310', '$2,048,359,754']

In [10]:
year = money.nextSibling
year

In [172]:
year_list = [y.text for y in soup.findAll('td', class_="mojo-field-type-year")] 
print(len(year_list), year_list[:5])

200 ['2019', '2009', '1997', '2015', '2018']

In [173]:
# The links to the movie pages didn't have an attribute that was unique (it was the same for every link in the page). 
# To get just the link, first I got a container with the url we need for each movie
link_list = [t for t in soup.findAll('td', class_="mojo-field-type-title")] 
print(len(link_list), link_list[0])

200 <td class="a-text-left mojo-field-type-title"><a class="a-link-normal" href="/title/tt4154796/?ref_=bo_cso_table_1">Avengers: Endgame</a></td>

In [174]:
# Then I extracted just the href from each 
new_link_list = []
for t in link_list:
    link = [x.get('href') for x in t.findAll('a', class_="a-link-normal")]
    link_str = link[0]
    new_link_list.append(link_str)
print(len(new_link_list), new_link_list[0])

200 /title/tt4154796/?ref_=bo_cso_table_1

In [175]:
new_link_list[:5]

['/title/tt4154796/?ref_=bo_cso_table_1',
 '/title/tt0499549/?ref_=bo_cso_table_2',
 '/title/tt0120338/?ref_=bo_cso_table_3',
 '/title/tt2488496/?ref_=bo_cso_table_4',
 '/title/tt4154756/?ref_=bo_cso_table_5']

In [206]:
df = pd.DataFrame([rank_list, title_list, new_link_list, money_list, year_list]).transpose()
df.columns = ['Lifetime_Rank', 'Movie_Title', 'Movie_Page', 'Lifetime_Gross', 'Year_Released']
df

,Lifetime_Rank,Movie_Title,Movie_Page,Lifetime_Gross,Year_Released
0,1,Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_1,"$2,797,800,564",2019
1,2,Avatar,/title/tt0499549/?ref_=bo_cso_table_2,"$2,790,439,092",2009
2,3,Titanic,/title/tt0120338/?ref_=bo_cso_table_3,"$2,471,754,307",1997
3,4,Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_4,"$2,068,454,310",2015
4,5,Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,"$2,048,359,754",2018
...,...,...,...,...,...
195,196,The Simpsons Movie,/title/tt0462538/?ref_=bo_cso_table_196,"$536,414,293",2007
196,197,The Revenant,/title/tt1663202/?ref_=bo_cso_table_197,"$532,950,503",2015
197,198,The Meg,/title/tt4779682/?ref_=bo_cso_table_198,"$530,259,473",2018
198,199,Ralph Breaks the Internet,/title/tt5848272/?ref_=bo_cso_table_199,"$529,323,962",2018
199,200,Hotel Transylvania 3: Summer Vacation,/title/tt5220122/?ref_=bo_cso_table_200,"$528,583,774",2018

In [180]:
# Get top grossing films, 2019, 2020
html_page2 = requests.get('https://www.boxofficemojo.com/year/2019/?ref_=bo_yl_table_3')
soup2 = BeautifulSoup(html_page2.content, 'html.parser') 
rank_2019 = soup2.find('td', class_="mojo-field-type-rank")
title_2019 = soup2.find('td', class_="mojo-field-type-release")
money_2019 = soup2.find('td', class_="mojo-field-type-money")
print(rank_2019, title_2019, money_2019)

<td class="a-text-right mojo-header-column mojo-truncate mojo-field-type-rank mojo-sort-column">1</td> <td class="a-text-left mojo-field-type-release mojo-cell-wide"><a class="a-link-normal" href="/release/rl3059975681/?ref_=bo_yld_table_1">Avengers: Endgame</a></td> <td class="a-text-right mojo-field-type-money hidden">-</td>

In [181]:
rank_2019_list = [r.text for r in soup2.findAll('td', class_="mojo-field-type-rank")] 
print(len(rank_2019_list), rank_2019_list[:5])
title_2019_list = [t.text for t in soup2.findAll('td', class_="mojo-field-type-release")] 
print(len(title_2019_list), title_2019_list[:5])
money_2019_list = [m.text for m in soup2.findAll('td', class_="mojo-field-type-money")] 
print(len(money_2019_list), money_2019_list[:5])

911 ['1', '2', '3', '4', '5']
911 ['Avengers: Endgame', 'The Lion King', 'Toy Story 4', 'Frozen II', 'Captain Marvel']
2733 ['-', '$858,373,000', '$858,373,000', '-', '$543,638,043']

In [182]:
revised_money_2019_list = []
for i in range(len(money_2019_list)):
    if i%3 == 1:
       revised_money_2019_list.append(money_2019_list[i])
print(len(revised_money_2019_list), revised_money_2019_list[:5])

911 ['$858,373,000', '$543,638,043', '$434,038,008', '$430,144,682', '$426,829,839']

In [193]:
# as in the first dataframe, I extracted the link to the page for each movie
link_list_2019 = [t for t in soup2.findAll('td', class_="mojo-field-type-release")] 
new_link_list_2019 = []
for t in link_list_2019:
    link = [x.get('href') for x in t.findAll('a', class_="a-link-normal")]
    link_str = link[0]
    new_link_list_2019.append(link_str)
print(len(new_link_list_2019), new_link_list_2019[0])

911 /release/rl3059975681/?ref_=bo_yld_table_1

In [200]:
df_2019 = pd.DataFrame([rank_2019_list, title_2019_list, new_link_list_2019, revised_money_2019_list]).transpose()
df_2019.columns = ['2019_Rank', 'Movie_Title', 'Movie_Page', '2019_Gross']
df_2019

,2019_Rank,Movie_Title,Movie_Page,2019_Gross
0,1,Avengers: Endgame,/release/rl3059975681/?ref_=bo_yld_table_1,"$858,373,000"
1,2,The Lion King,/release/rl3321923073/?ref_=bo_yld_table_2,"$543,638,043"
2,3,Toy Story 4,/release/rl3798500865/?ref_=bo_yld_table_3,"$434,038,008"
3,4,Frozen II,/release/rl2424210945/?ref_=bo_yld_table_4,"$430,144,682"
4,5,Captain Marvel,/release/rl3009644033/?ref_=bo_yld_table_5,"$426,829,839"
...,...,...,...,...
906,907,Henchmen,/release/rl1241941505/?ref_=bo_yld_table_907,$297
907,908,1945,/release/rl3506603521/?ref_=bo_yld_table_908,$236
908,909,Tall Tales from the Magical Garden of Antoon K...,/release/rl17401345/?ref_=bo_yld_table_909,$220
909,910,Over the Limit,/release/rl268928513/?ref_=bo_yld_table_910,$117
910,911,Postcards from London,/release/rl3104278017/?ref_=bo_yld_table_911,$99

In [201]:
# get the page
html_page3 = requests.get('https://www.boxofficemojo.com/year/2020/?grossesOption=calendarGrosses')
soup3 = BeautifulSoup(html_page3.content, 'html.parser') 

# retrieve the data for each column
rank_2020_list = [r.text for r in soup3.findAll('td', class_="mojo-field-type-rank")] 
title_2020_list = [t.text for t in soup3.findAll('td', class_="mojo-field-type-release")] 
money_2020_list = [m.text for m in soup3.findAll('td', class_="mojo-field-type-money")] 

# select only the money column of that year's gross
revised_money_2020_list = []
for i in range(len(money_2020_list)):
    if i%3 == 1:
       revised_money_2020_list.append(money_2020_list[i])
    
# as in the first dataframe, I extracted the link to the page for each movie
link_list_2020 = [t for t in soup3.findAll('td', class_="mojo-field-type-release")] 
new_link_list_2020 = []
for t in link_list_2020:
    link = [x.get('href') for x in t.findAll('a', class_="a-link-normal")]
    link_str = link[0]
    new_link_list_2020.append(link_str)
print(len(new_link_list_2020), new_link_list_2020[0])

# create the dataframe
df_2020 = pd.DataFrame([rank_2020_list, title_2020_list, new_link_list_2020, revised_money_2020_list]).transpose()
df_2020.columns = ['2020_Rank', 'Movie_Title', 'Movie_Page', '2020_Gross']
df_2020

454 /release/rl1182631425/?ref_=bo_yld_table_1

,2020_Rank,Movie_Title,Movie_Page,2020_Gross
0,1,Bad Boys for Life,/release/rl1182631425/?ref_=bo_yld_table_1,"$204,417,855"
1,2,1917,/release/rl2969994753/?ref_=bo_yld_table_2,"$157,901,466"
2,3,Sonic the Hedgehog,/release/rl4244997633/?ref_=bo_yld_table_3,"$146,066,470"
3,4,Jumanji: The Next Level,/release/rl755467777/?ref_=bo_yld_table_4,"$124,736,710"
4,5,Star Wars: Episode IX - The Rise of Skywalker,/release/rl3305145857/?ref_=bo_yld_table_5,"$124,496,308"
...,...,...,...,...
449,450,Asako I & II,/release/rl1359513089/?ref_=bo_yld_table_450,$231
450,451,Chained for Life,/release/rl1292600833/?ref_=bo_yld_table_451,$115
451,452,Shooting the Mafia,/release/rl2366342657/?ref_=bo_yld_table_452,$88
452,453,Benjamin the Elephant (2020),/release/rl1180795649/?ref_=bo_yld_table_453,$49
453,454,Love Goes Public,/release/rl2124382721/?ref_=bo_yld_table_454,$38

In [202]:
# limited my df to the top 200 movies
df_2020 = df_2020.drop(df_2020.index[200:])
df_2020

,2020_Rank,Movie_Title,Movie_Page,2020_Gross
0,1,Bad Boys for Life,/release/rl1182631425/?ref_=bo_yld_table_1,"$204,417,855"
1,2,1917,/release/rl2969994753/?ref_=bo_yld_table_2,"$157,901,466"
2,3,Sonic the Hedgehog,/release/rl4244997633/?ref_=bo_yld_table_3,"$146,066,470"
3,4,Jumanji: The Next Level,/release/rl755467777/?ref_=bo_yld_table_4,"$124,736,710"
4,5,Star Wars: Episode IX - The Rise of Skywalker,/release/rl3305145857/?ref_=bo_yld_table_5,"$124,496,308"
...,...,...,...,...
195,196,Extra Ordinary,/release/rl2562359809/?ref_=bo_yld_table_196,"$164,346"
196,197,Palm Springs,/release/rl3175187201/?ref_=bo_yld_table_197,"$164,000"
197,198,A Call to Spy,/release/rl3796140801/?ref_=bo_yld_table_198,"$158,864"
198,199,Love Story50th Anniversary,/release/rl934707713/?ref_=bo_yld_table_199,"$153,504"
199,200,The Dark and the Wicked,/release/rl4015883009/?ref_=bo_yld_table_200,"$149,011"

In [203]:
# limited my df to the top 200 movies

df_2019 = df_2019.drop(df_2019.index[200:])
df_2019

,2019_Rank,Movie_Title,Movie_Page,2019_Gross
0,1,Avengers: Endgame,/release/rl3059975681/?ref_=bo_yld_table_1,"$858,373,000"
1,2,The Lion King,/release/rl3321923073/?ref_=bo_yld_table_2,"$543,638,043"
2,3,Toy Story 4,/release/rl3798500865/?ref_=bo_yld_table_3,"$434,038,008"
3,4,Frozen II,/release/rl2424210945/?ref_=bo_yld_table_4,"$430,144,682"
4,5,Captain Marvel,/release/rl3009644033/?ref_=bo_yld_table_5,"$426,829,839"
...,...,...,...,...
195,196,Welcome to Marwen,/release/rl2264958465/?ref_=bo_yld_table_196,"$2,405,625"
196,197,"My People, My Country",/release/rl2433451521/?ref_=bo_yld_table_197,"$2,356,683"
197,198,Promare,/release/rl3104540161/?ref_=bo_yld_table_198,"$2,287,950"
198,199,Super 30,/release/rl4211639809/?ref_=bo_yld_table_199,"$2,269,878"
199,200,Faustina: Love and Mercy,/release/rl252413441/?ref_=bo_yld_table_200,"$2,243,180"

200

In [284]:
# get budget, MPAA, genre

import re

html_page4 = requests.get('https://www.boxofficemojo.com/title/tt4154796/?ref_=bo_cso_table_1')
soup4 = BeautifulSoup(html_page4.content, 'html.parser')
# the domestic gross if the first span tag
gross = soup4.find('span', class_="money")
gross = str(gross)
gross = gross[20:-7]
gross

# the budget is not the first span tag with the money class, so it took extra steps
budget = soup4.find_all('span', text=re.compile('Budget')) 
budget_parent = [budget.parent for budget in budget]
budget_parent_string = budget_parent[0]
budget_parent_string
budget_money = [m.text for m in budget_parent_string.findAll('span', class_="money")]
budget_money_string = budget_money[0]
budget_money_string

# likewise for MPAA rating
mpaa = soup4.find_all('span', text=re.compile('MPAA')) 
mpaa_parent = [mpaa.parent for mpaa in mpaa]
mpaa_parent_string = mpaa_parent[0]
mpaa_rating = [m.text for m in mpaa_parent_string.findAll('span')]
mpaa_rating_string = mpaa_rating[1]
mpaa_rating_string

#likewise for genres
genres = soup4.find_all('span', text=re.compile('Genres')) 
genres_parent = [genres.parent for genres in genres]
genres_parent_string = genres_parent[0]
genres_categories = [m.text for m in genres_parent_string.findAll('span')]
genres_categories_string = genres_categories[1]
genres_categories_string

'Action\n    \n        Adventure\n    \n        Drama\n    \n        Sci-Fi'

In [285]:
#make genre categories a list
genres_list = list(genres_categories_string.split("\n    \n        "))
genres_list

['Action', 'Adventure', 'Drama', 'Sci-Fi']

'/title/tt4154796/?ref_=bo_cso_table_1'

In [563]:
# movie_url_list = []
# gross_master_list = []
# budget_master_list = []
# mpaa_master_list = []
# genres_master_list = []

j=500
    
for m in df_new2.Movie_Title:
    movie_url = 'https://www.boxofficemojo.com' + df_new2.Movie_Page_x[j]
#     movie_url_list.append(movie_url)
    html_page5 = requests.get(movie_url)
    soup5 = BeautifulSoup(html_page5.content, 'html.parser')
    
# the domestic gross from the first span tag
    gross = soup5.find('span', class_="money")
    gross = str(gross)
    gross = gross[20:-7]

# the budget is not the first span tag with the money class, so it took extra steps
    budget = soup5.find_all('span', text=re.compile('Budget')) 
    budget_parent = [budget.parent for budget in budget]
    if not budget_parent:
        budget_money = [np.nan]
    else:
        budget_parent_string = budget_parent[0]
        budget_money = [m.text for m in budget_parent_string.findAll('span', class_="money")]
        budget_money_string = budget_money[0]

# likewise for MPAA rating
    mpaa = soup5.find_all('span', text=re.compile('MPAA')) 
    mpaa_parent = [mpaa.parent for mpaa in mpaa]
    if not mpaa_parent:
        mpaa_rating = [np.nan, np.nan]
    else:
        mpaa_parent_string = mpaa_parent[0]
        mpaa_rating = [m.text for m in mpaa_parent_string.findAll('span')]
        mpaa_rating_string = mpaa_rating[1]

#likewise for genres
    genres = soup5.find_all('span', text=re.compile('Genres')) 
    genres_parent = [genres.parent for genres in genres]
    if not genres_parent:
        genres_categories = [np.nan, np.nan]
    else:
        genres_parent_string = genres_parent[0]
        genres_categories = [m.text for m in genres_parent_string.findAll('span')]
        genres_categories_string = genres_categories[1]

    gross_master_list.append(gross)
    budget_master_list.append(budget_money_string)
    mpaa_master_list.append(mpaa_rating_string)
    genres_master_list.append(genres_categories_string)
    
    j += 1
    if j > 550:
        break
 
# j, gross_master_list, budget_master_list, mpaa_master_list, genres_master_list

In [578]:
#make genre categories a list
movie_genres_list = []
genres_master_list_split = []
for x in genres_master_list_to_split:
    movie_genres_list = list(x.split("\n    \n        "))
    genres_master_list_split.append(movie_genres_list)
genres_master_list_split[:5]

['Action\n    \n        Adventure\n    \n        Drama\n    \n        Sci-Fi',
 'Action\n    \n        Adventure\n    \n        Fantasy\n    \n        Sci-Fi',
 'Drama\n    \n        Romance',
 'Action\n    \n        Adventure\n    \n        Sci-Fi',
 'Action\n    \n        Adventure\n    \n        Sci-Fi']

In [588]:
len(gross_master_list), len(budget_master_list), len(mpaa_master_list), len(genres_master_list_split)

(551, 551, 551, 551)

In [593]:
# add lists of scraped data to the master dataframe
df_new3 = df_new2
df_new3['Domestic_Gross']= gross_master_list
df_new3['Budget'] = budget_master_list
df_new3['MPAA'] = mpaa_master_list
df_new3['Genres'] = genres_master_list_split
df_new3.head()

,Lifetime_Rank,Movie_Title,Movie_Page_x,Lifetime_Gross,Year_Released,2019_Rank,Movie_Page_y,2019_Gross,2020_Rank,Movie_Page,2020_Gross,Domestic_Gross,Budget,MPAA,Genres
0,1,Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_1,"$2,797,800,564",2019,1,/release/rl3059975681/?ref_=bo_yld_table_1,"$858,373,000",NaN,NaN,NaN,"$858,373,000","$356,000,000",PG-13,"[Action, Adventure, Drama, Sci-Fi]"
1,2,Avatar,/title/tt0499549/?ref_=bo_cso_table_2,"$2,790,439,092",2009,NaN,NaN,NaN,NaN,NaN,NaN,"$760,507,625","$237,000,000",PG-13,"[Action, Adventure, Fantasy, Sci-Fi]"
2,3,Titanic,/title/tt0120338/?ref_=bo_cso_table_3,"$2,471,754,307",1997,NaN,NaN,NaN,NaN,NaN,NaN,"$659,363,944","$200,000,000",PG-13,"[Drama, Romance]"
3,4,Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_4,"$2,068,454,310",2015,NaN,NaN,NaN,NaN,NaN,NaN,"$936,662,225","$245,000,000",PG-13,"[Action, Adventure, Sci-Fi]"
4,5,Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,"$2,048,359,754",2018,NaN,NaN,NaN,NaN,NaN,NaN,"$678,815,482","$245,000,000",PG-13,"[Action, Adventure, Sci-Fi]"

In [635]:
df_new3.head()

,Lifetime_Rank,Movie_Title,Movie_Page_x,Lifetime_Gross,Year_Released,2019_Rank,Movie_Page_y,2019_Gross,2020_Rank,Movie_Page,2020_Gross,Domestic_Gross,Budget,MPAA,Genres
0,1,Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_1,"$2,797,800,564",2019,1,/release/rl3059975681/?ref_=bo_yld_table_1,"$858,373,000",NaN,NaN,NaN,"$858,373,000","$356,000,000",PG-13,"[Action, Adventure, Drama, Sci-Fi]"
1,2,Avatar,/title/tt0499549/?ref_=bo_cso_table_2,"$2,790,439,092",2009,NaN,NaN,NaN,NaN,NaN,NaN,"$760,507,625","$237,000,000",PG-13,"[Action, Adventure, Fantasy, Sci-Fi]"
2,3,Titanic,/title/tt0120338/?ref_=bo_cso_table_3,"$2,471,754,307",1997,NaN,NaN,NaN,NaN,NaN,NaN,"$659,363,944","$200,000,000",PG-13,"[Drama, Romance]"
3,4,Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_4,"$2,068,454,310",2015,NaN,NaN,NaN,NaN,NaN,NaN,"$936,662,225","$245,000,000",PG-13,"[Action, Adventure, Sci-Fi]"
4,5,Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,"$2,048,359,754",2018,NaN,NaN,NaN,NaN,NaN,NaN,"$678,815,482","$245,000,000",PG-13,"[Action, Adventure, Sci-Fi]"

In [634]:
i=0
j=0
for x in df_new3:
    if not df_new3['2020_Rank'][i] == None:
        print(df_new3.Movie_Title[i])
    i +=1


j

Avengers: Endgame
Avatar
Titanic
Star Wars: Episode VII - The Force Awakens
Avengers: Infinity War
Jurassic World
The Lion King
The Lion King
The Avengers
Furious 7
Frozen II
Avengers: Age of Ultron
Black Panther
Harry Potter and the Deathly Hallows: Part 2
Star Wars: Episode VIII - The Last Jedi

0

In [636]:
if not df_new3['2020_Rank'][0] == None:
        print(df_new3.Movie_Title[0])

Avengers: Endgame

In [637]:
pd.isnull(df_new3['2020_Rank'].iloc[0])

True

In [569]:
df_new2.tail()

,Lifetime_Rank,Movie_Title,Movie_Page_x,Lifetime_Gross,Year_Released,2019_Rank,Movie_Page_y,2019_Gross,2020_Rank,Movie_Page,2020_Gross
546,NaN,Extra Ordinary,/release/rl2562359809/?ref_=bo_yld_table_196,NaN,NaN,NaN,NaN,NaN,196,/release/rl2562359809/?ref_=bo_yld_table_196,"$164,346"
547,NaN,Palm Springs,/release/rl3175187201/?ref_=bo_yld_table_197,NaN,NaN,NaN,NaN,NaN,197,/release/rl3175187201/?ref_=bo_yld_table_197,"$164,000"
548,NaN,A Call to Spy,/release/rl3796140801/?ref_=bo_yld_table_198,NaN,NaN,NaN,NaN,NaN,198,/release/rl3796140801/?ref_=bo_yld_table_198,"$158,864"
549,NaN,Love Story50th Anniversary,/release/rl934707713/?ref_=bo_yld_table_199,NaN,NaN,NaN,NaN,NaN,199,/release/rl934707713/?ref_=bo_yld_table_199,"$153,504"
550,NaN,The Dark and the Wicked,/release/rl4015883009/?ref_=bo_yld_table_200,NaN,NaN,NaN,NaN,NaN,200,/release/rl4015883009/?ref_=bo_yld_table_200,"$149,011"

In [570]:
df_scraped_data = pd.DataFrame(list(zip(gross_master_list, budget_master_list, mpaa_master_list, genres_master_list)), 
               columns =['Domestic_Gross', 'Budget', 'MPAA', 'Genres']) 
df_scraped_data.head()

,Domestic_Gross,Budget,MPAA,Genres
0,"$858,373,000","$356,000,000",PG-13,Action\n \n Adventure\n \n ...
1,"$760,507,625","$237,000,000",PG-13,Action\n \n Adventure\n \n ...
2,"$659,363,944","$200,000,000",PG-13,Drama\n \n Romance
3,"$936,662,225","$245,000,000",PG-13,Action\n \n Adventure\n \n ...
4,"$678,815,482","$245,000,000",PG-13,Action\n \n Adventure\n \n ...

In [573]:
conn = sqlite3.connect('scraped_data.db') 
c = conn.cursor()

# c.execute('CREATE TABLE scraped_data (Domestic_Gross, Budget, MPAA, Genres)')
# conn.commit()

df_scraped_data.to_sql('scraped_data', conn, if_exists='replace', index = False)

In [576]:
cnx = sqlite3.connect('scraped_data.db')

# df_imported = pd.read_sql_query("SELECT * FROM scraped_data", cnx)
df_imported.head()

,Domestic_Gross,Budget,MPAA,Genres
0,"$858,373,000","$356,000,000",PG-13,Action\n \n Adventure\n \n ...
1,"$760,507,625","$237,000,000",PG-13,Action\n \n Adventure\n \n ...
2,"$659,363,944","$200,000,000",PG-13,Drama\n \n Romance
3,"$936,662,225","$245,000,000",PG-13,Action\n \n Adventure\n \n ...
4,"$678,815,482","$245,000,000",PG-13,Action\n \n Adventure\n \n ...

In [691]:
df_new3.groupby('MPAA').sum()

,Movie_Title,Movie_Page_x,Year_Released,Domestic_Gross,Budget,Genres
MPAA,,,,,,
G,The Lion KingTransformers: Age of ExtinctionTo...,/title/tt6105098/?ref_=bo_cso_table_7/title/tt...,2019201420192010201320072001201820112019201920...,"$422,783,777$422,783,777$434,038,008$415,004,8...","$45,000,000$45,000,000$200,000,000$200,000,000...","[Adventure, Animation, Drama, Family, Musical,..."
Not Rated,BharatKalank,/release/rl654870017/?ref_=bo_yld_table_185/re...,20192019,"$2,971,549$2,729,336","$50,000,000$50,000,000","[Action, Comedy, Drama, Drama, Romance]"
PG,Jurassic WorldFurious 7Jurassic World: Fallen ...,/title/tt0369610/?ref_=bo_cso_table_6/title/tt...,2015201520182013201720132019201720161999201020...,"$543,638,043$477,373,578$400,953,009$504,481,1...","$260,000,000$150,000,000$150,000,000$160,000,0...","[Adventure, Animation, Drama, Family, Musical,..."
PG-13,Avengers: EndgameAvatarTitanicStar Wars: Episo...,/title/tt4154796/?ref_=bo_cso_table_1/title/tt...,2019200919972015201820192012201920152018201120...,"$858,373,000$760,507,625$659,363,944$936,662,2...","$356,000,000$237,000,000$200,000,000$245,000,0...","[Action, Adventure, Drama, Sci-Fi, Action, Adv..."
R,JokerDeadpool 2DeadpoolThe Matrix ReloadedItIt...,/title/tt7286456/?ref_=bo_cso_table_33/title/t...,2019201820162003201720192017200420112015201620...,"$335,451,311$324,591,735$363,070,709$281,576,4...","$55,000,000$110,000,000$58,000,000$150,000,000...","[Crime, Drama, Thriller, Action, Adventure, Co..."

In [692]:
df_new3.Lifetime_Gross[0]

'$2,797,800,564'

[('1',
  'Avengers: Endgame',
  '/title/tt4154796/?ref_=bo_cso_table_1',
  '$2,797,800,564',
  '2019'),
 ('2',
  'Avatar',
  '/title/tt0499549/?ref_=bo_cso_table_2',
  '$2,790,439,092',
  '2009'),
 ('3',
  'Titanic',
  '/title/tt0120338/?ref_=bo_cso_table_3',
  '$2,471,754,307',
  '1997'),
 ('4',
  'Star Wars: Episode VII - The Force Awakens',
  '/title/tt2488496/?ref_=bo_cso_table_4',
  '$2,068,454,310',
  '2015'),
 ('5',
  'Avengers: Infinity War',
  '/title/tt4154756/?ref_=bo_cso_table_5',
  '$2,048,359,754',
  '2018'),
 ('6',
  'Jurassic World',
  '/title/tt0369610/?ref_=bo_cso_table_6',
  '$1,670,471,444',
  '2015'),
 ('7',
  'The Lion King',
  '/title/tt6105098/?ref_=bo_cso_table_7',
  '$1,657,870,986',
  '2019'),
 ('8',
  'The Avengers',
  '/title/tt0848228/?ref_=bo_cso_table_8',
  '$1,518,815,515',
  '2012'),
 ('9',
  'Furious 7',
  '/title/tt2820852/?ref_=bo_cso_table_9',
  '$1,515,255,622',
  '2015'),
 ('10',
  'Frozen II',
  '/title/tt4520988/?ref_=bo_cso_table_10',
  '$1,450,026,933',
  '2019'),
 ('11',
  'Avengers: Age of Ultron',
  '/title/tt2395427/?ref_=bo_cso_table_11',
  '$1,402,809,540',
  '2015'),
 ('12',
  'Black Panther',
  '/title/tt1825683/?ref_=bo_cso_table_12',
  '$1,347,597,973',
  '2018'),
 ('13',
  'Harry Potter and the Deathly Hallows: Part 2',
  '/title/tt1201607/?ref_=bo_cso_table_13',
  '$1,342,223,936',
  '2011'),
 ('14',
  'Star Wars: Episode VIII - The Last Jedi',
  '/title/tt2527336/?ref_=bo_cso_table_14',
  '$1,332,698,830',
  '2017'),
 ('15',
  'Jurassic World: Fallen Kingdom',
  '/title/tt4881806/?ref_=bo_cso_table_15',
  '$1,310,464,680',
  '2018'),
 ('16',
  'Frozen',
  '/title/tt2294629/?ref_=bo_cso_table_16',
  '$1,281,019,275',
  '2013'),
 ('17',
  'Beauty and the Beast',
  '/title/tt2771200/?ref_=bo_cso_table_17',
  '$1,264,064,831',
  '2017'),
 ('18',
  'Incredibles 2',
  '/title/tt3606756/?ref_=bo_cso_table_18',
  '$1,243,089,244',
  '2018'),
 ('19',
  'The Fate of the Furious',
  '/title/tt4630562/?ref_=bo_cso_table_19',
  '$1,236,005,118',
  '2017'),
 ('20',
  'Iron Man 3',
  '/title/tt1300854/?ref_=bo_cso_table_20',
  '$1,214,811,252',
  '2013'),
 ('21',
  'Minions',
  '/title/tt2293640/?ref_=bo_cso_table_21',
  '$1,159,444,662',
  '2015'),
 ('22',
  'Captain America: Civil War',
  '/title/tt3498820/?ref_=bo_cso_table_22',
  '$1,153,561,649',
  '2016'),
 ('23',
  'Aquaman',
  '/title/tt1477834/?ref_=bo_cso_table_23',
  '$1,148,485,886',
  '2018'),
 ('24',
  'The Lord of the Rings: The Return of the King',
  '/title/tt0167260/?ref_=bo_cso_table_24',
  '$1,142,456,987',
  '2003'),
 ('25',
  'Spider-Man: Far from Home',
  '/title/tt6320628/?ref_=bo_cso_table_25',
  '$1,131,927,996',
  '2019'),
 ('26',
  'Captain Marvel',
  '/title/tt4154664/?ref_=bo_cso_table_26',
  '$1,128,462,972',
  '2019'),
 ('27',
  'Transformers: Dark of the Moon',
  '/title/tt1399103/?ref_=bo_cso_table_27',
  '$1,123,794,079',
  '2011'),
 ('28',
  'Skyfall',
  '/title/tt1074638/?ref_=bo_cso_table_28',
  '$1,108,561,013',
  '2012'),
 ('29',
  'Fast & Furious Presents: Hobbs & Shaw',
  '/title/tt6806448/?ref_=bo_cso_table_29',
  '$1,104,826,325',
  '2019'),
 ('30',
  'Transformers: Age of Extinction',
  '/title/tt2109248/?ref_=bo_cso_table_30',
  '$1,104,054,072',
  '2014'),
 ('31',
  'The Lion King',
  '/title/tt0110357/?ref_=bo_cso_table_31',
  '$1,083,720,877',
  '1994'),
 ('32',
  'The Dark Knight Rises',
  '/title/tt1345836/?ref_=bo_cso_table_32',
  '$1,081,142,612',
  '2012'),
 ('33',
  'Joker',
  '/title/tt7286456/?ref_=bo_cso_table_33',
  '$1,074,251,311',
  '2019'),
 ('34',
  'Star Wars: Episode IX - The Rise of Skywalker',
  '/title/tt2527338/?ref_=bo_cso_table_34',
  '$1,074,144,248',
  '2019'),
 ('35',
  'Toy Story 4',
  '/title/tt1979376/?ref_=bo_cso_table_35',
  '$1,073,394,593',
  '2019'),
 ('36',
  'Toy Story 3',
  '/title/tt0435761/?ref_=bo_cso_table_36',
  '$1,066,970,811',
  '2010'),
 ('37',
  "Pirates of the Caribbean: Dead Man's Chest",
  '/title/tt0383574/?ref_=bo_cso_table_37',
  '$1,066,179,747',
  '2006'),
 ('38',
  'Rogue One: A Star Wars Story',
  '/title/tt3748528/?ref_=bo_cso_table_38',
  '$1,056,057,720',
  '2016'),
 ('39',
  'Aladdin',
  '/title/tt6139732/?ref_=bo_cso_table_39',
  '$1,050,693,953',
  '2019'),
 ('40',
  'Pirates of the Caribbean: On Stranger Tides',
  '/title/tt1298650/?ref_=bo_cso_table_40',
  '$1,045,713,802',
  '2011'),
 ('41',
  'Despicable Me 3',
  '/title/tt3469046/?ref_=bo_cso_table_41',
  '$1,034,800,131',
  '2017'),
 ('42',
  'Jurassic Park',
  '/title/tt0107290/?ref_=bo_cso_table_42',
  '$1,033,928,303',
  '1993'),
 ('43',
  'Finding Dory',
  '/title/tt2277860/?ref_=bo_cso_table_43',
  '$1,028,570,942',
  '2016'),
 ('44',
  'Star Wars: Episode I - The Phantom Menace',
  '/title/tt0120915/?ref_=bo_cso_table_44',
  '$1,027,082,707',
  '1999'),
 ('45',
  'Alice in Wonderland',
  '/title/tt1014759/?ref_=bo_cso_table_45',
  '$1,025,468,216',
  '2010'),
 ('46',
  'Zootopia',
  '/title/tt2948356/?ref_=bo_cso_table_46',
  '$1,023,792,558',
  '2016'),
 ('47',
  'The Hobbit: An Unexpected Journey',
  '/title/tt0903624/?ref_=bo_cso_table_47',
  '$1,017,003,568',
  '2012'),
 ('48',
  "Harry Potter and the Sorcerer's Stone",
  '/title/tt0241527/?ref_=bo_cso_table_48',
  '$1,006,968,171',
  '2001'),
 ('49',
  'The Dark Knight',
  '/title/tt0468569/?ref_=bo_cso_table_49',
  '$1,005,973,645',
  '2008'),
 ('50',
  'Harry Potter and the Deathly Hallows: Part 1',
  '/title/tt0926084/?ref_=bo_cso_table_50',
  '$976,999,243',
  '2010'),
 ('51',
  'Despicable Me 2',
  '/title/tt1690953/?ref_=bo_cso_table_51',
  '$970,766,005',
  '2013'),
 ('52',
  'The Jungle Book',
  '/title/tt3040964/?ref_=bo_cso_table_52',
  '$966,554,929',
  '2016'),
 ('53',
  'Jumanji: Welcome to the Jungle',
  '/title/tt2283362/?ref_=bo_cso_table_53',
  '$962,103,996',
  '2017'),
 ('54',
  "Pirates of the Caribbean: At World's End",
  '/title/tt0449088/?ref_=bo_cso_table_54',
  '$960,996,492',
  '2007'),
 ('55',
  'The Hobbit: The Desolation of Smaug',
  '/title/tt1170358/?ref_=bo_cso_table_55',
  '$958,366,855',
  '2013'),
 ('56',
  'The Hobbit: The Battle of the Five Armies',
  '/title/tt2310332/?ref_=bo_cso_table_56',
  '$956,019,788',
  '2014'),
 ('57',
  'The Lord of the Rings: The Two Towers',
  '/title/tt0167261/?ref_=bo_cso_table_57',
  '$943,396,133',
  '2002'),
 ('58',
  'Harry Potter and the Order of the Phoenix',
  '/title/tt0373889/?ref_=bo_cso_table_58',
  '$942,172,396',
  '2007'),
 ('59',
  'Finding Nemo',
  '/title/tt0266543/?ref_=bo_cso_table_59',
  '$940,352,645',
  '2003'),
 ('60',
  'Harry Potter and the Half-Blood Prince',
  '/title/tt0417741/?ref_=bo_cso_table_60',
  '$934,454,096',
  '2009'),
 ('61',
  'Shrek 2',
  '/title/tt0298148/?ref_=bo_cso_table_61',
  '$928,760,770',
  '2004'),
 ('62',
  'Bohemian Rhapsody',
  '/title/tt1727824/?ref_=bo_cso_table_62',
  '$905,004,529',
  '2018'),
 ('63',
  'Harry Potter and the Goblet of Fire',
  '/title/tt0330373/?ref_=bo_cso_table_63',
  '$896,420,762',
  '2005'),
 ('64',
  'Spider-Man 3',
  '/title/tt0413300/?ref_=bo_cso_table_64',
  '$894,983,373',
  '2007'),
 ('65',
  'The Lord of the Rings: The Fellowship of the Ring',
  '/title/tt0120737/?ref_=bo_cso_table_65',
  '$888,159,092',
  '2001'),
 ('66',
  'Ice Age: Dawn of the Dinosaurs',
  '/title/tt1080016/?ref_=bo_cso_table_66',
  '$886,686,817',
  '2009'),
 ('67',
  'Spectre',
  '/title/tt2379713/?ref_=bo_cso_table_67',
  '$880,674,609',
  '2015'),
 ('68',
  'Spider-Man: Homecoming',
  '/title/tt2250912/?ref_=bo_cso_table_68',
  '$880,166,924',
  '2017'),
 ('69',
  'Harry Potter and the Chamber of Secrets',
  '/title/tt0295297/?ref_=bo_cso_table_69',
  '$879,602,366',
  '2002'),
 ('70',
  'Ice Age: Continental Drift',
  '/title/tt1667889/?ref_=bo_cso_table_70',
  '$877,244,782',
  '2012'),
 ('71',
  'The Secret Life of Pets',
  '/title/tt2709768/?ref_=bo_cso_table_71',
  '$875,458,631',
  '2016'),
 ('72',
  'Batman v Superman: Dawn of Justice',
  '/title/tt2975590/?ref_=bo_cso_table_72',
  '$873,637,528',
  '2016'),
 ('73',
  'Wolf Warrior 2',
  '/title/tt7131870/?ref_=bo_cso_table_73',
  '$870,325,439',
  '2017'),
 ('74',
  'Star Wars: Episode III - Revenge of the Sith',
  '/title/tt0121766/?ref_=bo_cso_table_74',
  '$868,390,560',
  '2005'),
 ('75',
  'The Hunger Games: Catching Fire',
  '/title/tt1951264/?ref_=bo_cso_table_75',
  '$865,011,746',
  '2013'),
 ('76',
  'Guardians of the Galaxy Vol. 2',
  '/title/tt3896198/?ref_=bo_cso_table_76',
  '$863,756,051',
  '2017'),
 ('77',
  'Inside Out',
  '/title/tt2096673/?ref_=bo_cso_table_77',
  '$858,071,350',
  '2015'),
 ('78',
  'Venom',
  '/title/tt1270797/?ref_=bo_cso_table_78',
  '$856,085,151',
  '2018'),
 ('79',
  'Thor: Ragnarok',
  '/title/tt3501632/?ref_=bo_cso_table_79',
  '$854,189,384',
  '2017'),
 ('80',
  'Inception',
  '/title/tt1375666/?ref_=bo_cso_table_80',
  '$836,836,967',
  '2010'),
 ('81',
  'Transformers: Revenge of the Fallen',
  '/title/tt1055369/?ref_=bo_cso_table_81',
  '$836,303,693',
  '2009'),
 ('82',
  'The Twilight Saga: Breaking Dawn - Part 2',
  '/title/tt1673434/?ref_=bo_cso_table_82',
  '$829,747,654',
  '2012'),
 ('83',
  'Spider-Man',
  '/title/tt0145487/?ref_=bo_cso_table_83',
  '$825,025,036',
  '2002'),
 ('84',
  'Wonder Woman',
  '/title/tt0451279/?ref_=bo_cso_table_84',
  '$822,303,505',
  '2017'),
 ('85',
  'Independence Day',
  '/title/tt0116629/?ref_=bo_cso_table_85',
  '$817,400,891',
  '1996'),
 ('86',
  'Fantastic Beasts and Where to Find Them',
  '/title/tt3183660/?ref_=bo_cso_table_86',
  '$814,044,001',
  '2016'),
 ('87',
  'Shrek the Third',
  '/title/tt0413267/?ref_=bo_cso_table_87',
  '$813,367,380',
  '2007'),
 ('88',
  'Coco',
  '/title/tt2380307/?ref_=bo_cso_table_88',
  '$807,817,888',
  '2017'),
 ('89',
  'Jumanji: The Next Level',
  '/title/tt7975244/?ref_=bo_cso_table_89',
  '$800,059,707',
  '2019'),
 ('90',
  'Harry Potter and the Prisoner of Azkaban',
  '/title/tt0304141/?ref_=bo_cso_table_90',
  '$796,246,544',
  '2004'),
 ('91',
  'Pirates of the Caribbean: Dead Men Tell No Tales',
  '/title/tt1790809/?ref_=bo_cso_table_91',
  '$794,881,442',
  '2017'),
 ('92',
  'E.T. the Extra-Terrestrial',
  '/title/tt0083866/?ref_=bo_cso_table_92',
  '$792,910,554',
  '1982'),
 ('93',
  '2012',
  '/title/tt1190080/?ref_=bo_cso_table_93',
  '$791,217,826',
  '2009'),
 ('94',
  'Mission: Impossible - Fallout',
  '/title/tt4912910/?ref_=bo_cso_table_94',
  '$791,120,426',
  '2018'),
 ('95',
  'Indiana Jones and the Kingdom of the Crystal Skull',
  '/title/tt0367882/?ref_=bo_cso_table_95',
  '$790,653,942',
  '2008'),
 ('96',
  'Spider-Man 2',
  '/title/tt0316654/?ref_=bo_cso_table_96',
  '$788,976,453',
  '2004'),
 ('97',
  'Fast & Furious 6',
  '/title/tt1905041/?ref_=bo_cso_table_97',
  '$788,680,968',
  '2013'),
 ('98',
  'Deadpool 2',
  '/title/tt5463162/?ref_=bo_cso_table_98',
  '$786,365,638',
  '2018'),
 ('99',
  'Deadpool',
  '/title/tt1431045/?ref_=bo_cso_table_99',
  '$782,711,573',
  '2016'),
 ('100',
  'Star Wars: Episode IV - A New Hope',
  '/title/tt0076759/?ref_=bo_cso_table_100',
  '$775,398,007',
  '1977'),
 ('101',
  'Guardians of the Galaxy',
  '/title/tt2015381/?ref_=bo_cso_table_101',
  '$773,350,147',
  '2014'),
 ('102',
  'The Da Vinci Code',
  '/title/tt0382625/?ref_=bo_cso_table_102',
  '$760,006,945',
  '2006'),
 ('103',
  'Maleficent',
  '/title/tt1587310/?ref_=bo_cso_table_103',
  '$758,411,779',
  '2014'),
 ('104',
  'The Amazing Spider-Man',
  '/title/tt0948470/?ref_=bo_cso_table_104',
  '$757,930,663',
  '2012'),
 ('105',
  'The Hunger Games: Mockingjay - Part 1',
  '/title/tt1951265/?ref_=bo_cso_table_105',
  '$755,356,711',
  '2014'),
 ('106',
  'Shrek Forever After',
  '/title/tt0892791/?ref_=bo_cso_table_106',
  '$752,600,867',
  '2010'),
 ('107',
  "Madagascar 3: Europe's Most Wanted",
  '/title/tt1277953/?ref_=bo_cso_table_107',
  '$746,921,274',
  '2012'),
 ('108',
  'Suicide Squad',
  '/title/tt1386697/?ref_=bo_cso_table_108',
  '$746,846,894',
  '2016'),
 ('109',
  'X-Men: Days of Future Past',
  '/title/tt1877832/?ref_=bo_cso_table_109',
  '$746,045,700',
  '2014'),
 ('110',
  'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe',
  '/title/tt0363771/?ref_=bo_cso_table_110',
  '$745,013,115',
  '2005'),
 ('111',
  'Monsters University',
  '/title/tt1453405/?ref_=bo_cso_table_111',
  '$743,559,645',
  '2013'),
 ('112',
  'The Matrix Reloaded',
  '/title/tt0234215/?ref_=bo_cso_table_112',
  '$741,847,937',
  '2003'),
 ('113',
  'Up',
  '/title/tt1049413/?ref_=bo_cso_table_113',
  '$735,099,102',
  '2009'),
 ('114',
  'Ne Zha',
  '/title/tt10627720/?ref_=bo_cso_table_114',
  '$726,063,471',
  '2019'),
 ('115',
  'Gravity',
  '/title/tt1454468/?ref_=bo_cso_table_115',
  '$723,192,705',
  '2013'),
 ('116',
  'Captain America: The Winter Soldier',
  '/title/tt1843866/?ref_=bo_cso_table_116',
  '$714,421,503',
  '2014'),
 ('117',
  'The Twilight Saga: Breaking Dawn - Part 1',
  '/title/tt1324999/?ref_=bo_cso_table_117',
  '$712,205,856',
  '2011'),
 ('118',
  'The Twilight Saga: New Moon',
  '/title/tt1259571/?ref_=bo_cso_table_118',
  '$711,025,481',
  '2009'),
 ('119',
  'Dawn of the Planet of the Apes',
  '/title/tt2103281/?ref_=bo_cso_table_119',
  '$710,644,566',
  '2014'),
 ('120',
  'Transformers',
  '/title/tt0418279/?ref_=bo_cso_table_120',
  '$709,709,780',
  '2007'),
 ('121',
  'The Amazing Spider-Man 2',
  '/title/tt1872181/?ref_=bo_cso_table_121',
  '$708,982,323',
  '2014'),
 ('122',
  'It',
  '/title/tt1396484/?ref_=bo_cso_table_122',
  '$701,796,444',
  '2017'),
 ('123',
  'Interstellar',
  '/title/tt0816692/?ref_=bo_cso_table_123',
  '$701,723,680',
  '2014'),
 ('124',
  'The Wandering Earth',
  '/title/tt7605074/?ref_=bo_cso_table_124',
  '$699,856,699',
  '2019'),
 ('125',
  'The Twilight Saga: Eclipse',
  '/title/tt1325004/?ref_=bo_cso_table_125',
  '$698,491,347',
  '2010'),
 ('126',
  'Mission: Impossible - Ghost Protocol',
  '/title/tt1229238/?ref_=bo_cso_table_126',
  '$694,713,380',
  '2011'),
 ('127',
  'The Hunger Games',
  '/title/tt1392170/?ref_=bo_cso_table_127',
  '$694,394,724',
  '2012'),
 ('128',
  'It Chapter Two',
  '/title/tt7349950/?ref_=bo_cso_table_128',
  '$683,955,083',
  '2019'),
 ('129',
  'Mission: Impossible - Rogue Nation',
  '/title/tt2381249/?ref_=bo_cso_table_129',
  '$682,716,636',
  '2015'),
 ('130',
  'Forrest Gump',
  '/title/tt0109830/?ref_=bo_cso_table_130',
  '$678,226,133',
  '1994'),
 ('131',
  'Doctor Strange',
  '/title/tt1211837/?ref_=bo_cso_table_131',
  '$677,796,076',
  '2016'),
 ('132',
  'The Sixth Sense',
  '/title/tt0167404/?ref_=bo_cso_table_132',
  '$672,806,292',
  '1999'),
 ('133',
  'Man of Steel',
  '/title/tt0770828/?ref_=bo_cso_table_133',
  '$668,045,518',
  '2013'),
 ('134',
  'Ice Age: The Meltdown',
  '/title/tt0438097/?ref_=bo_cso_table_134',
  '$667,094,506',
  '2006'),
 ('135',
  'Kung Fu Panda 2',
  '/title/tt1302011/?ref_=bo_cso_table_135',
  '$665,692,281',
  '2011'),
 ('136',
  'The Hunger Games: Mockingjay - Part 2',
  '/title/tt1951266/?ref_=bo_cso_table_136',
  '$658,344,137',
  '2015'),
 ('137',
  'Justice League',
  '/title/tt0974015/?ref_=bo_cso_table_137',
  '$657,926,987',
  '2017'),
 ('138',
  'Big Hero 6',
  '/title/tt2245084/?ref_=bo_cso_table_138',
  '$657,869,686',
  '2014'),
 ('139',
  'Fantastic Beasts: The Crimes of Grindelwald',
  '/title/tt4123430/?ref_=bo_cso_table_139',
  '$654,855,901',
  '2018'),
 ('140',
  'Pirates of the Caribbean: The Curse of the Black Pearl',
  '/title/tt0325980/?ref_=bo_cso_table_140',
  '$654,264,015',
  '2003'),
 ('141',
  'Star Wars: Episode II - Attack of the Clones',
  '/title/tt0121765/?ref_=bo_cso_table_141',
  '$653,779,970',
  '2002'),
 ('142',
  'Thor: The Dark World',
  '/title/tt1981115/?ref_=bo_cso_table_142',
  '$644,783,140',
  '2013'),
 ('143',
  'Moana',
  '/title/tt3521164/?ref_=bo_cso_table_143',
  '$643,350,998',
  '2016'),
 ('144',
  'Sing',
  '/title/tt3470600/?ref_=bo_cso_table_144',
  '$634,208,384',
  '2016'),
 ('145',
  'Kung Fu Panda',
  '/title/tt0441773/?ref_=bo_cso_table_145',
  '$631,746,197',
  '2008'),
 ('146',
  'The Incredibles',
  '/title/tt0317705/?ref_=bo_cso_table_146',
  '$631,607,053',
  '2004'),
 ('147',
  'The Martian',
  '/title/tt3659388/?ref_=bo_cso_table_147',
  '$630,162,235',
  '2015'),
 ('148',
  'Hancock',
  '/title/tt0448157/?ref_=bo_cso_table_148',
  '$629,443,428',
  '2008'),
 ('149',
  'Fast Five',
  '/title/tt1596343/?ref_=bo_cso_table_149',
  '$626,137,675',
  '2011'),
 ('150',
  'Men in Black 3',
  '/title/tt1409024/?ref_=bo_cso_table_150',
  '$624,026,776',
  '2012'),
 ('151',
  'Iron Man 2',
  '/title/tt1228705/?ref_=bo_cso_table_151',
  '$623,933,331',
  '2010'),
 ('152',
  'Ratatouille',
  '/title/tt0382932/?ref_=bo_cso_table_152',
  '$623,726,085',
  '2007'),
 ('153',
  'Ant-Man and the Wasp',
  '/title/tt5095030/?ref_=bo_cso_table_153',
  '$622,674,139',
  '2018'),
 ('154',
  'How to Train Your Dragon 2',
  '/title/tt1646971/?ref_=bo_cso_table_154',
  '$621,537,519',
  '2014'),
 ('155',
  'Logan',
  '/title/tt3315342/?ref_=bo_cso_table_155',
  '$619,179,950',
  '2017'),
 ('156',
  'The Lost World: Jurassic Park',
  '/title/tt0119567/?ref_=bo_cso_table_156',
  '$618,638,999',
  '1997'),
 ('157',
  'Casino Royale',
  '/title/tt0381061/?ref_=bo_cso_table_157',
  '$616,501,619',
  '2006'),
 ('158',
  'The Passion of the Christ',
  '/title/tt0335345/?ref_=bo_cso_table_158',
  '$612,054,428',
  '2004'),
 ('159',
  'Mamma Mia!',
  '/title/tt0795421/?ref_=bo_cso_table_159',
  '$609,916,146',
  '2008'),
 ('160',
  'Life of Pi',
  '/title/tt0454876/?ref_=bo_cso_table_160',
  '$609,016,565',
  '2012'),
 ('161',
  'Transformers: The Last Knight',
  '/title/tt3371366/?ref_=bo_cso_table_161',
  '$605,425,157',
  '2017'),
 ('162',
  'Madagascar: Escape 2 Africa',
  '/title/tt0479952/?ref_=bo_cso_table_162',
  '$603,900,354',
  '2008'),
 ('163',
  'War of the Worlds',
  '/title/tt0407304/?ref_=bo_cso_table_163',
  '$603,873,119',
  '2005'),
 ('164',
  'Tangled',
  '/title/tt0398286/?ref_=bo_cso_table_164',
  '$592,461,959',
  '2010'),
 ('165',
  'Quantum of Solace',
  '/title/tt0830515/?ref_=bo_cso_table_165',
  '$589,580,482',
  '2008'),
 ('166',
  'Men in Black',
  '/title/tt0119654/?ref_=bo_cso_table_166',
  '$589,390,539',
  '1997'),
 ('167',
  'The Croods',
  '/title/tt0481499/?ref_=bo_cso_table_167',
  '$587,205,319',
  '2013'),
 ('168',
  'The Hangover Part II',
  '/title/tt1411697/?ref_=bo_cso_table_168',
  '$586,764,305',
  '2011'),
 ('169',
  'Iron Man',
  '/title/tt0371746/?ref_=bo_cso_table_169',
  '$585,796,247',
  '2008'),
 ('170',
  'I Am Legend',
  '/title/tt0480249/?ref_=bo_cso_table_170',
  '$585,410,052',
  '2007'),
 ('171',
  'Ready Player One',
  '/title/tt1677720/?ref_=bo_cso_table_171',
  '$582,893,671',
  '2018'),
 ('172',
  'Monsters, Inc.',
  '/title/tt0198781/?ref_=bo_cso_table_172',
  '$579,707,738',
  '2001'),
 ('173',
  'Operation Red Sea',
  '/title/tt6878882/?ref_=bo_cso_table_173',
  '$579,330,426',
  '2018'),
 ('174',
  'Night at the Museum',
  '/title/tt0477347/?ref_=bo_cso_table_174',
  '$574,481,229',
  '2006'),
 ('175',
  'Fifty Shades of Grey',
  '/title/tt2322441/?ref_=bo_cso_table_175',
  '$569,651,467',
  '2015'),
 ('176',
  'Kong: Skull Island',
  '/title/tt3731562/?ref_=bo_cso_table_176',
  '$566,652,812',
  '2017'),
 ('177',
  'The Smurfs',
  '/title/tt0472181/?ref_=bo_cso_table_177',
  '$563,749,323',
  '2011'),
 ('178',
  'King Kong',
  '/title/tt0360717/?ref_=bo_cso_table_178',
  '$562,363,449',
  '2005'),
 ('179',
  'Cars 2',
  '/title/tt1216475/?ref_=bo_cso_table_179',
  '$559,852,396',
  '2011'),
 ('180',
  'Puss in Boots',
  '/title/tt0448694/?ref_=bo_cso_table_180',
  '$554,987,477',
  '2011'),
 ('181',
  'The Mermaid',
  '/title/tt4701660/?ref_=bo_cso_table_181',
  '$553,810,228',
  '2016'),
 ('182',
  'Armageddon',
  '/title/tt0120591/?ref_=bo_cso_table_182',
  '$553,709,788',
  '1998'),
 ('183',
  'The Day After Tomorrow',
  '/title/tt0319262/?ref_=bo_cso_table_183',
  '$552,639,571',

[('1',
  'Avengers: Endgame',
  '/title/tt4154796/?ref_=bo_cso_table_1',
  '$2,797,800,564',
  '2019',
  'Avengers: Endgame',
  '/title/tt4154796/?ref_=bo_cso_table_1'),
 ('2',
  'Avatar',
  '/title/tt0499549/?ref_=bo_cso_table_2',
  '$2,790,439,092',
  '2009',
  'Avatar',
  '/title/tt0499549/?ref_=bo_cso_table_2'),
 ('3',
  'Titanic',
  '/title/tt0120338/?ref_=bo_cso_table_3',
  '$2,471,754,307',
  '1997',
  'Titanic',
  '/title/tt0120338/?ref_=bo_cso_table_3'),
 ('4',
  'Star Wars: Episode VII - The Force Awakens',
  '/title/tt2488496/?ref_=bo_cso_table_4',
  '$2,068,454,310',
  '2015',
  'Star Wars: Episode VII - The Force Awakens',
  '/title/tt2488496/?ref_=bo_cso_table_4'),
 ('5',
  'Avengers: Infinity War',
  '/title/tt4154756/?ref_=bo_cso_table_5',
  '$2,048,359,754',
  '2018',
  'Avengers: Infinity War',
  '/title/tt4154756/?ref_=bo_cso_table_5'),
 ('6',
  'Jurassic World',
  '/title/tt0369610/?ref_=bo_cso_table_6',
  '$1,670,471,444',
  '2015',
  'Jurassic World',
  '/title/tt0369610/?ref_=bo_cso_table_6'),
 ('7',
  'The Lion King',
  '/title/tt6105098/?ref_=bo_cso_table_7',
  '$1,657,870,986',
  '2019',
  'The Lion King',
  '/title/tt0110357/?ref_=bo_cso_table_31'),
 ('7',
  'The Lion King',
  '/title/tt6105098/?ref_=bo_cso_table_7',
  '$1,657,870,986',
  '2019',
  'The Lion King',
  '/title/tt6105098/?ref_=bo_cso_table_7'),
 ('8',
  'The Avengers',
  '/title/tt0848228/?ref_=bo_cso_table_8',
  '$1,518,815,515',
  '2012',
  'The Avengers',
  '/title/tt0848228/?ref_=bo_cso_table_8'),
 ('9',
  'Furious 7',
  '/title/tt2820852/?ref_=bo_cso_table_9',
  '$1,515,255,622',
  '2015',
  'Furious 7',
  '/title/tt2820852/?ref_=bo_cso_table_9'),
 ('10',
  'Frozen II',
  '/title/tt4520988/?ref_=bo_cso_table_10',
  '$1,450,026,933',
  '2019',
  'Frozen II',
  '/title/tt4520988/?ref_=bo_cso_table_10'),
 ('11',
  'Avengers: Age of Ultron',
  '/title/tt2395427/?ref_=bo_cso_table_11',
  '$1,402,809,540',
  '2015',
  'Avengers: Age of Ultron',
  '/title/tt2395427/?ref_=bo_cso_table_11'),
 ('12',
  'Black Panther',
  '/title/tt1825683/?ref_=bo_cso_table_12',
  '$1,347,597,973',
  '2018',
  'Black Panther',
  '/title/tt1825683/?ref_=bo_cso_table_12'),
 ('13',
  'Harry Potter and the Deathly Hallows: Part 2',
  '/title/tt1201607/?ref_=bo_cso_table_13',
  '$1,342,223,936',
  '2011',
  'Harry Potter and the Deathly Hallows: Part 2',
  '/title/tt1201607/?ref_=bo_cso_table_13'),
 ('14',
  'Star Wars: Episode VIII - The Last Jedi',
  '/title/tt2527336/?ref_=bo_cso_table_14',
  '$1,332,698,830',
  '2017',
  'Star Wars: Episode VIII - The Last Jedi',
  '/title/tt2527336/?ref_=bo_cso_table_14'),
 ('15',
  'Jurassic World: Fallen Kingdom',
  '/title/tt4881806/?ref_=bo_cso_table_15',
  '$1,310,464,680',
  '2018',
  'Jurassic World: Fallen Kingdom',
  '/title/tt4881806/?ref_=bo_cso_table_15'),
 ('16',
  'Frozen',
  '/title/tt2294629/?ref_=bo_cso_table_16',
  '$1,281,019,275',
  '2013',
  'Frozen',
  '/title/tt2294629/?ref_=bo_cso_table_16'),
 ('17',
  'Beauty and the Beast',
  '/title/tt2771200/?ref_=bo_cso_table_17',
  '$1,264,064,831',
  '2017',
  'Beauty and the Beast',
  '/title/tt2771200/?ref_=bo_cso_table_17'),
 ('18',
  'Incredibles 2',
  '/title/tt3606756/?ref_=bo_cso_table_18',
  '$1,243,089,244',
  '2018',
  'Incredibles 2',
  '/title/tt3606756/?ref_=bo_cso_table_18'),
 ('19',
  'The Fate of the Furious',
  '/title/tt4630562/?ref_=bo_cso_table_19',
  '$1,236,005,118',
  '2017',
  'The Fate of the Furious',
  '/title/tt4630562/?ref_=bo_cso_table_19'),
 ('20',
  'Iron Man 3',
  '/title/tt1300854/?ref_=bo_cso_table_20',
  '$1,214,811,252',
  '2013',
  'Iron Man 3',
  '/title/tt1300854/?ref_=bo_cso_table_20'),
 ('21',
  'Minions',
  '/title/tt2293640/?ref_=bo_cso_table_21',
  '$1,159,444,662',
  '2015',
  'Minions',
  '/title/tt2293640/?ref_=bo_cso_table_21'),
 ('22',
  'Captain America: Civil War',
  '/title/tt3498820/?ref_=bo_cso_table_22',
  '$1,153,561,649',
  '2016',
  'Captain America: Civil War',
  '/title/tt3498820/?ref_=bo_cso_table_22'),
 ('23',
  'Aquaman',
  '/title/tt1477834/?ref_=bo_cso_table_23',
  '$1,148,485,886',
  '2018',
  'Aquaman',
  '/title/tt1477834/?ref_=bo_cso_table_23'),
 ('24',
  'The Lord of the Rings: The Return of the King',
  '/title/tt0167260/?ref_=bo_cso_table_24',
  '$1,142,456,987',
  '2003',
  'The Lord of the Rings: The Return of the King',
  '/title/tt0167260/?ref_=bo_cso_table_24'),
 ('25',
  'Spider-Man: Far from Home',
  '/title/tt6320628/?ref_=bo_cso_table_25',
  '$1,131,927,996',
  '2019',
  'Spider-Man: Far from Home',
  '/title/tt6320628/?ref_=bo_cso_table_25'),
 ('26',
  'Captain Marvel',
  '/title/tt4154664/?ref_=bo_cso_table_26',
  '$1,128,462,972',
  '2019',
  'Captain Marvel',
  '/title/tt4154664/?ref_=bo_cso_table_26'),
 ('27',
  'Transformers: Dark of the Moon',
  '/title/tt1399103/?ref_=bo_cso_table_27',
  '$1,123,794,079',
  '2011',
  'Transformers: Dark of the Moon',
  '/title/tt1399103/?ref_=bo_cso_table_27'),
 ('28',
  'Skyfall',
  '/title/tt1074638/?ref_=bo_cso_table_28',
  '$1,108,561,013',
  '2012',
  'Skyfall',
  '/title/tt1074638/?ref_=bo_cso_table_28'),
 ('29',
  'Fast & Furious Presents: Hobbs & Shaw',
  '/title/tt6806448/?ref_=bo_cso_table_29',
  '$1,104,826,325',
  '2019',
  'Fast & Furious Presents: Hobbs & Shaw',
  '/title/tt6806448/?ref_=bo_cso_table_29'),
 ('30',
  'Transformers: Age of Extinction',
  '/title/tt2109248/?ref_=bo_cso_table_30',
  '$1,104,054,072',
  '2014',
  'Transformers: Age of Extinction',
  '/title/tt2109248/?ref_=bo_cso_table_30'),
 ('31',
  'The Lion King',
  '/title/tt0110357/?ref_=bo_cso_table_31',
  '$1,083,720,877',
  '1994',
  'The Lion King',
  '/title/tt0110357/?ref_=bo_cso_table_31'),
 ('31',
  'The Lion King',
  '/title/tt0110357/?ref_=bo_cso_table_31',
  '$1,083,720,877',
  '1994',
  'The Lion King',
  '/title/tt6105098/?ref_=bo_cso_table_7'),
 ('32',
  'The Dark Knight Rises',
  '/title/tt1345836/?ref_=bo_cso_table_32',
  '$1,081,142,612',
  '2012',
  'The Dark Knight Rises',
  '/title/tt1345836/?ref_=bo_cso_table_32'),
 ('33',
  'Joker',
  '/title/tt7286456/?ref_=bo_cso_table_33',
  '$1,074,251,311',
  '2019',
  'Joker',
  '/title/tt7286456/?ref_=bo_cso_table_33'),
 ('34',
  'Star Wars: Episode IX - The Rise of Skywalker',
  '/title/tt2527338/?ref_=bo_cso_table_34',
  '$1,074,144,248',
  '2019',
  'Star Wars: Episode IX - The Rise of Skywalker',
  '/title/tt2527338/?ref_=bo_cso_table_34'),
 ('35',
  'Toy Story 4',
  '/title/tt1979376/?ref_=bo_cso_table_35',
  '$1,073,394,593',
  '2019',
  'Toy Story 4',
  '/title/tt1979376/?ref_=bo_cso_table_35'),
 ('36',
  'Toy Story 3',
  '/title/tt0435761/?ref_=bo_cso_table_36',
  '$1,066,970,811',
  '2010',
  'Toy Story 3',
  '/title/tt0435761/?ref_=bo_cso_table_36'),
 ('37',
  "Pirates of the Caribbean: Dead Man's Chest",
  '/title/tt0383574/?ref_=bo_cso_table_37',
  '$1,066,179,747',
  '2006',
  "Pirates of the Caribbean: Dead Man's Chest",
  '/title/tt0383574/?ref_=bo_cso_table_37'),
 ('38',
  'Rogue One: A Star Wars Story',
  '/title/tt3748528/?ref_=bo_cso_table_38',
  '$1,056,057,720',
  '2016',
  'Rogue One: A Star Wars Story',
  '/title/tt3748528/?ref_=bo_cso_table_38'),
 ('39',
  'Aladdin',
  '/title/tt6139732/?ref_=bo_cso_table_39',
  '$1,050,693,953',
  '2019',
  'Aladdin',
  '/title/tt6139732/?ref_=bo_cso_table_39'),
 ('40',
  'Pirates of the Caribbean: On Stranger Tides',
  '/title/tt1298650/?ref_=bo_cso_table_40',
  '$1,045,713,802',
  '2011',
  'Pirates of the Caribbean: On Stranger Tides',
  '/title/tt1298650/?ref_=bo_cso_table_40'),
 ('41',
  'Despicable Me 3',
  '/title/tt3469046/?ref_=bo_cso_table_41',
  '$1,034,800,131',
  '2017',
  'Despicable Me 3',
  '/title/tt3469046/?ref_=bo_cso_table_41'),
 ('42',
  'Jurassic Park',
  '/title/tt0107290/?ref_=bo_cso_table_42',
  '$1,033,928,303',
  '1993',
  'Jurassic Park',
  '/title/tt0107290/?ref_=bo_cso_table_42'),
 ('43',
  'Finding Dory',
  '/title/tt2277860/?ref_=bo_cso_table_43',
  '$1,028,570,942',
  '2016',
  'Finding Dory',
  '/title/tt2277860/?ref_=bo_cso_table_43'),
 ('44',
  'Star Wars: Episode I - The Phantom Menace',
  '/title/tt0120915/?ref_=bo_cso_table_44',
  '$1,027,082,707',
  '1999',
  'Star Wars: Episode I - The Phantom Menace',
  '/title/tt0120915/?ref_=bo_cso_table_44'),
 ('45',
  'Alice in Wonderland',
  '/title/tt1014759/?ref_=bo_cso_table_45',
  '$1,025,468,216',
  '2010',
  'Alice in Wonderland',
  '/title/tt1014759/?ref_=bo_cso_table_45'),
 ('46',
  'Zootopia',
  '/title/tt2948356/?ref_=bo_cso_table_46',
  '$1,023,792,558',
  '2016',
  'Zootopia',
  '/title/tt2948356/?ref_=bo_cso_table_46'),
 ('47',
  'The Hobbit: An Unexpected Journey',
  '/title/tt0903624/?ref_=bo_cso_table_47',
  '$1,017,003,568',
  '2012',
  'The Hobbit: An Unexpected Journey',
  '/title/tt0903624/?ref_=bo_cso_table_47'),
 ('48',
  "Harry Potter and the Sorcerer's Stone",
  '/title/tt0241527/?ref_=bo_cso_table_48',
  '$1,006,968,171',
  '2001',
  "Harry Potter and the Sorcerer's Stone",
  '/title/tt0241527/?ref_=bo_cso_table_48'),
 ('49',
  'The Dark Knight',
  '/title/tt0468569/?ref_=bo_cso_table_49',
  '$1,005,973,645',
  '2008',
  'The Dark Knight',
  '/title/tt0468569/?ref_=bo_cso_table_49'),
 ('50',
  'Harry Potter and the Deathly Hallows: Part 1',
  '/title/tt0926084/?ref_=bo_cso_table_50',
  '$976,999,243',
  '2010',
  'Harry Potter and the Deathly Hallows: Part 1',
  '/title/tt0926084/?ref_=bo_cso_table_50'),
 ('51',
  'Despicable Me 2',
  '/title/tt1690953/?ref_=bo_cso_table_51',
  '$970,766,005',
  '2013',
  'Despicable Me 2',
  '/title/tt1690953/?ref_=bo_cso_table_51'),
 ('52',
  'The Jungle Book',
  '/title/tt3040964/?ref_=bo_cso_table_52',
  '$966,554,929',
  '2016',
  'The Jungle Book',
  '/title/tt3040964/?ref_=bo_cso_table_52'),
 ('53',
  'Jumanji: Welcome to the Jungle',
  '/title/tt2283362/?ref_=bo_cso_table_53',
  '$962,103,996',
  '2017',
  'Jumanji: Welcome to the Jungle',
  '/title/tt2283362/?ref_=bo_cso_table_53'),
 ('54',
  "Pirates of the Caribbean: At World's End",
  '/title/tt0449088/?ref_=bo_cso_table_54',
  '$960,996,492',
  '2007',
  "Pirates of the Caribbean: At World's End",
  '/title/tt0449088/?ref_=bo_cso_table_54'),
 ('55',
  'The Hobbit: The Desolation of Smaug',
  '/title/tt1170358/?ref_=bo_cso_table_55',
  '$958,366,855',
  '2013',
  'The Hobbit: The Desolation of Smaug',
  '/title/tt1170358/?ref_=bo_cso_table_55'),
 ('56',
  'The Hobbit: The Battle of the Five Armies',
  '/title/tt2310332/?ref_=bo_cso_table_56',
  '$956,019,788',
  '2014',
  'The Hobbit: The Battle of the Five Armies',
  '/title/tt2310332/?ref_=bo_cso_table_56'),
 ('57',
  'The Lord of the Rings: The Two Towers',
  '/title/tt0167261/?ref_=bo_cso_table_57',
  '$943,396,133',
  '2002',
  'The Lord of the Rings: The Two Towers',
  '/title/tt0167261/?ref_=bo_cso_table_57'),
 ('58',
  'Harry Potter and the Order of the Phoenix',
  '/title/tt0373889/?ref_=bo_cso_table_58',
  '$942,172,396',
  '2007',
  'Harry Potter and the Order of the Phoenix',
  '/title/tt0373889/?ref_=bo_cso_table_58'),
 ('59',
  'Finding Nemo',
  '/title/tt0266543/?ref_=bo_cso_table_59',
  '$940,352,645',
  '2003',
  'Finding Nemo',
  '/title/tt0266543/?ref_=bo_cso_table_59'),
 ('60',
  'Harry Potter and the Half-Blood Prince',
  '/title/tt0417741/?ref_=bo_cso_table_60',
  '$934,454,096',
  '2009',
  'Harry Potter and the Half-Blood Prince',
  '/title/tt0417741/?ref_=bo_cso_table_60'),
 ('61',
  'Shrek 2',
  '/title/tt0298148/?ref_=bo_cso_table_61',
  '$928,760,770',
  '2004',
  'Shrek 2',
  '/title/tt0298148/?ref_=bo_cso_table_61'),
 ('62',
  'Bohemian Rhapsody',
  '/title/tt1727824/?ref_=bo_cso_table_62',
  '$905,004,529',
  '2018',
  'Bohemian Rhapsody',
  '/title/tt1727824/?ref_=bo_cso_table_62'),
 ('63',
  'Harry Potter and the Goblet of Fire',
  '/title/tt0330373/?ref_=bo_cso_table_63',
  '$896,420,762',
  '2005',
  'Harry Potter and the Goblet of Fire',
  '/title/tt0330373/?ref_=bo_cso_table_63'),
 ('64',
  'Spider-Man 3',
  '/title/tt0413300/?ref_=bo_cso_table_64',
  '$894,983,373',
  '2007',
  'Spider-Man 3',
  '/title/tt0413300/?ref_=bo_cso_table_64'),
 ('65',
  'The Lord of the Rings: The Fellowship of the Ring',
  '/title/tt0120737/?ref_=bo_cso_table_65',
  '$888,159,092',
  '2001',
  'The Lord of the Rings: The Fellowship of the Ring',
  '/title/tt0120737/?ref_=bo_cso_table_65'),
 ('66',
  'Ice Age: Dawn of the Dinosaurs',
  '/title/tt1080016/?ref_=bo_cso_table_66',
  '$886,686,817',
  '2009',
  'Ice Age: Dawn of the Dinosaurs',
  '/title/tt1080016/?ref_=bo_cso_table_66'),
 ('67',
  'Spectre',
  '/title/tt2379713/?ref_=bo_cso_table_67',
  '$880,674,609',
  '2015',
  'Spectre',
  '/title/tt2379713/?ref_=bo_cso_table_67'),
 ('68',
  'Spider-Man: Homecoming',
  '/title/tt2250912/?ref_=bo_cso_table_68',
  '$880,166,924',
  '2017',
  'Spider-Man: Homecoming',
  '/title/tt2250912/?ref_=bo_cso_table_68'),
 ('69',
  'Harry Potter and the Chamber of Secrets',
  '/title/tt0295297/?ref_=bo_cso_table_69',
  '$879,602,366',
  '2002',
  'Harry Potter and the Chamber of Secrets',
  '/title/tt0295297/?ref_=bo_cso_table_69'),
 ('70',
  'Ice Age: Continental Drift',
  '/title/tt1667889/?ref_=bo_cso_table_70',
  '$877,244,782',
  '2012',
  'Ice Age: Continental Drift',
  '/title/tt1667889/?ref_=bo_cso_table_70'),
 ('71',
  'The Secret Life of Pets',
  '/title/tt2709768/?ref_=bo_cso_table_71',
  '$875,458,631',
  '2016',
  'The Secret Life of Pets',
  '/title/tt2709768/?ref_=bo_cso_table_71'),
 ('72',
  'Batman v Superman: Dawn of Justice',
  '/title/tt2975590/?ref_=bo_cso_table_72',
  '$873,637,528',
  '2016',
  'Batman v Superman: Dawn of Justice',
  '/title/tt2975590/?ref_=bo_cso_table_72'),
 ('73',
  'Wolf Warrior 2',
  '/title/tt7131870/?ref_=bo_cso_table_73',
  '$870,325,439',
  '2017',
  'Wolf Warrior 2',
  '/title/tt7131870/?ref_=bo_cso_table_73'),
 ('74',
  'Star Wars: Episode III - Revenge of the Sith',
  '/title/tt0121766/?ref_=bo_cso_table_74',
  '$868,390,560',
  '2005',
  'Star Wars: Episode III - Revenge of the Sith',
  '/title/tt0121766/?ref_=bo_cso_table_74'),
 ('75',
  'The Hunger Games: Catching Fire',
  '/title/tt1951264/?ref_=bo_cso_table_75',
  '$865,011,746',
  '2013',
  'The Hunger Games: Catching Fire',
  '/title/tt1951264/?ref_=bo_cso_table_75'),
 ('76',
  'Guardians of the Galaxy Vol. 2',
  '/title/tt3896198/?ref_=bo_cso_table_76',
  '$863,756,051',
  '2017',
  'Guardians of the Galaxy Vol. 2',
  '/title/tt3896198/?ref_=bo_cso_table_76'),
 ('77',
  'Inside Out',
  '/title/tt2096673/?ref_=bo_cso_table_77',
  '$858,071,350',
  '2015',
  'Inside Out',
  '/title/tt2096673/?ref_=bo_cso_table_77'),
 ('78',
  'Venom',
  '/title/tt1270797/?ref_=bo_cso_table_78',
  '$856,085,151',
  '2018',
  'Venom',
  '/title/tt1270797/?ref_=bo_cso_table_78'),
 ('79',
  'Thor: Ragnarok',
  '/title/tt3501632/?ref_=bo_cso_table_79',
  '$854,189,384',
  '2017',
  'Thor: Ragnarok',
  '/title/tt3501632/?ref_=bo_cso_table_79'),
 ('80',
  'Inception',
  '/title/tt1375666/?ref_=bo_cso_table_80',
  '$836,836,967',
  '2010',
  'Inception',
  '/title/tt1375666/?ref_=bo_cso_table_80'),
 ('81',
  'Transformers: Revenge of the Fallen',
  '/title/tt1055369/?ref_=bo_cso_table_81',
  '$836,303,693',
  '2009',
  'Transformers: Revenge of the Fallen',
  '/title/tt1055369/?ref_=bo_cso_table_81'),
 ('82',
  'The Twilight Saga: Breaking Dawn - Part 2',
  '/title/tt1673434/?ref_=bo_cso_table_82',
  '$829,747,654',
  '2012',
  'The Twilight Saga: Breaking Dawn - Part 2',
  '/title/tt1673434/?ref_=bo_cso_table_82'),
 ('83',
  'Spider-Man',
  '/title/tt0145487/?ref_=bo_cso_table_83',
  '$825,025,036',
  '2002',
  'Spider-Man',
  '/title/tt0145487/?ref_=bo_cso_table_83'),
 ('84',
  'Wonder Woman',
  '/title/tt0451279/?ref_=bo_cso_table_84',
  '$822,303,505',
  '2017',
  'Wonder Woman',
  '/title/tt0451279/?ref_=bo_cso_table_84'),
 ('85',
  'Independence Day',
  '/title/tt0116629/?ref_=bo_cso_table_85',
  '$817,400,891',
  '1996',
  'Independence Day',
  '/title/tt0116629/?ref_=bo_cso_table_85'),
 ('86',
  'Fantastic Beasts and Where to Find Them',
  '/title/tt3183660/?ref_=bo_cso_table_86',
  '$814,044,001',
  '2016',
  'Fantastic Beasts and Where to Find Them',
  '/title/tt3183660/?ref_=bo_cso_table_86'),
 ('87',
  'Shrek the Third',
  '/title/tt0413267/?ref_=bo_cso_table_87',
  '$813,367,380',
  '2007',
  'Shrek the Third',
  '/title/tt0413267/?ref_=bo_cso_table_87'),
 ('88',
  'Coco',
  '/title/tt2380307/?ref_=bo_cso_table_88',
  '$807,817,888',
  '2017',
  'Coco',
  '/title/tt2380307/?ref_=bo_cso_table_88'),
 ('89',
  'Jumanji: The Next Level',
  '/title/tt7975244/?ref_=bo_cso_table_89',
  '$800,059,707',
  '2019',
  'Jumanji: The Next Level',
  '/title/tt7975244/?ref_=bo_cso_table_89'),
 ('90',
  'Harry Potter and the Prisoner of Azkaban',
  '/title/tt0304141/?ref_=bo_cso_table_90',
  '$796,246,544',
  '2004',
  'Harry Potter and the Prisoner of Azkaban',
  '/title/tt0304141/?ref_=bo_cso_table_90'),
 ('91',
  'Pirates of the Caribbean: Dead Men Tell No Tales',
  '/title/tt1790809/?ref_=bo_cso_table_91',
  '$794,881,442',
  '2017',
  'Pirates of the Caribbean: Dead Men Tell No Tales',
  '/title/tt1790809/?ref_=bo_cso_table_91'),
 ('92',
  'E.T. the Extra-Terrestrial',
  '/title/tt0083866/?ref_=bo_cso_table_92',
  '$792,910,554',
  '1982',
  'E.T. the Extra-Terrestrial',
  '/title/tt0083866/?ref_=bo_cso_table_92'),
 ('93',
  '2012',
  '/title/tt1190080/?ref_=bo_cso_table_93',
  '$791,217,826',
  '2009',
  '2012',
  '/title/tt1190080/?ref_=bo_cso_table_93'),
 ('94',
  'Mission: Impossible - Fallout',
  '/title/tt4912910/?ref_=bo_cso_table_94',
  '$791,120,426',
  '2018',
  'Mission: Impossible - Fallout',
  '/title/tt4912910/?ref_=bo_cso_table_94'),
 ('95',
  'Indiana Jones and the Kingdom of the Crystal Skull',
  '/title/tt0367882/?ref_=bo_cso_table_95',
  '$790,653,942',
  '2008',
  'Indiana Jones and the Kingdom of the Crystal Skull',
  '/title/tt0367882/?ref_=bo_cso_table_95'),
 ('96',
  'Spider-Man 2',
  '/title/tt0316654/?ref_=bo_cso_table_96',
  '$788,976,453',
  '2004',
  'Spider-Man 2',
  '/title/tt0316654/?ref_=bo_cso_table_96'),
 ('97',
  'Fast & Furious 6',
  '/title/tt1905041/?ref_=bo_cso_table_97',
  '$788,680,968',
  '2013',
  'Fast & Furious 6',
  '/title/tt1905041/?ref_=bo_cso_table_97'),
 ('98',
  'Deadpool 2',
  '/title/tt5463162/?ref_=bo_cso_table_98',
  '$786,365,638',
  '2018',
  'Deadpool 2',
  '/title/tt5463162/?ref_=bo_cso_table_98'),
 ('99',
  'Deadpool',
  '/title/tt1431045/?ref_=bo_cso_table_99',
  '$782,711,573',
  '2016',
  'Deadpool',
  '/title/tt1431045/?ref_=bo_cso_table_99'),
 ('100',
  'Star Wars: Episode IV - A New Hope',
  '/title/tt0076759/?ref_=bo_cso_table_100',
  '$775,398,007',
  '1977',
  'Star Wars: Episode IV - A New Hope',
  '/title/tt0076759/?ref_=bo_cso_table_100'),
 ('101',
  'Guardians of the Galaxy',
  '/title/tt2015381/?ref_=bo_cso_table_101',
  '$773,350,147',
  '2014',
  'Guardians of the Galaxy',
  '/title/tt2015381/?ref_=bo_cso_table_101'),
 ('102',
  'The Da Vinci Code',
  '/title/tt0382625/?ref_=bo_cso_table_102',
  '$760,006,945',
  '2006',
  'The Da Vinci Code',
  '/title/tt0382625/?ref_=bo_cso_table_102'),
 ('103',
  'Maleficent',
  '/title/tt1587310/?ref_=bo_cso_table_103',
  '$758,411,779',
  '2014',
  'Maleficent',
  '/title/tt1587310/?ref_=bo_cso_table_103'),
 ('104',
  'The Amazing Spider-Man',
  '/title/tt0948470/?ref_=bo_cso_table_104',
  '$757,930,663',
  '2012',
  'The Amazing Spider-Man',
  '/title/tt0948470/?ref_=bo_cso_table_104'),
 ('105',
  'The Hunger Games: Mockingjay - Part 1',
  '/title/tt1951265/?ref_=bo_cso_table_105',
  '$755,356,711',
  '2014',
  'The Hunger Games: Mockingjay - Part 1',
  '/title/tt1951265/?ref_=bo_cso_table_105'),
 ('106',
  'Shrek Forever After',
  '/title/tt0892791/?ref_=bo_cso_table_106',
  '$752,600,867',
  '2010',
  'Shrek Forever After',
  '/title/tt0892791/?ref_=bo_cso_table_106'),
 ('107',
  "Madagascar 3: Europe's Most Wanted",
  '/title/tt1277953/?ref_=bo_cso_table_107',
  '$746,921,274',
  '2012',
  "Madagascar 3: Europe's Most Wanted",

q = "SELECT * FROM db_master ;"

df_combined = pd.read_sql_query(q,conn)
df_combined.head()

200

In [348]:
  
# joining the DataFrames 
df_new = pd.merge(df, df_2019, on = "Movie_Title", how = "outer") 
len(df_new)

382

In [349]:
df_new.head()

,Lifetime_Rank,Movie_Title,Movie_Page_x,Lifetime_Gross,Year_Released,2019_Rank,Movie_Page_y,2019_Gross
0,1,Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_1,"$2,797,800,564",2019,1,/release/rl3059975681/?ref_=bo_yld_table_1,"$858,373,000"
1,2,Avatar,/title/tt0499549/?ref_=bo_cso_table_2,"$2,790,439,092",2009,NaN,NaN,NaN
2,3,Titanic,/title/tt0120338/?ref_=bo_cso_table_3,"$2,471,754,307",1997,NaN,NaN,NaN
3,4,Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_4,"$2,068,454,310",2015,NaN,NaN,NaN
4,5,Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,"$2,048,359,754",2018,NaN,NaN,NaN

In [350]:
df_new2 = pd.merge(df_new, df_2020, on = "Movie_Title", how = "outer") 
len(df_new2)

551

In [351]:
df_new2.head()

,Lifetime_Rank,Movie_Title,Movie_Page_x,Lifetime_Gross,Year_Released,2019_Rank,Movie_Page_y,2019_Gross,2020_Rank,Movie_Page,2020_Gross
0,1,Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_1,"$2,797,800,564",2019,1,/release/rl3059975681/?ref_=bo_yld_table_1,"$858,373,000",NaN,NaN,NaN
1,2,Avatar,/title/tt0499549/?ref_=bo_cso_table_2,"$2,790,439,092",2009,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Titanic,/title/tt0120338/?ref_=bo_cso_table_3,"$2,471,754,307",1997,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_4,"$2,068,454,310",2015,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,"$2,048,359,754",2018,NaN,NaN,NaN,NaN,NaN,NaN

In [379]:
# move the movie link data from the secondary and tertiary columns into the primary link column
i = 0
for j in range(0, 551):
    if df_new2.isnull().Movie_Page_x[i]:
        df_new2.Movie_Page_x[i] = df_new2.Movie_Page[i]
    if df_new2.isnull().Movie_Page_x[i]:
        df_new2.Movie_Page_x[i] = df_new2.Movie_Page_y[i]
    i +=1
# Then count the NaN cells to make sure there are none
count = df_new2["Movie_Page_x"].isna().sum()
count

In [642]:
from numpy import nan

for y in df_new3.index: 
    if df_new3['Year_Released'][y] == NaN and pd.isna(df_new3['2020_Rank'][y]) == False:
        df_new3.Year_Released.fillna('2020')

NameError: name 'NaN' is not defined

,Lifetime_Rank,Movie_Title,Movie_Page_x,Lifetime_Gross,Year_Released,2019_Rank,Movie_Page_y,2019_Gross,2020_Rank,Movie_Page,2020_Gross
0,1,Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_1,"$2,797,800,564",2019,1,/release/rl3059975681/?ref_=bo_yld_table_1,"$858,373,000",NaN,NaN,NaN
1,2,Avatar,/title/tt0499549/?ref_=bo_cso_table_2,"$2,790,439,092",2009,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Titanic,/title/tt0120338/?ref_=bo_cso_table_3,"$2,471,754,307",1997,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_4,"$2,068,454,310",2015,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,"$2,048,359,754",2018,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
546,NaN,Extra Ordinary,/release/rl2562359809/?ref_=bo_yld_table_196,NaN,NaN,NaN,NaN,NaN,196,/release/rl2562359809/?ref_=bo_yld_table_196,"$164,346"
547,NaN,Palm Springs,/release/rl3175187201/?ref_=bo_yld_table_197,NaN,NaN,NaN,NaN,NaN,197,/release/rl3175187201/?ref_=bo_yld_table_197,"$164,000"
548,NaN,A Call to Spy,/release/rl3796140801/?ref_=bo_yld_table_198,NaN,NaN,NaN,NaN,NaN,198,/release/rl3796140801/?ref_=bo_yld_table_198,"$158,864"
549,NaN,Love Story50th Anniversary,/release/rl934707713/?ref_=bo_yld_table_199,NaN,NaN,NaN,NaN,NaN,199,/release/rl934707713/?ref_=bo_yld_table_199,"$153,504"
550,NaN,The Dark and the Wicked,/release/rl4015883009/?ref_=bo_yld_table_200,NaN,NaN,NaN,NaN,NaN,200,/release/rl4015883009/?ref_=bo_yld_table_200,"$149,011"

In [665]:
# Added the year released for those movies scraped from the 2019 and 2020 highest grossing lists
for y in df_new3.index:
    if pd.isna(df_new3['Year_Released'][y]) == True and pd.isna(df_new3['2020_Rank'][y]) == False:
        df_new3.Year_Released.fillna('2020')

for y in df_new3.index:
    if pd.isna(df_new3['Year_Released'][y]) == True and pd.isna(df_new3['2019_Rank'][y]) == False:
        df_new3.Year_Released.fillna('2019')

didn't

In [677]:
# from numpy import nan
j = 0
for y in df_new3.index:
    if pd.isna(df_new3['2019_Rank'][y]) == False:
        df_new3['2019_Rank'][y] = '2019'
        j +=1
        print(j, df_new3['2019_Rank'][y], df_new3['Year_Released'][y])

1 2019 2019
2 2019 2019
3 2019 1994
4 2019 2019
5 2019 2018
6 2019 2019
7 2019 2019
8 2019 2019
9 2019 2019
10 2019 2019
11 2019 2019
12 2019 2019
13 2019 2018
14 2019 2019
15 2019 2019
16 2019 2019
17 2019 2019
18 2019 2018
19 2019 2018
20 2019 2020
21 2019 2020
22 2019 2020
23 2019 2020
24 2019 2020
25 2019 2020
26 2019 2020
27 2019 2020
28 2019 2020
29 2019 2020
30 2019 2020
31 2019 2020
32 2019 2020
33 2019 2020
34 2019 2020
35 2019 2020
36 2019 2020
37 2019 2020
38 2019 2020
39 2019 2020
40 2019 2020
41 2019 2020
42 2019 2020
43 2019 2020
44 2019 2020
45 2019 2020
46 2019 2020
47 2019 2020
48 2019 2020
49 2019 2020
50 2019 2020
51 2019 2020
52 2019 2020
53 2019 2020
54 2019 2020
55 2019 2020
56 2019 2020
57 2019 2020
58 2019 2020
59 2019 2020
60 2019 2020
61 2019 2020
62 2019 2020
63 2019 2020
64 2019 2020
65 2019 2020
66 2019 2020
67 2019 2020
68 2019 2020
69 2019 2020
70 2019 2020
71 2019 2020
72 2019 2020
73 2019 2020
74 2019 2020
75 2019 2020
76 2019 2020
77 2019 2020
78 2019 2020
79 2019 2020
80 2019 2020
81 2019 2020
82 2019 2020
83 2019 2020
84 2019 2020
85 2019 2020
86 2019 2020
87 2019 2020
88 2019 2020
89 2019 2020
90 2019 2020
91 2019 2020
92 2019 2020
93 2019 2020
94 2019 2020
95 2019 2020
96 2019 2020
97 2019 2020
98 2019 2020
99 2019 2020
100 2019 2020
101 2019 2020
102 2019 2020
103 2019 2020
104 2019 2020
105 2019 2020
106 2019 2020
107 2019 2020
108 2019 2020
109 2019 2020
110 2019 2020
111 2019 2020
112 2019 2020
113 2019 2020
114 2019 2020
115 2019 2020
116 2019 2020
117 2019 2020
118 2019 2020
119 2019 2020
120 2019 2020
121 2019 2020
122 2019 2020
123 2019 2020
124 2019 2020
125 2019 2020
126 2019 2020
127 2019 2020
128 2019 2020
129 2019 2020
130 2019 2020
131 2019 2020
132 2019 2020
133 2019 2020
134 2019 2020
135 2019 2020
136 2019 2020
137 2019 2020
138 2019 2020
139 2019 2020
140 2019 2020
141 2019 2020
142 2019 2020
143 2019 2020
144 2019 2020
145 2019 2020
146 2019 2020
147 2019 2020
148 2019 2020
149 2019 2020
150 2019 2020
151 2019 2020
152 2019 2020
153 2019 2020
154 2019 2020
155 2019 2020
156 2019 2020
157 2019 2020
158 2019 2020
159 2019 2020
160 2019 2020
161 2019 2020
162 2019 2020
163 2019 2020
164 2019 2020
165 2019 2020
166 2019 2020
167 2019 2020
168 2019 2020
169 2019 2020
170 2019 2020
171 2019 2020
172 2019 2020
173 2019 2020
174 2019 2020
175 2019 2020
176 2019 2020
177 2019 2020
178 2019 2020
179 2019 2020
180 2019 2020
181 2019 2020
182 2019 2020
183 2019 2020
184 2019 2020
185 2019 2020
186 2019 2020
187 2019 2020
188 2019 2020
189 2019 2020
190 2019 2020
191 2019 2020
192 2019 2020
193 2019 2020
194 2019 2020
195 2019 2020
196 2019 2020
197 2019 2020
198 2019 2020
199 2019 2020
200 2019 2020
201 2019 2020

,Lifetime_Rank,Movie_Title,Movie_Page_x,Lifetime_Gross,Year_Released,2019_Rank,Movie_Page_y,2019_Gross,2020_Rank,Movie_Page,2020_Gross
201,NaN,John Wick: Chapter 3 - Parabellum,NaN,NaN,NaN,14,/release/rl1476560385/?ref_=bo_yld_table_14,"$171,015,687",NaN,NaN,NaN
202,NaN,How to Train Your Dragon: The Hidden World,NaN,NaN,NaN,15,/release/rl2606269953/?ref_=bo_yld_table_15,"$160,799,505",NaN,NaN,NaN
203,NaN,The Secret Life of Pets 2,NaN,NaN,NaN,16,/release/rl1719436801/?ref_=bo_yld_table_16,"$157,949,395",NaN,NaN,NaN
204,NaN,Pokémon Detective Pikachu,NaN,NaN,NaN,17,/release/rl17139201/?ref_=bo_yld_table_17,"$144,105,346",NaN,NaN,NaN
205,NaN,Once Upon a Time... In Hollywood,/release/rl520455681/?ref_=bo_yld_table_78,NaN,NaN,18,/release/rl520455681/?ref_=bo_yld_table_18,"$141,076,968",78,/release/rl520455681/?ref_=bo_yld_table_78,"$1,425,760"
206,NaN,Shazam!,NaN,NaN,NaN,19,/release/rl1196197377/?ref_=bo_yld_table_19,"$140,371,656",NaN,NaN,NaN
207,NaN,Knives Out,/release/rl3204875777/?ref_=bo_yld_table_12,NaN,NaN,21,/release/rl3204875777/?ref_=bo_yld_table_21,"$115,711,579",12,/release/rl3204875777/?ref_=bo_yld_table_12,"$49,651,655"
208,NaN,Dumbo,NaN,NaN,NaN,22,/release/rl2675869185/?ref_=bo_yld_table_22,"$114,766,307",NaN,NaN,NaN
209,NaN,Maleficent: Mistress of Evil,/release/rl939755009/?ref_=bo_yld_table_116,NaN,NaN,23,/release/rl939755009/?ref_=bo_yld_table_23,"$113,294,737",116,/release/rl939755009/?ref_=bo_yld_table_116,"$634,868"
210,NaN,Glass,NaN,NaN,NaN,24,/release/rl1518241281/?ref_=bo_yld_table_24,"$111,048,468",NaN,NaN,NaN
211,NaN,Godzilla: King of the Monsters,NaN,NaN,NaN,25,/release/rl2991883777/?ref_=bo_yld_table_25,"$110,500,138",NaN,NaN,NaN
212,NaN,The Upside,NaN,NaN,NaN,26,/release/rl3204679169/?ref_=bo_yld_table_26,"$108,252,517",NaN,NaN,NaN
213,NaN,Ford v Ferrari,NaN,NaN,NaN,27,/release/rl990348801/?ref_=bo_yld_table_27,"$107,196,444",39,/release/rl990348801/?ref_=bo_yld_table_39,"$10,427,913"
214,NaN,The LEGO Movie 2: The Second Part,NaN,NaN,NaN,28,/release/rl1517848065/?ref_=bo_yld_table_28,"$105,806,508",NaN,NaN,NaN
215,NaN,Hustlers,NaN,NaN,NaN,29,/release/rl3255404033/?ref_=bo_yld_table_29,"$104,960,643",NaN,NaN,NaN
216,NaN,The Addams Family,NaN,NaN,NaN,30,/release/rl101025281/?ref_=bo_yld_table_30,"$97,185,807",129,/release/rl101025281/?ref_=bo_yld_table_129,"$528,320"
217,NaN,Downton Abbey,NaN,NaN,NaN,31,/release/rl2399634945/?ref_=bo_yld_table_31,"$96,854,135",NaN,NaN,NaN
218,NaN,Rocketman,NaN,NaN,NaN,32,/release/rl4261709313/?ref_=bo_yld_table_32,"$96,368,160",NaN,NaN,NaN
219,NaN,Alita: Battle Angel,NaN,NaN,NaN,33,/release/rl1887340033/?ref_=bo_yld_table_33,"$85,710,210",NaN,NaN,NaN
220,NaN,Good Boys,NaN,NaN,NaN,34,/release/rl1275299329/?ref_=bo_yld_table_34,"$83,140,306",NaN,NaN,NaN
221,NaN,Spider-Man: Into the Spider-Verse,NaN,NaN,NaN,35,/release/rl879986177/?ref_=bo_yld_table_35,"$82,094,865",NaN,NaN,NaN
222,NaN,Men in Black: International,NaN,NaN,NaN,36,/release/rl2986509825/?ref_=bo_yld_table_36,"$80,001,807",NaN,NaN,NaN
223,NaN,Annabelle Comes Home,NaN,NaN,NaN,37,/release/rl939820545/?ref_=bo_yld_table_37,"$74,152,591",NaN,NaN,NaN
224,NaN,Yesterday,NaN,NaN,NaN,38,/release/rl1392805377/?ref_=bo_yld_table_38,"$73,286,650",NaN,NaN,NaN
225,NaN,A Madea Family Funeral,NaN,NaN,NaN,39,/release/rl2885912065/?ref_=bo_yld_table_39,"$73,257,045",NaN,NaN,NaN
226,NaN,Zombieland: Double Tap,NaN,NaN,NaN,40,/release/rl201819649/?ref_=bo_yld_table_40,"$72,930,156",187,/release/rl201819649/?ref_=bo_yld_table_187,"$192,926"
227,NaN,Angel Has Fallen,NaN,NaN,NaN,41,/release/rl1745257985/?ref_=bo_yld_table_41,"$69,030,436",NaN,NaN,NaN
228,NaN,Scary Stories to Tell in the Dark,NaN,NaN,NaN,42,/release/rl2852554241/?ref_=bo_yld_table_42,"$68,947,075",NaN,NaN,NaN
229,NaN,Mary Poppins Returns,NaN,NaN,NaN,43,/release/rl3263137281/?ref_=bo_yld_table_43,"$66,027,977",NaN,NaN,NaN
230,NaN,X-Men: Dark Phoenix,NaN,NaN,NaN,44,/release/rl4211181057/?ref_=bo_yld_table_44,"$65,845,974",NaN,NaN,NaN
231,NaN,Terminator: Dark Fate,NaN,NaN,NaN,45,/release/rl3103950337/?ref_=bo_yld_table_45,"$62,253,077",NaN,NaN,NaN
232,NaN,Abominable,NaN,NaN,NaN,46,/release/rl4144072193/?ref_=bo_yld_table_46,"$60,679,265",NaN,NaN,NaN
233,NaN,Dora and the Lost City of Gold,NaN,NaN,NaN,47,/release/rl3993339393/?ref_=bo_yld_table_47,"$60,477,943",NaN,NaN,NaN
234,NaN,Escape Room,NaN,NaN,NaN,48,/release/rl2852423169/?ref_=bo_yld_table_48,"$57,005,601",NaN,NaN,NaN
235,NaN,A Beautiful Day in the Neighborhood,NaN,NaN,NaN,49,/release/rl2651096577/?ref_=bo_yld_table_49,"$56,706,993",52,/release/rl2651096577/?ref_=bo_yld_table_52,"$4,997,062"
236,NaN,Midway,NaN,NaN,NaN,50,/release/rl2634515969/?ref_=bo_yld_table_50,"$56,279,164",120,/release/rl2634515969/?ref_=bo_yld_table_120,"$567,638"
237,NaN,Bumblebee,NaN,NaN,NaN,51,/release/rl2139063809/?ref_=bo_yld_table_51,"$55,769,470",NaN,NaN,NaN
238,NaN,The Curse of la Llorona,NaN,NaN,NaN,52,/release/rl402884097/?ref_=bo_yld_table_52,"$54,733,739",NaN,NaN,NaN
239,NaN,Pet Sematary,NaN,NaN,NaN,53,/release/rl0361985/?ref_=bo_yld_table_53,"$54,724,696",NaN,NaN,NaN
240,NaN,What Men Want,NaN,NaN,NaN,54,/release/rl3221390849/?ref_=bo_yld_table_54,"$54,611,903",NaN,NaN,NaN
241,NaN,Green Book,NaN,NaN,NaN,55,/release/rl805799425/?ref_=bo_yld_table_55,"$52,927,165",NaN,NaN,NaN
242,NaN,Ad Astra,NaN,NaN,NaN,56,/release/rl1560446465/?ref_=bo_yld_table_56,"$50,188,370",NaN,NaN,NaN
243,NaN,Isn't It Romantic,NaN,NaN,NaN,57,/release/rl436438529/?ref_=bo_yld_table_57,"$48,791,187",NaN,NaN,NaN
244,NaN,Gemini Man,NaN,NaN,NaN,58,/release/rl4228089345/?ref_=bo_yld_table_58,"$48,546,770",NaN,NaN,NaN
245,NaN,Ma,NaN,NaN,NaN,59,/release/rl1443202561/?ref_=bo_yld_table_59,"$45,896,028",NaN,NaN,NaN
246,NaN,Five Feet Apart,NaN,NaN,NaN,60,/release/rl3825501697/?ref_=bo_yld_table_60,"$45,729,221",NaN,NaN,NaN
247,NaN,Wonder Park,NaN,NaN,NaN,61,/release/rl2575074817/?ref_=bo_yld_table_61,"$45,216,793",NaN,NaN,NaN
248,NaN,Rambo: Last Blood,NaN,NaN,NaN,62,/release/rl2819196417/?ref_=bo_yld_table_62,"$44,819,352",NaN,NaN,NaN
249,NaN,Playing with Fire,NaN,NaN,NaN,63,/release/rl604603905/?ref_=bo_yld_table_63,"$44,151,387",161,/release/rl604603905/?ref_=bo_yld_table_161,"$300,460"

In [661]:
df_new3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 551 entries, 0 to 550
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Lifetime_Rank   200 non-null    object
 1   Movie_Title     551 non-null    object
 2   Movie_Page_x    551 non-null    object
 3   Lifetime_Gross  200 non-null    object
 4   Year_Released   200 non-null    object
 5   2019_Rank       201 non-null    object
 6   Movie_Page_y    201 non-null    object
 7   2019_Gross      201 non-null    object
 8   2020_Rank       200 non-null    object
 9   Movie_Page      200 non-null    object
 10  2020_Gross      200 non-null    object
 11  Domestic_Gross  551 non-null    object
 12  Budget          551 non-null    object
 13  MPAA            551 non-null    object
 14  Genres          551 non-null    object
dtypes: object(15)
memory usage: 88.9+ KB

In [485]:
df_new2.head()

,Lifetime_Rank,Movie_Title,Movie_Page_x,Lifetime_Gross,Year_Released,2019_Rank,Movie_Page_y,2019_Gross,2020_Rank,Movie_Page,2020_Gross
0,1,Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_1,"$2,797,800,564",2019,1,/release/rl3059975681/?ref_=bo_yld_table_1,"$858,373,000",NaN,NaN,NaN
1,2,Avatar,/title/tt0499549/?ref_=bo_cso_table_2,"$2,790,439,092",2009,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Titanic,/title/tt0120338/?ref_=bo_cso_table_3,"$2,471,754,307",1997,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_4,"$2,068,454,310",2015,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,"$2,048,359,754",2018,NaN,NaN,NaN,NaN,NaN,NaN

In [684]:
df_new4 = df_new2
df_new2.tail()

,Lifetime_Rank,Movie_Title,Movie_Page_x,Lifetime_Gross,Year_Released,2019_Rank,Movie_Page_y,2019_Gross,2020_Rank,Movie_Page,2020_Gross,Domestic_Gross,Budget,MPAA,Genres
546,NaN,Extra Ordinary,/release/rl2562359809/?ref_=bo_yld_table_196,NaN,2020,NaN,NaN,NaN,196,/release/rl2562359809/?ref_=bo_yld_table_196,"$164,346","$164,346","$150,000,000",R,"[Comedy, Fantasy, Horror]"
547,NaN,Palm Springs,/release/rl3175187201/?ref_=bo_yld_table_197,NaN,2020,NaN,NaN,NaN,197,/release/rl3175187201/?ref_=bo_yld_table_197,"$164,000","$164,000","$150,000,000",R,"[Comedy, Fantasy, Mystery, Romance]"
548,NaN,A Call to Spy,/release/rl3796140801/?ref_=bo_yld_table_198,NaN,2020,NaN,NaN,NaN,198,/release/rl3796140801/?ref_=bo_yld_table_198,"$158,864","$159,014","$150,000,000",PG-13,"[Biography, Crime, Drama, Thriller, War]"
549,NaN,Love Story50th Anniversary,/release/rl934707713/?ref_=bo_yld_table_199,NaN,2020,NaN,NaN,NaN,199,/release/rl934707713/?ref_=bo_yld_table_199,"$153,504","$153,504","$150,000,000",PG,"[Drama, Romance]"
550,NaN,The Dark and the Wicked,/release/rl4015883009/?ref_=bo_yld_table_200,NaN,2020,NaN,NaN,NaN,200,/release/rl4015883009/?ref_=bo_yld_table_200,"$149,011","$155,757","$150,000,000",PG,[Horror]

In [685]:
j = 0
for y in df_new3.index:
    if pd.isna(df_new3['2019_Rank'][y]) == False :
        df_new3['Year_Released'][y] = '2019'
        j +=1
        print(j, df_new3['2019_Rank'][y], df_new3['Year_Released'][y])

1 2019 2019
2 2019 2019
3 2019 2019
4 2019 2019
5 2019 2019
6 2019 2019
7 2019 2019
8 2019 2019
9 2019 2019
10 2019 2019
11 2019 2019
12 2019 2019
13 2019 2019
14 2019 2019
15 2019 2019
16 2019 2019
17 2019 2019
18 2019 2019
19 2019 2019
20 2019 2019
21 2019 2019
22 2019 2019
23 2019 2019
24 2019 2019
25 2019 2019
26 2019 2019
27 2019 2019
28 2019 2019
29 2019 2019
30 2019 2019
31 2019 2019
32 2019 2019
33 2019 2019
34 2019 2019
35 2019 2019
36 2019 2019
37 2019 2019
38 2019 2019
39 2019 2019
40 2019 2019
41 2019 2019
42 2019 2019
43 2019 2019
44 2019 2019
45 2019 2019
46 2019 2019
47 2019 2019
48 2019 2019
49 2019 2019
50 2019 2019
51 2019 2019
52 2019 2019
53 2019 2019
54 2019 2019
55 2019 2019
56 2019 2019
57 2019 2019
58 2019 2019
59 2019 2019
60 2019 2019
61 2019 2019
62 2019 2019
63 2019 2019
64 2019 2019
65 2019 2019
66 2019 2019
67 2019 2019
68 2019 2019
69 2019 2019
70 2019 2019
71 2019 2019
72 2019 2019
73 2019 2019
74 2019 2019
75 2019 2019
76 2019 2019
77 2019 2019
78 2019 2019
79 2019 2019
80 2019 2019
81 2019 2019
82 2019 2019
83 2019 2019
84 2019 2019
85 2019 2019
86 2019 2019
87 2019 2019
88 2019 2019
89 2019 2019
90 2019 2019
91 2019 2019
92 2019 2019
93 2019 2019
94 2019 2019
95 2019 2019
96 2019 2019
97 2019 2019
98 2019 2019
99 2019 2019
100 2019 2019
101 2019 2019
102 2019 2019
103 2019 2019
104 2019 2019
105 2019 2019
106 2019 2019
107 2019 2019
108 2019 2019
109 2019 2019
110 2019 2019
111 2019 2019
112 2019 2019
113 2019 2019
114 2019 2019
115 2019 2019
116 2019 2019
117 2019 2019
118 2019 2019
119 2019 2019
120 2019 2019
121 2019 2019
122 2019 2019
123 2019 2019
124 2019 2019
125 2019 2019
126 2019 2019
127 2019 2019
128 2019 2019
129 2019 2019
130 2019 2019
131 2019 2019
132 2019 2019
133 2019 2019
134 2019 2019
135 2019 2019
136 2019 2019
137 2019 2019
138 2019 2019
139 2019 2019
140 2019 2019
141 2019 2019
142 2019 2019
143 2019 2019
144 2019 2019
145 2019 2019
146 2019 2019
147 2019 2019
148 2019 2019
149 2019 2019
150 2019 2019
151 2019 2019
152 2019 2019
153 2019 2019
154 2019 2019
155 2019 2019
156 2019 2019
157 2019 2019
158 2019 2019
159 2019 2019
160 2019 2019
161 2019 2019
162 2019 2019
163 2019 2019
164 2019 2019
165 2019 2019
166 2019 2019
167 2019 2019
168 2019 2019
169 2019 2019
170 2019 2019
171 2019 2019
172 2019 2019
173 2019 2019
174 2019 2019
175 2019 2019
176 2019 2019
177 2019 2019
178 2019 2019
179 2019 2019
180 2019 2019
181 2019 2019
182 2019 2019
183 2019 2019
184 2019 2019
185 2019 2019
186 2019 2019
187 2019 2019
188 2019 2019
189 2019 2019
190 2019 2019
191 2019 2019
192 2019 2019
193 2019 2019
194 2019 2019
195 2019 2019
196 2019 2019
197 2019 2019
198 2019 2019
199 2019 2019
200 2019 2019
201 2019 2019

In [686]:
j = 0
for y in df_new3.index:
    if pd.isna(df_new3['2020_Rank'][y]) == False :
#         df_new3['Year_Released'][y] = '2020'
        j +=1
        print(j, df_new3['2020_Rank'][y], df_new3['Year_Released'][y])

1 13 2019
2 76 2019
3 5 2019
4 105 2017
5 4 2019
6 78 2019
7 12 2019
8 116 2019
9 39 2019
10 129 2019
11 187 2019
12 52 2019
13 120 2019
14 161 2019
15 127 2019
16 62 2019
17 8 2019
18 15 2019
19 101 2019
20 21 2019
21 163 2019
22 19 2019
23 37 2019
24 48 2019
25 34 2019
26 54 2019
27 192 2019
28 134 2019
29 121 2019
30 111 2019
31 94 2019
32 1 2020
33 2 2020
34 3 2020
35 6 2020
36 7 2020
37 9 2020
38 10 2020
39 11 2020
40 14 2020
41 16 2020
42 17 2020
43 18 2020
44 20 2020
45 22 2020
46 23 2020
47 24 2020
48 25 2020
49 26 2020
50 27 2020
51 28 2020
52 29 2020
53 30 2020
54 31 2020
55 32 2020
56 33 2020
57 35 2020
58 36 2020
59 38 2020
60 40 2020
61 41 2020
62 42 2020
63 43 2020
64 44 2020
65 45 2020
66 46 2020
67 47 2020
68 49 2020
69 50 2020
70 51 2020
71 53 2020
72 55 2020
73 56 2020
74 57 2020
75 58 2020
76 59 2020
77 60 2020
78 61 2020
79 63 2020
80 64 2020
81 65 2020
82 66 2020
83 67 2020
84 68 2020
85 69 2020
86 70 2020
87 71 2020
88 72 2020
89 73 2020
90 74 2020
91 75 2020
92 77 2020
93 79 2020
94 80 2020
95 81 2020
96 82 2020
97 83 2020
98 84 2020
99 85 2020
100 86 2020
101 87 2020
102 88 2020
103 89 2020
104 90 2020
105 91 2020
106 92 2020
107 93 2020
108 95 2020
109 96 2020
110 97 2020
111 98 2020
112 99 2020
113 100 2020
114 102 2020
115 103 2020
116 104 2020
117 106 2020
118 107 2020
119 108 2020
120 109 2020
121 110 2020
122 112 2020
123 113 2020
124 114 2020
125 115 2020
126 117 2020
127 118 2020
128 119 2020
129 122 2020
130 123 2020
131 124 2020
132 125 2020
133 126 2020
134 128 2020
135 130 2020
136 131 2020
137 132 2020
138 133 2020
139 135 2020
140 136 2020
141 137 2020
142 138 2020
143 139 2020
144 140 2020
145 141 2020
146 142 2020
147 143 2020
148 144 2020
149 145 2020
150 146 2020
151 147 2020
152 148 2020
153 149 2020
154 150 2020
155 151 2020
156 152 2020
157 153 2020
158 154 2020
159 155 2020
160 156 2020
161 157 2020
162 158 2020
163 159 2020
164 160 2020
165 162 2020
166 164 2020
167 165 2020
168 166 2020
169 167 2020
170 168 2020
171 169 2020
172 170 2020
173 171 2020
174 172 2020
175 173 2020
176 174 2020
177 175 2020
178 176 2020
179 177 2020
180 178 2020
181 179 2020
182 180 2020
183 181 2020
184 182 2020
185 183 2020
186 184 2020
187 185 2020
188 186 2020
189 188 2020
190 189 2020
191 190 2020
192 191 2020
193 193 2020
194 194 2020
195 195 2020
196 196 2020
197 197 2020
198 198 2020
199 199 2020
200 200 2020

In [707]:
# df_new4.iloc[200]
# df_new4.info()
df_new4[df_new4['Lifetime_Gross'][0]] = df_new4[df_new4['Lifetime_Gross'][0]].replace('[\$,]', '', regex=True).astype(float)

KeyError: '$2,797,800,564'

In [709]:
#converted strings in Lifetime_Gross column to integers, removing the commas and dollar signs
i = 0
for y in df_new4:
    df_new4['Lifetime_Gross'][i] = df_new4['Lifetime_Gross'][i].replace(',', '')
    df_new4['Lifetime_Gross'][i] = df_new4['Lifetime_Gross'][i].replace('$', '')
    i +=1
df_new4.head()

,Lifetime_Rank,Movie_Title,Movie_Page_x,Lifetime_Gross,Year_Released,2019_Rank,Movie_Page_y,2019_Gross,2020_Rank,Movie_Page,2020_Gross,Domestic_Gross,Budget,MPAA,Genres
0,1,Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_1,2797800564,2019,2019,/release/rl3059975681/?ref_=bo_yld_table_1,"$858,373,000",NaN,NaN,NaN,"$858,373,000","$356,000,000",PG-13,"[Action, Adventure, Drama, Sci-Fi]"
1,2,Avatar,/title/tt0499549/?ref_=bo_cso_table_2,2790439092,2009,NaN,NaN,NaN,NaN,NaN,NaN,"$760,507,625","$237,000,000",PG-13,"[Action, Adventure, Fantasy, Sci-Fi]"
2,3,Titanic,/title/tt0120338/?ref_=bo_cso_table_3,2471754307,1997,NaN,NaN,NaN,NaN,NaN,NaN,"$659,363,944","$200,000,000",PG-13,"[Drama, Romance]"
3,4,Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_4,2068454310,2015,NaN,NaN,NaN,NaN,NaN,NaN,"$936,662,225","$245,000,000",PG-13,"[Action, Adventure, Sci-Fi]"
4,5,Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,2048359754,2018,NaN,NaN,NaN,NaN,NaN,NaN,"$678,815,482","$245,000,000",PG-13,"[Action, Adventure, Sci-Fi]"

In [ ]:
#converted strings in Domestic Gross and Budget columns to integers, removing the commas and dollar signs
i = 0
for y in df_new4:
    df_new4['Domestic_Gross'][i] = df_new4['Domestic_Gross'][i].replace(',', '')
    df_new4['Domestic_Gross'][i] = df_new4['Domestic_Gross'][i].replace('$', '')
    i +=1
    
i = 0
for y in df_new4:
    df_new4['Budget'][i] = df_new4['Budget'][i].replace(',', '')
    df_new4['Budget'][i] = df_new4['Lifetime_Gross'][i].replace('$', '')
    i +=1

df_new4.head()