This project will determine the best kind of movies for Microsoft to make.
First we will import the necessary packages, then we will load the web page to scrape. This page is a list of all-time grossing movies.

In [32]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re
import numpy as np
import sqlite3

In [2]:
html_page = requests.get('https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW')
soup = BeautifulSoup(html_page.content, 'html.parser')

The table consists of four types of data: rank, title, lifetime gross, and year. Using the inspect element feature 
in the browser, it is evident that the rank is in mojo-field-type-rank; title in mojo-field-type-title, lifetime 
gross in mojo-field-type-rank, and release year in mojo-field-type-year

In [3]:
rank = soup.find('td', class_="mojo-field-type-rank")
rank

We'll put the ranks of all the movies in a list.

In [4]:
rank_list = [r.text for r in soup.findAll('td', class_="mojo-field-type-rank")] 
print(len(rank_list), rank_list[:5])

200 ['1', '2', '3', '4', '5']

We'll then find the titles, gross earnings, and year released and put those in lists.

In [5]:
title = rank.nextSibling
title

In [6]:
title_list = [t.text for t in soup.findAll('td', class_="mojo-field-type-title")] 
print(len(title_list), title_list[:5])

200 ['Avengers: Endgame', 'Avatar', 'Titanic', 'Star Wars: Episode VII - The Force Awakens', 'Avengers: Infinity War']

In [7]:
money = title.nextSibling
money

In [8]:
money_list = [m.text for m in soup.findAll('td', class_="mojo-field-type-money")] 
print(len(money_list), money_list[:5])

200 ['$2,797,800,564', '$2,790,439,092', '$2,471,754,307', '$2,068,454,310', '$2,048,359,754']

In [9]:
year = money.nextSibling
year

In [10]:
year_list = [y.text for y in soup.findAll('td', class_="mojo-field-type-year")] 
print(len(year_list), year_list[:5])

200 ['2019', '2009', '1997', '2015', '2018']

The links to the movie pages didn't have an attribute that was unique (it was the same for every link in the page). 
To get just the link, first I got a container with the url we need for each movie

In [11]:
link_list = [t for t in soup.findAll('td', class_="mojo-field-type-title")] 
print(len(link_list), link_list[0])

200 <td class="a-text-left mojo-field-type-title"><a class="a-link-normal" href="/title/tt4154796/?ref_=bo_cso_table_1">Avengers: Endgame</a></td>

Then I extracted just the href from each.

In [12]:
new_link_list = []
for t in link_list:
    link = [x.get('href') for x in t.findAll('a', class_="a-link-normal")]
    link_str = link[0]
    new_link_list.append(link_str)
print(len(new_link_list), new_link_list[0])

200 /title/tt4154796/?ref_=bo_cso_table_1

I put the lists into a dataframe.

In [13]:
df = pd.DataFrame([rank_list, title_list, new_link_list, money_list, year_list]).transpose()
df.columns = ['Lifetime_Rank', 'Movie_Title', 'Movie_Page', 'Lifetime_Gross', 'Year_Released']
df

,Lifetime_Rank,Movie_Title,Movie_Page,Lifetime_Gross,Year_Released
0,1,Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_1,"$2,797,800,564",2019
1,2,Avatar,/title/tt0499549/?ref_=bo_cso_table_2,"$2,790,439,092",2009
2,3,Titanic,/title/tt0120338/?ref_=bo_cso_table_3,"$2,471,754,307",1997
3,4,Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_4,"$2,068,454,310",2015
4,5,Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,"$2,048,359,754",2018
...,...,...,...,...,...
195,196,The Simpsons Movie,/title/tt0462538/?ref_=bo_cso_table_196,"$536,414,293",2007
196,197,The Revenant,/title/tt1663202/?ref_=bo_cso_table_197,"$532,950,503",2015
197,198,The Meg,/title/tt4779682/?ref_=bo_cso_table_198,"$530,259,473",2018
198,199,Ralph Breaks the Internet,/title/tt5848272/?ref_=bo_cso_table_199,"$529,323,962",2018
199,200,Hotel Transylvania 3: Summer Vacation,/title/tt5220122/?ref_=bo_cso_table_200,"$528,583,774",2018

Now I repeated the process for the tables of top grossing films for 2019 and 2020.

In [14]:
# Get top grossing films, 2019, 2020
html_page2 = requests.get('https://www.boxofficemojo.com/year/2019/?ref_=bo_yl_table_3')
soup2 = BeautifulSoup(html_page2.content, 'html.parser') 
rank_2019 = soup2.find('td', class_="mojo-field-type-rank")
title_2019 = soup2.find('td', class_="mojo-field-type-release")
money_2019 = soup2.find('td', class_="mojo-field-type-money")
print(rank_2019, title_2019, money_2019)

<td class="a-text-right mojo-header-column mojo-truncate mojo-field-type-rank mojo-sort-column">1</td> <td class="a-text-left mojo-field-type-release mojo-cell-wide"><a class="a-link-normal" href="/release/rl3059975681/?ref_=bo_yld_table_1">Avengers: Endgame</a></td> <td class="a-text-right mojo-field-type-money hidden">-</td>

In [17]:
rank_2019_list = [r.text for r in soup2.findAll('td', class_="mojo-field-type-rank")] 
print(len(rank_2019_list), rank_2019_list[:5])
title_2019_list = [t.text for t in soup2.findAll('td', class_="mojo-field-type-release")] 
print(len(title_2019_list), title_2019_list[:5])
money_2019_list = [m.text for m in soup2.findAll('td', class_="mojo-field-type-money")] 
print(len(money_2019_list), money_2019_list[:5])

911 ['1', '2', '3', '4', '5']
911 ['Avengers: Endgame', 'The Lion King', 'Toy Story 4', 'Frozen II', 'Captain Marvel']
2733 ['-', '$858,373,000', '$858,373,000', '-', '$543,638,043']

In [18]:
revised_money_2019_list = []
for i in range(len(money_2019_list)):
    if i%3 == 1:
       revised_money_2019_list.append(money_2019_list[i])
print(len(revised_money_2019_list), revised_money_2019_list[:5])

911 ['$858,373,000', '$543,638,043', '$434,038,008', '$430,144,682', '$426,829,839']

In [19]:
# as in the first dataframe, I extracted the link to the page for each movie
link_list_2019 = [t for t in soup2.findAll('td', class_="mojo-field-type-release")] 
new_link_list_2019 = []
for t in link_list_2019:
    link = [x.get('href') for x in t.findAll('a', class_="a-link-normal")]
    link_str = link[0]
    new_link_list_2019.append(link_str)
print(len(new_link_list_2019), new_link_list_2019[0])

911 /release/rl3059975681/?ref_=bo_yld_table_1

In [20]:
df_2019 = pd.DataFrame([rank_2019_list, title_2019_list, new_link_list_2019, revised_money_2019_list]).transpose()
df_2019.columns = ['2019_Rank', 'Movie_Title', 'Movie_Page', '2019_Gross']
df_2019

,2019_Rank,Movie_Title,Movie_Page,2019_Gross
0,1,Avengers: Endgame,/release/rl3059975681/?ref_=bo_yld_table_1,"$858,373,000"
1,2,The Lion King,/release/rl3321923073/?ref_=bo_yld_table_2,"$543,638,043"
2,3,Toy Story 4,/release/rl3798500865/?ref_=bo_yld_table_3,"$434,038,008"
3,4,Frozen II,/release/rl2424210945/?ref_=bo_yld_table_4,"$430,144,682"
4,5,Captain Marvel,/release/rl3009644033/?ref_=bo_yld_table_5,"$426,829,839"
...,...,...,...,...
906,907,Henchmen,/release/rl1241941505/?ref_=bo_yld_table_907,$297
907,908,1945,/release/rl3506603521/?ref_=bo_yld_table_908,$236
908,909,Tall Tales from the Magical Garden of Antoon K...,/release/rl17401345/?ref_=bo_yld_table_909,$220
909,910,Over the Limit,/release/rl268928513/?ref_=bo_yld_table_910,$117
910,911,Postcards from London,/release/rl3104278017/?ref_=bo_yld_table_911,$99

In [21]:
html_page3 = requests.get('https://www.boxofficemojo.com/year/2020/?grossesOption=calendarGrosses')
soup3 = BeautifulSoup(html_page3.content, 'html.parser') 

# retrieve the data for each column
rank_2020_list = [r.text for r in soup3.findAll('td', class_="mojo-field-type-rank")] 
title_2020_list = [t.text for t in soup3.findAll('td', class_="mojo-field-type-release")] 
money_2020_list = [m.text for m in soup3.findAll('td', class_="mojo-field-type-money")] 

# select only the money column of that year's gross
revised_money_2020_list = []
for i in range(len(money_2020_list)):
    if i%3 == 1:
       revised_money_2020_list.append(money_2020_list[i])
    
# as in the first dataframe, I extracted the link to the page for each movie
link_list_2020 = [t for t in soup3.findAll('td', class_="mojo-field-type-release")] 
new_link_list_2020 = []
for t in link_list_2020:
    link = [x.get('href') for x in t.findAll('a', class_="a-link-normal")]
    link_str = link[0]
    new_link_list_2020.append(link_str)
print(len(new_link_list_2020), new_link_list_2020[0])

# create the dataframe
df_2020 = pd.DataFrame([rank_2020_list, title_2020_list, new_link_list_2020, revised_money_2020_list]).transpose()
df_2020.columns = ['2020_Rank', 'Movie_Title', 'Movie_Page', '2020_Gross']
df_2020

454 /release/rl1182631425/?ref_=bo_yld_table_1

,2020_Rank,Movie_Title,Movie_Page,2020_Gross
0,1,Bad Boys for Life,/release/rl1182631425/?ref_=bo_yld_table_1,"$204,417,855"
1,2,1917,/release/rl2969994753/?ref_=bo_yld_table_2,"$157,901,466"
2,3,Sonic the Hedgehog,/release/rl4244997633/?ref_=bo_yld_table_3,"$146,066,470"
3,4,Jumanji: The Next Level,/release/rl755467777/?ref_=bo_yld_table_4,"$124,736,710"
4,5,Star Wars: Episode IX - The Rise of Skywalker,/release/rl3305145857/?ref_=bo_yld_table_5,"$124,496,308"
...,...,...,...,...
449,450,Asako I & II,/release/rl1359513089/?ref_=bo_yld_table_450,$231
450,451,Chained for Life,/release/rl1292600833/?ref_=bo_yld_table_451,$115
451,452,Shooting the Mafia,/release/rl2366342657/?ref_=bo_yld_table_452,$88
452,453,Benjamin the Elephant (2020),/release/rl1180795649/?ref_=bo_yld_table_453,$49
453,454,Love Goes Public,/release/rl2124382721/?ref_=bo_yld_table_454,$38

I limited my dataframes to the top 200 grossing movies of each year.

In [22]:
df_2020 = df_2020.drop(df_2020.index[200:])
df_2020

,2020_Rank,Movie_Title,Movie_Page,2020_Gross
0,1,Bad Boys for Life,/release/rl1182631425/?ref_=bo_yld_table_1,"$204,417,855"
1,2,1917,/release/rl2969994753/?ref_=bo_yld_table_2,"$157,901,466"
2,3,Sonic the Hedgehog,/release/rl4244997633/?ref_=bo_yld_table_3,"$146,066,470"
3,4,Jumanji: The Next Level,/release/rl755467777/?ref_=bo_yld_table_4,"$124,736,710"
4,5,Star Wars: Episode IX - The Rise of Skywalker,/release/rl3305145857/?ref_=bo_yld_table_5,"$124,496,308"
...,...,...,...,...
195,196,Extra Ordinary,/release/rl2562359809/?ref_=bo_yld_table_196,"$164,346"
196,197,Palm Springs,/release/rl3175187201/?ref_=bo_yld_table_197,"$164,000"
197,198,A Call to Spy,/release/rl3796140801/?ref_=bo_yld_table_198,"$158,864"
198,199,Love Story50th Anniversary,/release/rl934707713/?ref_=bo_yld_table_199,"$153,504"
199,200,The Dark and the Wicked,/release/rl4015883009/?ref_=bo_yld_table_200,"$149,011"

In [23]:
df_2019 = df_2019.drop(df_2019.index[200:])
df_2019

,2019_Rank,Movie_Title,Movie_Page,2019_Gross
0,1,Avengers: Endgame,/release/rl3059975681/?ref_=bo_yld_table_1,"$858,373,000"
1,2,The Lion King,/release/rl3321923073/?ref_=bo_yld_table_2,"$543,638,043"
2,3,Toy Story 4,/release/rl3798500865/?ref_=bo_yld_table_3,"$434,038,008"
3,4,Frozen II,/release/rl2424210945/?ref_=bo_yld_table_4,"$430,144,682"
4,5,Captain Marvel,/release/rl3009644033/?ref_=bo_yld_table_5,"$426,829,839"
...,...,...,...,...
195,196,Welcome to Marwen,/release/rl2264958465/?ref_=bo_yld_table_196,"$2,405,625"
196,197,"My People, My Country",/release/rl2433451521/?ref_=bo_yld_table_197,"$2,356,683"
197,198,Promare,/release/rl3104540161/?ref_=bo_yld_table_198,"$2,287,950"
198,199,Super 30,/release/rl4211639809/?ref_=bo_yld_table_199,"$2,269,878"
199,200,Faustina: Love and Mercy,/release/rl252413441/?ref_=bo_yld_table_200,"$2,243,180"

Merging the three dataframes.

In [24]:
df_new = pd.merge(df, df_2019, on = "Movie_Title", how = "outer") 
len(df_new)

382

In [25]:
df_new2 = pd.merge(df_new, df_2020, on = "Movie_Title", how = "outer") 
len(df_new2)

551

Move the movie link data from the secondary and tertiary columns into the primary link column.

In [26]:
i = 0
for j in range(0, 551):
    if df_new2.isnull().Movie_Page_x[i]:
        df_new2.Movie_Page_x[i] = df_new2.Movie_Page[i]
    if df_new2.isnull().Movie_Page_x[i]:
        df_new2.Movie_Page_x[i] = df_new2.Movie_Page_y[i]
    i +=1
# Then count the NaN cells to make sure there are none
count = df_new2["Movie_Page_x"].isna().sum()
count

0

For the 2019 and 2020 ranked movies, filled in the year released in the Year_Released column.

In [73]:
for y in df_new2.index:
    if pd.isna(df_new2['Year_Released'][y]) == True and pd.isna(df_new2['2019_Rank'][y]) == False:
        df_new2.Year_Released[y] = 2019
        
for y in df_new2.index:
    if pd.isna(df_new2['Year_Released'][y]) == True and pd.isna(df_new2['2020_Rank'][y]) == False:
        df_new2.Year_Released[y] = 2020

Scrape the web site for the domestic gross, budget, MPAA rating and genres of each movie.

In [563]:
movie_url_list = []
gross_master_list = []
budget_master_list = []
mpaa_master_list = []
genres_master_list = []

j=0
    
for m in df_new2.Movie_Title:
    movie_url = 'https://www.boxofficemojo.com' + df_new2.Movie_Page_x[j]
#     movie_url_list.append(movie_url)
    html_page5 = requests.get(movie_url)
    soup5 = BeautifulSoup(html_page5.content, 'html.parser')
    
# the domestic gross from the first span tag
    gross = soup5.find('span', class_="money")
    gross = str(gross)
    gross = gross[20:-7]

# the budget is not the first span tag with the money class, so it took extra steps
    budget = soup5.find_all('span', text=re.compile('Budget')) 
    budget_parent = []
    budget_parent = [budget.parent for budget in budget]
    if not budget_parent:
        budget_money = [np.nan]
    else:
        budget_parent_string = budget_parent[0]
        budget_money = [m.text for m in budget_parent_string.findAll('span', class_="money")]
        budget_money_string = budget_money[0]

# likewise for MPAA rating
    mpaa = soup5.find_all('span', text=re.compile('MPAA'))
    mpaa_parent = []
    mpaa_parent = [mpaa.parent for mpaa in mpaa]
    if not mpaa_parent:
        mpaa_rating = [np.nan, np.nan]
    else:
        mpaa_parent_string = mpaa_parent[0]
        mpaa_rating = [m.text for m in mpaa_parent_string.findAll('span')]
        mpaa_rating_string = mpaa_rating[1]

#likewise for genres
    genres = soup5.find_all('span', text=re.compile('Genres')) 
    genres_parent = []
    genres_parent = [genres.parent for genres in genres]
    if not genres_parent:
        genres_categories = [np.nan, np.nan]
    else:
        genres_parent_string = genres_parent[0]
        genres_categories = [m.text for m in genres_parent_string.findAll('span')]
        genres_categories_string = genres_categories[1]

    gross_master_list.append(gross)
    budget_master_list.append(budget_money_string)
    mpaa_master_list.append(mpaa_rating_string)
    genres_master_list.append(genres_categories_string)
    
    j += 1
    if j > 550:
        break

Make the genre categories for each movie a list.

In [578]:
movie_genres_list = []
genres_master_list_split = []
for x in genres_master_list_to_split:
    movie_genres_list = list(x.split("\n    \n        "))
    genres_master_list_split.append(movie_genres_list)
genres_master_list_split[:5]

['Action\n    \n        Adventure\n    \n        Drama\n    \n        Sci-Fi',
 'Action\n    \n        Adventure\n    \n        Fantasy\n    \n        Sci-Fi',
 'Drama\n    \n        Romance',
 'Action\n    \n        Adventure\n    \n        Sci-Fi',
 'Action\n    \n        Adventure\n    \n        Sci-Fi']

In [588]:
len(gross_master_list), len(budget_master_list), len(mpaa_master_list), len(genres_master_list_split)

(551, 551, 551, 551)

Add lists of scraped data to the master dataframe.

In [ ]:
df_new3 = df_new2
df_new3['Domestic_Gross']= gross_master_list
df_new3['Budget'] = budget_master_list
df_new3['MPAA'] = mpaa_master_list
df_new3['Genres'] = genres_master_list_split
df_new3.head()

In [635]:
df_new3.head()

,Lifetime_Rank,Movie_Title,Movie_Page_x,Lifetime_Gross,Year_Released,2019_Rank,Movie_Page_y,2019_Gross,2020_Rank,Movie_Page,2020_Gross,Domestic_Gross,Budget,MPAA,Genres
0,1,Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_1,"$2,797,800,564",2019,1,/release/rl3059975681/?ref_=bo_yld_table_1,"$858,373,000",NaN,NaN,NaN,"$858,373,000","$356,000,000",PG-13,"[Action, Adventure, Drama, Sci-Fi]"
1,2,Avatar,/title/tt0499549/?ref_=bo_cso_table_2,"$2,790,439,092",2009,NaN,NaN,NaN,NaN,NaN,NaN,"$760,507,625","$237,000,000",PG-13,"[Action, Adventure, Fantasy, Sci-Fi]"
2,3,Titanic,/title/tt0120338/?ref_=bo_cso_table_3,"$2,471,754,307",1997,NaN,NaN,NaN,NaN,NaN,NaN,"$659,363,944","$200,000,000",PG-13,"[Drama, Romance]"
3,4,Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_4,"$2,068,454,310",2015,NaN,NaN,NaN,NaN,NaN,NaN,"$936,662,225","$245,000,000",PG-13,"[Action, Adventure, Sci-Fi]"
4,5,Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,"$2,048,359,754",2018,NaN,NaN,NaN,NaN,NaN,NaN,"$678,815,482","$245,000,000",PG-13,"[Action, Adventure, Sci-Fi]"

Put the scraped data in a dataframe so that it can be saved as a sqlite db. I don't want to do the scraping over and rehit the web site unnecessarily.

In [570]:
df_scraped_data = pd.DataFrame(list(zip(gross_master_list, budget_master_list, mpaa_master_list, genres_master_list)), 
               columns =['Domestic_Gross', 'Budget', 'MPAA', 'Genres']) 
df_scraped_data.head()

,Domestic_Gross,Budget,MPAA,Genres
0,"$858,373,000","$356,000,000",PG-13,Action\n \n Adventure\n \n ...
1,"$760,507,625","$237,000,000",PG-13,Action\n \n Adventure\n \n ...
2,"$659,363,944","$200,000,000",PG-13,Drama\n \n Romance
3,"$936,662,225","$245,000,000",PG-13,Action\n \n Adventure\n \n ...
4,"$678,815,482","$245,000,000",PG-13,Action\n \n Adventure\n \n ...

Create a sqlite db to and put the scraped data in it.

In [33]:
conn = sqlite3.connect('scraped_data.db') 
c = conn.cursor()

# c.execute('CREATE TABLE scraped_data (Domestic_Gross, Budget, MPAA, Genres)')
# conn.commit()
# 
# df_scraped_data.to_sql('scraped_data', conn, if_exists='replace', index = False)

In [34]:
cnx = sqlite3.connect('scraped_data.db')

df_imported = pd.read_sql_query("SELECT * FROM scraped_data", cnx)
df_imported.head()

,Domestic_Gross,Budget,MPAA,Genres
0,"$858,373,000","$356,000,000",PG-13,Action\n \n Adventure\n \n ...
1,"$760,507,625","$237,000,000",PG-13,Action\n \n Adventure\n \n ...
2,"$659,363,944","$200,000,000",PG-13,Drama\n \n Romance
3,"$936,662,225","$245,000,000",PG-13,Action\n \n Adventure\n \n ...
4,"$678,815,482","$245,000,000",PG-13,Action\n \n Adventure\n \n ...

Added the year released for those movies scraped from the 2019 and 2020 highest grossing lists.

In [768]:
for y in df_new3.index:
    if pd.isna(df_new3['Year_Released'][y]) == True and pd.isna(df_new3['2020_Rank'][y]) == False:
        df_new3.Year_Released.fillna('2020')

for y in df_new3.index:
    if pd.isna(df_new3['Year_Released'][y]) == True and pd.isna(df_new3['2019_Rank'][y]) == False:
        df_new3.Year_Released.fillna('2019')

Converted strings in Domestic Gross and Budget columns to integers, removing the commas and dollar signs.

In [861]:
i = 0
for y in df_new3:
    df_new4['Domestic_Gross'][i] = df_new4['Domestic_Gross'][i].replace(',', '')
    df_new4['Domestic_Gross'][i] = df_new4['Domestic_Gross'][i].replace('$', '')
    i +=1

In [829]:
i = 0
for y in df_new3:
    df_new4['Budget'][i] = df_new3['Budget'][i].replace(',', '')
    df_new4['Budget'][i] = df_new3['Budget'][i].replace('$', '')
    i +=1

Checked the data.

In [860]:
j = 0
for y in df_new3.index:
        print(j, df_new3['Domestic_Gross'][y], df_new3['Budget'][y])
        j += 1

0 858373000 356000000
1 760507625 237000000
2 659363944 200000000
3 936662225 245000000
4 678815482 245000000
5 543638043 260000000
6 422783777 45000000
7 623357910 220000000
8 353007020 190000000
9 477373578 150000000
10 459005868 250000000
11 700426566 250000000
12 381409310 250000000
13 620181382 317000000
14 417719760 170000000
15 400953009 150000000
16 504481165 160000000
17 608581744 160000000
18 226008385 250000000
19 409013994 200000000
20 336045770 74000000
21 408084349 250000000
22 335061807 250000000
23 377845905 94000000
24 390532085 160000000
25 426829839 160000000
26 352390543 195000000
27 304360277 200000000
28 173956935 200000000
29 245439076 210000000
30 422783777 45000000
31 448139099 250000000
32 335451311 55000000
33 515202542 275000000
34 434038008 200000000
35 415004880 200000000
36 423315812 225000000
37 532177324 200000000
38 355559216 183000000
39 241071802 250000000
40 264624300 80000000
41 404214720 63000000
42 486295561 63000000
43 474544677 115000000
44 334191110 200000000
45 341268248 200000000
46 303003568 200000000
47 318087620 125000000
48 534858444 185000000
49 296347721 185000000
50 368065385 76000000
51 364001123 175000000
52 404540171 90000000
53 309420425 300000000
54 258366855 300000000
55 255119788 300000000
56 342551365 94000000
57 292353413 150000000
58 380843261 94000000
59 302305431 250000000
60 441226247 150000000
61 216668042 52000000
62 290417905 150000000
63 336530303 258000000
64 315544750 93000000
65 196573705 90000000
66 200074609 245000000
67 334201140 175000000
68 262450136 100000000
69 161321843 95000000
70 368384330 75000000
71 330360194 250000000
72 2721100 30100000
73 380270577 113000000
74 424668047 130000000
75 389813101 200000000
76 356921711 175000000
77 213515506 100000000
78 315058289 180000000
79 292576195 160000000
80 402111870 200000000
81 292324737 120000000
82 407022860 139000000
83 412815408 149000000
84 306169268 75000000
85 234037575 180000000
86 322719944 160000000
87 210460015 160000000
88 320314960 125000000
89 249975996 130000000
90 172558876 230000000
91 435110554 10500000
92 166112167 200000000
93 220159104 178000000
94 317101119 185000000
95 373585825 200000000
96 238679850 160000000
97 324591735 110000000
98 363070709 58000000
99 460998507 11000000
100 333718600 170000000
101 217536138 125000000
102 241410378 180000000
103 262030663 230000000
104 337135885 125000000
105 238736787 165000000
106 216391482 145000000
107 325100054 175000000
108 233921534 200000000
109 291710957 180000000
110 268492764 180000000
111 281576461 150000000
112 293004164 175000000
113 3695533 175000000
114 274092705 100000000
115 259766572 170000000
116 281287133 110000000
117 297816253 50000000
118 208545589 170000000
119 319246193 150000000
120 202853933 150000000
121 328828874 35000000
122 188020017 165000000
123 5971413 165000000
124 300531751 68000000
125 209397903 145000000
126 408010692 78000000
127 211593228 79000000
128 195042377 150000000
129 330455270 55000000
130 232641920 165000000
131 293506292 40000000
132 291045518 225000000
133 195330621 80000000
134 165249063 150000000
135 281723902 160000000
136 229024295 160000000
137 222527828 165000000
138 159555901 200000000
139 305413918 140000000
140 310676740 115000000
141 206362140 170000000
142 248757044 170000000
143 270448425 75000000
144 215434591 130000000
145 261441092 92000000
146 228433663 108000000
147 227946274 150000000
148 209837675 125000000
149 179020854 225000000
150 312433331 200000000
151 206445654 150000000
152 216648740 150000000
153 177002924 145000000
154 226277068 97000000
155 229086679 73000000
156 167445960 150000000
157 370782930 30000000
158 144169664 52000000
159 124987023 120000000
160 130168683 217000000
161 180010950 150000000
162 234280354 132000000
163 200821936 260000000
164 168368427 200000000
165 250690539 90000000
166 187168425 135000000
167 254464305 80000000
168 319034126 140000000
169 256393010 150000000
170 137690172 175000000
171 290642256 115000000
172 1543547 115000000
173 250863268 115000000
174 166167230 40000000
175 168052812 185000000
176 142614158 110000000
177 218080025 207000000
178 191452396 200000000
179 149260504 130000000
180 3232685 130000000
181 201578182 140000000
182 186740799 125000000
183 218815487 50000000
184 350126372 58800000
185 215409889 125000000
186 1983984 125000000
187 155442489 178000000
188 186848418 178000000
189 251513985 69000000
190 201151353 95000000
191 193595521 95000000
192 202359711 190000000
193 237283207 185000000
194 292753960 18000000
195 183135014 75000000
196 183637894 135000000
197 145443742 130000000
198 201091711 175000000
199 167510016 80000000
200 175084580 20000000
201 171015687 75000000
202 160799505 129000000
203 158874395 80000000
204 144105346 150000000
205 142502728 90000000
206 140371656 100000000
207 165363234 40000000
208 114766307 170000000
209 113929605 185000000
210 111048468 20000000
211 110500138 170000000
212 108252517 37500000
213 117624357 97600000
214 105806508 99000000
215 104963598 20000000
216 100044905 24000000
217 96854135 13000000
218 96368160 40000000
219 85838210 170000000
220 83140306 20000000
221 190241310 20000000
222 80001807 110000000
223 74152591 30000000
224 73286650 26000000
225 73257045 20000000
226 73123082 42000000
227 69030436 40000000
228 68947075 25000000
229 171958438 130000000
230 65845974 200000000
231 62253077 185000000
232 60716390 75000000
233 60477943 49000000
234 57005601 9000000
235 61704055 25000000
236 56846802 100000000
237 127195589 135000000
238 54733739 9000000
239 54724696 21000000
240 54611903 20000000
241 85080171 23000000
242 50188370 90000000
243 48791187 31000000
244 48546770 138000000
245 45896028 5000000
246 45729221 7000000
247 45216793 90000000
248 44819352 50000000
249 44451847 29900000
250 43082155 17000000
251 42004346 18000000
252 41667116 65000000
253 40860481 20000000
254 43808310 18000000
255 40713082 14000000
256 103804407 50000000
257 39014193 13500000
258 108101214 40000000
259 35419122 8000000
260 35417038 21000000
261 35150750 25000000
262 34746945 5000000
263 32138862 60000000
264 31581712 45000000
265 30712119 8500000
266 30316271 40000000
267 66757013 100000000
268 29208403 10000000
269 28714231 6000000
270 28148130 9000000
271 47836282 9000000
272 28539757 33000000
273 27426361 9000000
274 26395642 18000000
275 25621766 6500000
276 50023780 19000000
277 24313888 19000000
278 22958886 11000000
279 24622687 11000000
280 22782371 16000000
281 22680962 6000000
282 53369749 11400000
283 22370452 16000000
284  16000000
285 22055313 12000000
286 21903748 50000000
287 21360215 35000000
288 33370906 14000000
289 20457151 6200000
290 20150241 6200000
291 27166770 95000000
292 19005109 6000000
293 34366783 6000000
294 31762808 32000000
295 22345542 45000000
296 17803077 48000000
297 17695781 48000000
298 17300439 6000000
299 17156058 10000000
300 16790790 10000000
301 16649539 10000000
302 39282227 16000000
303 15499454 16000000
304 15006824 15000000
305 14856291 6000000
306 215288866 36000000
307 13631124 36000000
308 14915773 36000000
309 17956913 36000000
310 12180032 38000000
311 12138565 14000000
312 11901145 14000000
313 10867104 14000000
314 11136084 14000000
315 10532219 14000000
316 10205616 10000000
317 10429730 5000000
318 9651611 5000000
319 30573626 42000000
320 9277736 26000000
321 9270920 26000000
322 9198356 26000000
323 9039891 26000000
324 8547045 26000000
325 7743794 26000000
326 7699452 26000000
327 7189808 26000000
328 16468499 26000000
329 6563605 26000000
330 6546159 26000000
331 6424420 26000000
332 17541090 26000000
333 5979540 26000000
334 5958315 26000000
335 5801249 26000000
336 5611123 26000000
337 5566534 26000000
338 5470235 26000000
339 5332621 45000000
340 5215062 5000000
341 5043620 5000000
342 4950029 5000000
343 4809800 5000000
344 4600249 5000000
345 4535154 5000000
346 4515719 5000000
347 4654000 21000000
348 4580048 21000000
349 4697364 21000000
350 4376819 21000000
351 4366949 21000000
352 270620950 75000000
353 4450456 75000000
354 4252657 75000000
355 4186168 75000000
356 4046429 75000000
357 4567338 75000000
358 3659413 75000000
359 3531094 75000000
360 3509917 75000000
361 3502600 75000000
362 3355324 75000000
363 115715889 50000000
364 4589490 50000000
365 3168978 50000000
366 5102129 50000000
367 2971549 50000000
368 3012615 50000000
369 2884827 50000000
370 2872057 50000000
371 2729336 50000000
372 2670925 50000000
373 2660165 50000000
374 67363237 48000000
375 2410914 48000000
376 2410795 48000000
377 10763520 48000000
378 2356683 48000000
379 2313596 48000000
380 2269878 48000000
381 2243180 48000000
382 206305244 90000000
383 159227644 95000000
384 148974665 85000000
385 84158461 84500000
386 77047065 175000000
387 70410000 7000000
388 62342368 135000000
389 61555145 135000000
390 57929000 135000000
391 36471795 22000000
392 36001502 25000000
393 41964820 25000000
394 27309289 7000000
395 23852659 7000000
396 22169514 29000000
397 21221803 10000000
398 20831465 10000000
399 20578185 16000000
400 19478789 16000000
401 17291078 16000000
402 37700000 16000000
403 15472775 14000000
404 15347654 14000000
405 14163574 14000000
406 13304000 14000000
407 13590514 14000000
408 12611536 10000000
409 10691091 3000000
410 10055355 10000000
411 12561824 45000000
412 9868521 12000000
413 9956375 12000000
414 9358025 12000000
415 8950900 12000000
416 8287061 12000000
417 7798743 12000000
418 5812500 14000000
419 5437971 50000000
420 10301930 50000000
421 4828000 50000000
422 4810790 50000000
423 4067442 50000000
424 4051990 50000000
425 9728465 50000000
426 3759854 50000000
427 3439660 50000000
428 3306611 50000000
429 2992948 50000000
430 2971116 50000000
431 2949212 50000000
432 2542518 50000000
433 2482000 18000000
434 5315527 18000000
435 2286000 18000000
436 3956031 18000000
437 2237900 18000000
438 2003568 33000000
439 1876298 33000000
440 1814193 33000000
441 2138907 33000000
442 1637548 33000000
443 1386600 63000000
444 1349286 63000000
445 4036525 63000000
446 1181823 63000000
447 1231407 63000000
448 1100313 63000000
449 1070714 63000000
450 1047083 63000000
451 1044212 63000000
452 1034467 63000000
453 1003700 63000000
454 1077584 63000000
455 913935 63000000
456 889863 63000000
457 871000 63000000
458 1730597 63000000
459 855894 63000000
460 825000 63000000
461 821000 63000000
462 793525 63000000
463 793084 63000000
464 758300 7000000
465 752885 7000000
466 2386483 7000000
467 727000 7000000
468 726000 115000000
469 721439 115000000
470 706000 22000000
471 696191 22000000
472 711000 165000000
473 685380 165000000
474 678926 24000000
475 1073969 24000000
476 605000 30000000
477 604334 30000000
478 582720 30000000
479 636673 30000000
480 542000 170000000
481 765561 170000000
482 538179 170000000
483 537589 170000000
484 531430 170000000
485 514107 170000000
486 512805 170000000
487 516521 170000000
488 473781 75000000
489 502252 75000000
490 500104 75000000
491 497747 75000000
492 1534320 75000000
493 467000 160000000
494 460000 175000000
495 449561 175000000
496 434702 175000000
497 430000 140000000
498 1788322 140000000
499 429148 140000000
500 413378 140000000
501 410265 140000000
502 405904 140000000
503 367000 140000000
504 364138 140000000
505 398663 140000000
506 355308 140000000
507 367849 140000000
508 332432 140000000
509 372755 140000000
510 330181 140000000
511 325000 28000000
512 364716 28000000
513 323688 28000000
514 300460 28000000
515 301162 28000000
516 296027 28000000
517 295000 28000000
518 420180 123000000
519 289573 123000000
520 282149 123000000
521 278378 123000000
522 267824 123000000
523 252000 149000000
524 247000 19000000
525 240000 52000000
526 483684 52000000
527 237571 52000000
528 234505 52000000
529 234429 52000000
530 228615 52000000
531 437625 52000000
532 215000 150000000
533 213440 150000000
534 207928 150000000
535 214670 150000000
536 200000 150000000
537 372562 150000000
538 198352 150000000
539 265102 150000000
540 190160 150000000
541 185026 150000000
542 184477 150000000
543 177262 150000000
544 196258 150000000
545 167962 150000000
546 164346 150000000
547 164000 150000000
548 159014 150000000
549 153504 150000000
550 155757 150000000

Converted Domestic Gross and Budget to numeric datatypes.

In [888]:
df_new4[["Domestic_Gross", "Budget"]] = df_new4[["Domestic_Gross", "Budget"]].apply(pd.to_numeric)
df_new4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 551 entries, 0 to 550
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Lifetime_Rank   200 non-null    object
 1   Movie_Title     551 non-null    object
 2   Movie_Page_x    551 non-null    object
 3   Lifetime_Gross  200 non-null    object
 4   Year_Released   551 non-null    object
 5   2019_Rank       201 non-null    object
 6   Movie_Page_y    201 non-null    object
 7   2019_Gross      201 non-null    object
 8   2020_Rank       200 non-null    object
 9   Movie_Page      200 non-null    object
 10  2020_Gross      200 non-null    object
 11  Domestic_Gross  550 non-null    float64
 12  Budget          551 non-null    int64
 13  MPAA            551 non-null    object
 14  Genres          551 non-null    object
dtypes: float64(1), int64(1), object(13)
memory usage: 88.9+ KB

In [903]:
i = 0
for x in df_new3.index:
    if df_new3['MPAA'][i] == 'PG-13':
        print(df_new3['Movie_Title'][i])
    i +=1
    
# print(df_new3['Movie_Title'].where(df_new3['MPAA'] == 'PG-13') )

Avengers: Endgame
Avatar
Titanic
Star Wars: Episode VII - The Force Awakens
Avengers: Infinity War
The Lion King
The Avengers
Frozen II
Avengers: Age of Ultron
Black Panther
Harry Potter and the Deathly Hallows: Part 2
Star Wars: Episode VIII - The Last Jedi
Incredibles 2
The Fate of the Furious
Minions
Captain America: Civil War
Aquaman
The Lord of the Rings: The Return of the King
Spider-Man: Far from Home
Captain Marvel
Transformers: Dark of the Moon
Skyfall
Fast & Furious Presents: Hobbs & Shaw
The Dark Knight Rises
Star Wars: Episode IX - The Rise of Skywalker
Pirates of the Caribbean: Dead Man's Chest
Rogue One: A Star Wars Story
Pirates of the Caribbean: On Stranger Tides
Jurassic Park
The Hobbit: An Unexpected Journey
The Dark Knight
Harry Potter and the Deathly Hallows: Part 1
Jumanji: Welcome to the Jungle
Pirates of the Caribbean: At World's End
The Hobbit: The Desolation of Smaug
The Hobbit: The Battle of the Five Armies
The Lord of the Rings: The Two Towers
Harry Potter and the Order of the Phoenix
Finding Nemo
Bohemian Rhapsody
Harry Potter and the Goblet of Fire
Spider-Man 3
The Lord of the Rings: The Fellowship of the Ring
Spectre
Spider-Man: Homecoming
Batman v Superman: Dawn of Justice
Wolf Warrior 2
Star Wars: Episode III - Revenge of the Sith
The Hunger Games: Catching Fire
Guardians of the Galaxy Vol. 2
Venom
Thor: Ragnarok
Inception
Transformers: Revenge of the Fallen
The Twilight Saga: Breaking Dawn - Part 2
Spider-Man
Wonder Woman
Independence Day
Fantastic Beasts and Where to Find Them
Jumanji: The Next Level
Pirates of the Caribbean: Dead Men Tell No Tales
2012
Mission: Impossible - Fallout
Indiana Jones and the Kingdom of the Crystal Skull
Spider-Man 2
Fast & Furious 6
Guardians of the Galaxy
The Da Vinci Code
The Amazing Spider-Man
The Hunger Games: Mockingjay - Part 1
Suicide Squad
X-Men: Days of Future Past
Gravity
Captain America: The Winter Soldier
The Twilight Saga: Breaking Dawn - Part 1
The Twilight Saga: New Moon
Dawn of the Planet of the Apes
Transformers
The Amazing Spider-Man 2
Interstellar
The Wandering Earth
The Twilight Saga: Eclipse
Mission: Impossible - Ghost Protocol
The Hunger Games
Mission: Impossible - Rogue Nation
Forrest Gump
Doctor Strange
The Sixth Sense
Man of Steel
The Hunger Games: Mockingjay - Part 2
Justice League
Fantastic Beasts: The Crimes of Grindelwald
Pirates of the Caribbean: The Curse of the Black Pearl
Thor: The Dark World
The Martian
Hancock
Fast Five
Men in Black 3
Iron Man 2
Ant-Man and the Wasp
The Lost World: Jurassic Park
Casino Royale
Mamma Mia!
Transformers: The Last Knight
War of the Worlds
Quantum of Solace
Men in Black
Iron Man
I Am Legend
Ready Player One
Kong: Skull Island
King Kong
Armageddon
The Day After Tomorrow
Mission: Impossible II
X-Men: Apocalypse
Sherlock Holmes: A Game of Shadows
World War Z
The Simpsons Movie
The Meg
Shazam!
Knives Out
Glass
Godzilla: King of the Monsters
The Upside
Ford v Ferrari
Alita: Battle Angel
Men in Black: International
Yesterday
A Madea Family Funeral
Scary Stories to Tell in the Dark
X-Men: Dark Phoenix
Escape Room
Midway
Bumblebee
Green Book
Ad Astra
Isn't It Romantic
Gemini Man
Five Feet Apart
Harriet
Little
The Intruder
The Hustle
Last Christmas
Happy Death Day 2U
Countdown
Judy
Fighting with My Family
On the Basis of Sex
Jojo Rabbit
The Peanut Butter Falcon
Charlie's Angels
Second Act
Miss Bala
Poms
After
Blinded by the Light
Dark Waters
The Best of Enemies
Black Christmas
Holmes & Watson
Where'd You Go, Bernadette
Free Solo
The Current War: Director's Cut
Captive State
The Sun Is also a Star
Bring the Soul: The Movie
Pavarotti
Tolkien
Brian Banks
Linda Ronstadt: The Sound of My Voice
Uri: The Surgical Strike
Replicas
Echo in the Canyon
Creed II
Tod@s Caen
Instant Family
Arctic2019 Re-release
Welcome to Marwen
My People, My Country
Promare
Super 30
Faustina: Love and Mercy
Tenet
Just Mercy
Fantasy Island
The New Mutants
The Photograph
Underwater
Wonder Woman 1984
The Turning
Gretel & Hansel
Honest Thief
My Hero Academia: Heroes Rising
Brahms: The Boy II
Impractical Jokers: The Movie
Bloodshot
Come Play
Weathering with You
Monster Hunter
The Broken Hearts Gallery
News of the World
Bill & Ted Face the Music
2020 Oscar Nominated Short Films
Words on Bathroom Walls
Half Brothers
Jurassic Park2020 Re-release
2 Hearts
Love and Monsters
The Song of Names
All My Life
Mafia Inc
National Lampoon's Christmas Vacation2020 Re-release
A Hidden Life
Vanguard
Guardians of the Galaxy2020 Re-release
Color Out of Space
Pinocchio
Iron Man2020 Re-release
Fantastic Fungi
Infamous
Tulsa
Stevie Nicks 24 Karat Gold the Concert
Black Panther2020 Re-release
Yellow Rose
Ride Your Wave
The Eight Hundred
Created Equal: Clarence Thomas in His Own Words
Wonder Woman2020 Re-release
Back to the Future2020 Re-release
Bohemian Rhapsody2020 Re-release
63 Up
Tokyo Godfathers2020 Re-release
Blind Eyes Opened
Wild Mountain Thyme
A Call to Spy

In [883]:
# print(df_new3['Movie_Title'].where(df_new3['Domestic_Gross'] >1000000))
df_new3.head()

,Lifetime_Rank,Movie_Title,Movie_Page_x,Lifetime_Gross,Year_Released,2019_Rank,Movie_Page_y,2019_Gross,2020_Rank,Movie_Page,2020_Gross,Domestic_Gross,Budget,MPAA,Genres
0,1,Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_1,2797800564,2019,2019,/release/rl3059975681/?ref_=bo_yld_table_1,"$858,373,000",NaN,NaN,NaN,858373000,356000000,PG-13,"[Action, Adventure, Drama, Sci-Fi]"
1,2,Avatar,/title/tt0499549/?ref_=bo_cso_table_2,2790439092,2009,NaN,NaN,NaN,NaN,NaN,NaN,760507625,237000000,PG-13,"[Action, Adventure, Fantasy, Sci-Fi]"
2,3,Titanic,/title/tt0120338/?ref_=bo_cso_table_3,2471754307,1997,NaN,NaN,NaN,NaN,NaN,NaN,659363944,200000000,PG-13,"[Drama, Romance]"
3,4,Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_4,2068454310,2015,NaN,NaN,NaN,NaN,NaN,NaN,936662225,245000000,PG-13,"[Action, Adventure, Sci-Fi]"
4,5,Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,2048359754,2018,NaN,NaN,NaN,NaN,NaN,NaN,678815482,245000000,PG-13,"[Action, Adventure, Sci-Fi]"

In [887]:
df_new4[["Domestic_Gross", "Budget"]] = df_new4[["Domestic_Gross", "Budget"]].apply(pd.to_numeric)
df_new4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 551 entries, 0 to 550
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Lifetime_Rank   200 non-null    object
 1   Movie_Title     551 non-null    object
 2   Movie_Page_x    551 non-null    object
 3   Lifetime_Gross  200 non-null    object
 4   Year_Released   551 non-null    object
 5   2019_Rank       201 non-null    object
 6   Movie_Page_y    201 non-null    object
 7   2019_Gross      201 non-null    object
 8   2020_Rank       200 non-null    object
 9   Movie_Page      200 non-null    object
 10  2020_Gross      200 non-null    object
 11  Domestic_Gross  550 non-null    float64
 12  Budget          551 non-null    int64
 13  MPAA            551 non-null    object
 14  Genres          551 non-null    object
dtypes: float64(1), int64(1), object(13)
memory usage: 88.9+ KB

In [39]:
# gross_master_list = []
# budget_master_list = []
# mpaa_master_list = []
# genres_master_list = []

# i = 0
# for x in df_imported.index:
#     gross_master_list.append(df_imported['Domestic_Gross'][i])
#     i +=1
 
# i = 0
# for x in df_imported.index:
#     budget_master_list.append(df_imported['Budget'][i])
#     i +=1
# i = 0
# for x in df_imported.index:
#     mpaa_master_list.append(df_imported['MPAA'][i])
#     i +=1
i = 0
for x in df_imported.index:
    genres_master_list.append(df_imported['Genres'][i])
    i +=1
len(gross_master_list), len(budget_master_list), len(mpaa_master_list), len(genres_master_list)

# df_new3 = df_new2
# df_new3['Domestic_Gross']= gross_master_list
# df_new3['Budget'] = budget_master_list
# df_new3['MPAA'] = mpaa_master_list
# df_new3['Genres'] = genres_master_list_split
# df_new3.head()

(550, 550, 550, 550)

In [52]:
budget_master_list[549]

'$150,000,000'

In [68]:
df_new2.tail(10)

,Lifetime_Rank,Movie_Title,Movie_Page_x,Lifetime_Gross,Year_Released,2019_Rank,Movie_Page_y,2019_Gross,2020_Rank,Movie_Page,2020_Gross
541,NaN,The Wolf of Snow Hollow,/release/rl1247052545/?ref_=bo_yld_table_190,NaN,NaN,NaN,NaN,NaN,190,/release/rl1247052545/?ref_=bo_yld_table_190,"$185,026"
542,NaN,Come Away,/release/rl509379329/?ref_=bo_yld_table_191,NaN,NaN,NaN,NaN,NaN,191,/release/rl509379329/?ref_=bo_yld_table_191,"$183,423"
543,NaN,And Then We Danced,/release/rl632128001/?ref_=bo_yld_table_193,NaN,NaN,NaN,NaN,NaN,193,/release/rl632128001/?ref_=bo_yld_table_193,"$177,262"
544,NaN,Beanpole,/release/rl632652289/?ref_=bo_yld_table_194,NaN,NaN,NaN,NaN,NaN,194,/release/rl632652289/?ref_=bo_yld_table_194,"$173,162"
545,NaN,No Escape,/release/rl1632731905/?ref_=bo_yld_table_195,NaN,NaN,NaN,NaN,NaN,195,/release/rl1632731905/?ref_=bo_yld_table_195,"$167,962"
546,NaN,Extra Ordinary,/release/rl2562359809/?ref_=bo_yld_table_196,NaN,NaN,NaN,NaN,NaN,196,/release/rl2562359809/?ref_=bo_yld_table_196,"$164,346"
547,NaN,Palm Springs,/release/rl3175187201/?ref_=bo_yld_table_197,NaN,NaN,NaN,NaN,NaN,197,/release/rl3175187201/?ref_=bo_yld_table_197,"$164,000"
548,NaN,A Call to Spy,/release/rl3796140801/?ref_=bo_yld_table_198,NaN,NaN,NaN,NaN,NaN,198,/release/rl3796140801/?ref_=bo_yld_table_198,"$158,864"
549,NaN,Love Story50th Anniversary,/release/rl934707713/?ref_=bo_yld_table_199,NaN,NaN,NaN,NaN,NaN,199,/release/rl934707713/?ref_=bo_yld_table_199,"$153,504"
550,NaN,The Dark and the Wicked,/release/rl4015883009/?ref_=bo_yld_table_200,NaN,NaN,NaN,NaN,NaN,200,/release/rl4015883009/?ref_=bo_yld_table_200,"$149,011"

In [70]:
df_imported.head(10)

,Domestic_Gross,Budget,MPAA,Genres
0,"$858,373,000","$356,000,000",PG-13,Action\n \n Adventure\n \n ...
1,"$760,507,625","$237,000,000",PG-13,Action\n \n Adventure\n \n ...
2,"$659,363,944","$200,000,000",PG-13,Drama\n \n Romance
3,"$936,662,225","$245,000,000",PG-13,Action\n \n Adventure\n \n ...
4,"$678,815,482","$245,000,000",PG-13,Action\n \n Adventure\n \n ...
5,"$543,638,043","$260,000,000",PG,Adventure\n \n Animation\n \n ...
6,"$422,783,777","$45,000,000",G,Adventure\n \n Animation\n \n ...
7,"$623,357,910","$220,000,000",PG-13,Action\n \n Adventure\n \n ...
8,"$353,007,020","$190,000,000",PG-13,Action\n \n Adventure\n \n ...
9,"$477,373,578","$150,000,000",PG,Adventure\n \n Animation\n \n ...

In [65]:
print(len(df_new2), len(df_imported))

550 550

In [61]:
df_new2=df_new2.drop(index=7)
len(df_new2)

550

In [69]:
df_new2.tail(10)

,Lifetime_Rank,Movie_Title,Movie_Page_x,Lifetime_Gross,Year_Released,2019_Rank,Movie_Page_y,2019_Gross,2020_Rank,Movie_Page,2020_Gross
541,NaN,The Wolf of Snow Hollow,/release/rl1247052545/?ref_=bo_yld_table_190,NaN,NaN,NaN,NaN,NaN,190,/release/rl1247052545/?ref_=bo_yld_table_190,"$185,026"
542,NaN,Come Away,/release/rl509379329/?ref_=bo_yld_table_191,NaN,NaN,NaN,NaN,NaN,191,/release/rl509379329/?ref_=bo_yld_table_191,"$183,423"
543,NaN,And Then We Danced,/release/rl632128001/?ref_=bo_yld_table_193,NaN,NaN,NaN,NaN,NaN,193,/release/rl632128001/?ref_=bo_yld_table_193,"$177,262"
544,NaN,Beanpole,/release/rl632652289/?ref_=bo_yld_table_194,NaN,NaN,NaN,NaN,NaN,194,/release/rl632652289/?ref_=bo_yld_table_194,"$173,162"
545,NaN,No Escape,/release/rl1632731905/?ref_=bo_yld_table_195,NaN,NaN,NaN,NaN,NaN,195,/release/rl1632731905/?ref_=bo_yld_table_195,"$167,962"
546,NaN,Extra Ordinary,/release/rl2562359809/?ref_=bo_yld_table_196,NaN,NaN,NaN,NaN,NaN,196,/release/rl2562359809/?ref_=bo_yld_table_196,"$164,346"
547,NaN,Palm Springs,/release/rl3175187201/?ref_=bo_yld_table_197,NaN,NaN,NaN,NaN,NaN,197,/release/rl3175187201/?ref_=bo_yld_table_197,"$164,000"
548,NaN,A Call to Spy,/release/rl3796140801/?ref_=bo_yld_table_198,NaN,NaN,NaN,NaN,NaN,198,/release/rl3796140801/?ref_=bo_yld_table_198,"$158,864"
549,NaN,Love Story50th Anniversary,/release/rl934707713/?ref_=bo_yld_table_199,NaN,NaN,NaN,NaN,NaN,199,/release/rl934707713/?ref_=bo_yld_table_199,"$153,504"
550,NaN,The Dark and the Wicked,/release/rl4015883009/?ref_=bo_yld_table_200,NaN,NaN,NaN,NaN,NaN,200,/release/rl4015883009/?ref_=bo_yld_table_200,"$149,011"

In [90]:
df_new2.head()

,Lifetime_Rank,Movie_Title,Movie_Page_x,Lifetime_Gross,Year_Released,2019_Rank,Movie_Page_y,2019_Gross,2020_Rank,Movie_Page,2020_Gross
0,1,Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_1,"$2,797,800,564",2019,1,/release/rl3059975681/?ref_=bo_yld_table_1,"$858,373,000",NaN,NaN,NaN
1,2,Avatar,/title/tt0499549/?ref_=bo_cso_table_2,"$2,790,439,092",2009,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Titanic,/title/tt0120338/?ref_=bo_cso_table_3,"$2,471,754,307",1997,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_4,"$2,068,454,310",2015,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,"$2,048,359,754",2018,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
for y in df_new2.index:
    print (df_new2['Movie_Page_x'][y], df_new2['Year_Released'][y])

/title/tt4154796/?ref_=bo_cso_table_1 2019
/title/tt0499549/?ref_=bo_cso_table_2 2009
/title/tt0120338/?ref_=bo_cso_table_3 1997
/title/tt2488496/?ref_=bo_cso_table_4 2015
/title/tt4154756/?ref_=bo_cso_table_5 2018
/title/tt0369610/?ref_=bo_cso_table_6 2015
/title/tt6105098/?ref_=bo_cso_table_7 2019
/title/tt0848228/?ref_=bo_cso_table_8 2012
/title/tt2820852/?ref_=bo_cso_table_9 2015
/title/tt4520988/?ref_=bo_cso_table_10 2019
/title/tt2395427/?ref_=bo_cso_table_11 2015
/title/tt1825683/?ref_=bo_cso_table_12 2018
/title/tt1201607/?ref_=bo_cso_table_13 2011
/title/tt2527336/?ref_=bo_cso_table_14 2017
/title/tt4881806/?ref_=bo_cso_table_15 2018
/title/tt2294629/?ref_=bo_cso_table_16 2013
/title/tt2771200/?ref_=bo_cso_table_17 2017
/title/tt3606756/?ref_=bo_cso_table_18 2018
/title/tt4630562/?ref_=bo_cso_table_19 2017
/title/tt1300854/?ref_=bo_cso_table_20 2013
/title/tt2293640/?ref_=bo_cso_table_21 2015
/title/tt3498820/?ref_=bo_cso_table_22 2016
/title/tt1477834/?ref_=bo_cso_table_23 2018
/title/tt0167260/?ref_=bo_cso_table_24 2003
/title/tt6320628/?ref_=bo_cso_table_25 2019
/title/tt4154664/?ref_=bo_cso_table_26 2019
/title/tt1399103/?ref_=bo_cso_table_27 2011
/title/tt1074638/?ref_=bo_cso_table_28 2012
/title/tt6806448/?ref_=bo_cso_table_29 2019
/title/tt2109248/?ref_=bo_cso_table_30 2014
/title/tt1345836/?ref_=bo_cso_table_32 2012
/title/tt7286456/?ref_=bo_cso_table_33 2019
/title/tt2527338/?ref_=bo_cso_table_34 2019
/title/tt1979376/?ref_=bo_cso_table_35 2019
/title/tt0435761/?ref_=bo_cso_table_36 2010
/title/tt0383574/?ref_=bo_cso_table_37 2006
/title/tt3748528/?ref_=bo_cso_table_38 2016
/title/tt6139732/?ref_=bo_cso_table_39 2019
/title/tt1298650/?ref_=bo_cso_table_40 2011
/title/tt3469046/?ref_=bo_cso_table_41 2017
/title/tt0107290/?ref_=bo_cso_table_42 1993
/title/tt2277860/?ref_=bo_cso_table_43 2016
/title/tt0120915/?ref_=bo_cso_table_44 1999
/title/tt1014759/?ref_=bo_cso_table_45 2010
/title/tt2948356/?ref_=bo_cso_table_46 2016
/title/tt0903624/?ref_=bo_cso_table_47 2012
/title/tt0241527/?ref_=bo_cso_table_48 2001
/title/tt0468569/?ref_=bo_cso_table_49 2008
/title/tt0926084/?ref_=bo_cso_table_50 2010
/title/tt1690953/?ref_=bo_cso_table_51 2013
/title/tt3040964/?ref_=bo_cso_table_52 2016
/title/tt2283362/?ref_=bo_cso_table_53 2017
/title/tt0449088/?ref_=bo_cso_table_54 2007
/title/tt1170358/?ref_=bo_cso_table_55 2013
/title/tt2310332/?ref_=bo_cso_table_56 2014
/title/tt0167261/?ref_=bo_cso_table_57 2002
/title/tt0373889/?ref_=bo_cso_table_58 2007
/title/tt0266543/?ref_=bo_cso_table_59 2003
/title/tt0417741/?ref_=bo_cso_table_60 2009
/title/tt0298148/?ref_=bo_cso_table_61 2004
/title/tt1727824/?ref_=bo_cso_table_62 2018
/title/tt0330373/?ref_=bo_cso_table_63 2005
/title/tt0413300/?ref_=bo_cso_table_64 2007
/title/tt0120737/?ref_=bo_cso_table_65 2001
/title/tt1080016/?ref_=bo_cso_table_66 2009
/title/tt2379713/?ref_=bo_cso_table_67 2015
/title/tt2250912/?ref_=bo_cso_table_68 2017
/title/tt0295297/?ref_=bo_cso_table_69 2002
/title/tt1667889/?ref_=bo_cso_table_70 2012
/title/tt2709768/?ref_=bo_cso_table_71 2016
/title/tt2975590/?ref_=bo_cso_table_72 2016
/title/tt7131870/?ref_=bo_cso_table_73 2017
/title/tt0121766/?ref_=bo_cso_table_74 2005
/title/tt1951264/?ref_=bo_cso_table_75 2013
/title/tt3896198/?ref_=bo_cso_table_76 2017
/title/tt2096673/?ref_=bo_cso_table_77 2015
/title/tt1270797/?ref_=bo_cso_table_78 2018
/title/tt3501632/?ref_=bo_cso_table_79 2017
/title/tt1375666/?ref_=bo_cso_table_80 2010
/title/tt1055369/?ref_=bo_cso_table_81 2009
/title/tt1673434/?ref_=bo_cso_table_82 2012
/title/tt0145487/?ref_=bo_cso_table_83 2002
/title/tt0451279/?ref_=bo_cso_table_84 2017
/title/tt0116629/?ref_=bo_cso_table_85 1996
/title/tt3183660/?ref_=bo_cso_table_86 2016
/title/tt0413267/?ref_=bo_cso_table_87 2007
/title/tt2380307/?ref_=bo_cso_table_88 2017
/title/tt7975244/?ref_=bo_cso_table_89 2019
/title/tt0304141/?ref_=bo_cso_table_90 2004
/title/tt1790809/?ref_=bo_cso_table_91 2017
/title/tt0083866/?ref_=bo_cso_table_92 1982
/title/tt1190080/?ref_=bo_cso_table_93 2009
/title/tt4912910/?ref_=bo_cso_table_94 2018
/title/tt0367882/?ref_=bo_cso_table_95 2008
/title/tt0316654/?ref_=bo_cso_table_96 2004
/title/tt1905041/?ref_=bo_cso_table_97 2013
/title/tt5463162/?ref_=bo_cso_table_98 2018
/title/tt1431045/?ref_=bo_cso_table_99 2016
/title/tt0076759/?ref_=bo_cso_table_100 1977
/title/tt2015381/?ref_=bo_cso_table_101 2014
/title/tt0382625/?ref_=bo_cso_table_102 2006
/title/tt1587310/?ref_=bo_cso_table_103 2014
/title/tt0948470/?ref_=bo_cso_table_104 2012
/title/tt1951265/?ref_=bo_cso_table_105 2014
/title/tt0892791/?ref_=bo_cso_table_106 2010
/title/tt1277953/?ref_=bo_cso_table_107 2012
/title/tt1386697/?ref_=bo_cso_table_108 2016
/title/tt1877832/?ref_=bo_cso_table_109 2014
/title/tt0363771/?ref_=bo_cso_table_110 2005
/title/tt1453405/?ref_=bo_cso_table_111 2013
/title/tt0234215/?ref_=bo_cso_table_112 2003
/title/tt1049413/?ref_=bo_cso_table_113 2009
/title/tt10627720/?ref_=bo_cso_table_114 2019
/title/tt1454468/?ref_=bo_cso_table_115 2013
/title/tt1843866/?ref_=bo_cso_table_116 2014
/title/tt1324999/?ref_=bo_cso_table_117 2011
/title/tt1259571/?ref_=bo_cso_table_118 2009
/title/tt2103281/?ref_=bo_cso_table_119 2014
/title/tt0418279/?ref_=bo_cso_table_120 2007
/title/tt1872181/?ref_=bo_cso_table_121 2014
/title/tt1396484/?ref_=bo_cso_table_122 2017
/title/tt0816692/?ref_=bo_cso_table_123 2014
/title/tt7605074/?ref_=bo_cso_table_124 2019
/title/tt1325004/?ref_=bo_cso_table_125 2010
/title/tt1229238/?ref_=bo_cso_table_126 2011
/title/tt1392170/?ref_=bo_cso_table_127 2012
/title/tt7349950/?ref_=bo_cso_table_128 2019
/title/tt2381249/?ref_=bo_cso_table_129 2015
/title/tt0109830/?ref_=bo_cso_table_130 1994
/title/tt1211837/?ref_=bo_cso_table_131 2016
/title/tt0167404/?ref_=bo_cso_table_132 1999
/title/tt0770828/?ref_=bo_cso_table_133 2013
/title/tt0438097/?ref_=bo_cso_table_134 2006
/title/tt1302011/?ref_=bo_cso_table_135 2011
/title/tt1951266/?ref_=bo_cso_table_136 2015
/title/tt0974015/?ref_=bo_cso_table_137 2017
/title/tt2245084/?ref_=bo_cso_table_138 2014
/title/tt4123430/?ref_=bo_cso_table_139 2018
/title/tt0325980/?ref_=bo_cso_table_140 2003
/title/tt0121765/?ref_=bo_cso_table_141 2002
/title/tt1981115/?ref_=bo_cso_table_142 2013
/title/tt3521164/?ref_=bo_cso_table_143 2016
/title/tt3470600/?ref_=bo_cso_table_144 2016
/title/tt0441773/?ref_=bo_cso_table_145 2008
/title/tt0317705/?ref_=bo_cso_table_146 2004
/title/tt3659388/?ref_=bo_cso_table_147 2015
/title/tt0448157/?ref_=bo_cso_table_148 2008
/title/tt1596343/?ref_=bo_cso_table_149 2011
/title/tt1409024/?ref_=bo_cso_table_150 2012
/title/tt1228705/?ref_=bo_cso_table_151 2010
/title/tt0382932/?ref_=bo_cso_table_152 2007
/title/tt5095030/?ref_=bo_cso_table_153 2018
/title/tt1646971/?ref_=bo_cso_table_154 2014
/title/tt3315342/?ref_=bo_cso_table_155 2017
/title/tt0119567/?ref_=bo_cso_table_156 1997
/title/tt0381061/?ref_=bo_cso_table_157 2006
/title/tt0335345/?ref_=bo_cso_table_158 2004
/title/tt0795421/?ref_=bo_cso_table_159 2008
/title/tt0454876/?ref_=bo_cso_table_160 2012
/title/tt3371366/?ref_=bo_cso_table_161 2017
/title/tt0479952/?ref_=bo_cso_table_162 2008
/title/tt0407304/?ref_=bo_cso_table_163 2005
/title/tt0398286/?ref_=bo_cso_table_164 2010
/title/tt0830515/?ref_=bo_cso_table_165 2008
/title/tt0119654/?ref_=bo_cso_table_166 1997
/title/tt0481499/?ref_=bo_cso_table_167 2013
/title/tt1411697/?ref_=bo_cso_table_168 2011
/title/tt0371746/?ref_=bo_cso_table_169 2008
/title/tt0480249/?ref_=bo_cso_table_170 2007
/title/tt1677720/?ref_=bo_cso_table_171 2018
/title/tt0198781/?ref_=bo_cso_table_172 2001
/title/tt6878882/?ref_=bo_cso_table_173 2018
/title/tt0477347/?ref_=bo_cso_table_174 2006
/title/tt2322441/?ref_=bo_cso_table_175 2015
/title/tt3731562/?ref_=bo_cso_table_176 2017
/title/tt0472181/?ref_=bo_cso_table_177 2011
/title/tt0360717/?ref_=bo_cso_table_178 2005
/title/tt1216475/?ref_=bo_cso_table_179 2011
/title/tt0448694/?ref_=bo_cso_table_180 2011
/title/tt4701660/?ref_=bo_cso_table_181 2016
/title/tt0120591/?ref_=bo_cso_table_182 1998
/title/tt0319262/?ref_=bo_cso_table_183 2004
/title/tt1637725/?ref_=bo_cso_table_184 2012
/title/tt2179136/?ref_=bo_cso_table_185 2014
/title/tt0120755/?ref_=bo_cso_table_186 2000
/title/tt7752454/?ref_=bo_cso_table_187 2018
/title/tt3385516/?ref_=bo_cso_table_188 2016
/title/tt1515091/?ref_=bo_cso_table_189 2011
/title/tt1323594/?ref_=bo_cso_table_190 2010
/title/tt1661199/?ref_=bo_cso_table_191 2015
/title/tt0351283/?ref_=bo_cso_table_192 2005
/title/tt0816711/?ref_=bo_cso_table_193 2013
/title/tt1217209/?ref_=bo_cso_table_194 2012
/title/tt0080684/?ref_=bo_cso_table_195 1980
/title/tt0462538/?ref_=bo_cso_table_196 2007
/title/tt1663202/?ref_=bo_cso_table_197 2015
/title/tt4779682/?ref_=bo_cso_table_198 2018
/title/tt5848272/?ref_=bo_cso_table_199 2018
/title/tt5220122/?ref_=bo_cso_table_200 2018
/release/rl1711506945/?ref_=bo_yld_table_12 2019
/release/rl1476560385/?ref_=bo_yld_table_14 2019
/release/rl2606269953/?ref_=bo_yld_table_15 2019
/release/rl1719436801/?ref_=bo_yld_table_16 2019
/release/rl17139201/?ref_=bo_yld_table_17 2019
/release/rl520455681/?ref_=bo_yld_table_78 2020
/release/rl1196197377/?ref_=bo_yld_table_19 2019
/release/rl3204875777/?ref_=bo_yld_table_12 2020
/release/rl2675869185/?ref_=bo_yld_table_22 2019
/release/rl939755009/?ref_=bo_yld_table_116 2020
/release/rl1518241281/?ref_=bo_yld_table_24 2019
/release/rl2991883777/?ref_=bo_yld_table_25 2019
/release/rl3204679169/?ref_=bo_yld_table_26 2019
/release/rl990348801/?ref_=bo_yld_table_39 2020
/release/rl1517848065/?ref_=bo_yld_table_28 2019
/release/rl3255404033/?ref_=bo_yld_table_29 2019
/release/rl101025281/?ref_=bo_yld_table_129 2020
/release/rl2399634945/?ref_=bo_yld_table_31 2019
/release/rl4261709313/?ref_=bo_yld_table_32 2019
/release/rl1887340033/?ref_=bo_yld_table_33 2019
/release/rl1275299329/?ref_=bo_yld_table_34 2019
/release/rl879986177/?ref_=bo_yld_table_35 2019
/release/rl2986509825/?ref_=bo_yld_table_36 2019
/release/rl939820545/?ref_=bo_yld_table_37 2019
/release/rl1392805377/?ref_=bo_yld_table_38 2019
/release/rl2885912065/?ref_=bo_yld_table_39 2019
/release/rl201819649/?ref_=bo_yld_table_187 2020
/release/rl1745257985/?ref_=bo_yld_table_41 2019
/release/rl2852554241/?ref_=bo_yld_table_42 2019
/release/rl3263137281/?ref_=bo_yld_table_43 2019
/release/rl4211181057/?ref_=bo_yld_table_44 2019
/release/rl3103950337/?ref_=bo_yld_table_45 2019
/release/rl4144072193/?ref_=bo_yld_table_46 2019
/release/rl3993339393/?ref_=bo_yld_table_47 2019
/release/rl2852423169/?ref_=bo_yld_table_48 2019
/release/rl2651096577/?ref_=bo_yld_table_52 2020
/release/rl2634515969/?ref_=bo_yld_table_120 2020
/release/rl2139063809/?ref_=bo_yld_table_51 2019
/release/rl402884097/?ref_=bo_yld_table_52 2019
/release/rl0361985/?ref_=bo_yld_table_53 2019
/release/rl3221390849/?ref_=bo_yld_table_54 2019
/release/rl805799425/?ref_=bo_yld_table_55 2019
/release/rl1560446465/?ref_=bo_yld_table_56 2019
/release/rl436438529/?ref_=bo_yld_table_57 2019
/release/rl4228089345/?ref_=bo_yld_table_58 2019
/release/rl1443202561/?ref_=bo_yld_table_59 2019
/release/rl3825501697/?ref_=bo_yld_table_60 2019
/release/rl2575074817/?ref_=bo_yld_table_61 2019
/release/rl2819196417/?ref_=bo_yld_table_62 2019
/release/rl604603905/?ref_=bo_yld_table_161 2020
/release/rl369657345/?ref_=bo_yld_table_127 2020
/release/rl3238364673/?ref_=bo_yld_table_65 2019
/release/rl1006863873/?ref_=bo_yld_table_66 2019
/release/rl3473245697/?ref_=bo_yld_table_67 2019
/release/rl50824705/?ref_=bo_yld_table_62 2020
/release/rl218400257/?ref_=bo_yld_table_69 2019
/release/rl4077356545/?ref_=bo_yld_table_70 2019
/release/rl587826689/?ref_=bo_yld_table_71 2019
/release/rl218596865/?ref_=bo_yld_table_8 2020
/release/rl3490153985/?ref_=bo_yld_table_73 2019
/release/rl3271722497/?ref_=bo_yld_table_74 2019
/release/rl705070593/?ref_=bo_yld_table_75 2019
/release/rl3808724481/?ref_=bo_yld_table_76 2019
/release/rl1275561473/?ref_=bo_yld_table_77 2019
/release/rl4244932097/?ref_=bo_yld_table_78 2019
/release/rl2231862785/?ref_=bo_yld_table_79 2019
/release/rl2835514881/?ref_=bo_yld_table_80 2019
/release/rl1333691905/?ref_=bo_yld_table_15 2020
/release/rl352749057/?ref_=bo_yld_table_82 2019
/release/rl285771265/?ref_=bo_yld_table_83 2019
/release/rl2885846529/?ref_=bo_yld_table_84 2019
/release/rl1409779201/?ref_=bo_yld_table_85 2019
/release/rl2886174209/?ref_=bo_yld_table_101 2020
/release/rl805733889/?ref_=bo_yld_table_87 2019
/release/rl2668004865/?ref_=bo_yld_table_89 2019
/release/rl386434561/?ref_=bo_yld_table_90 2019
/release/rl3825763841/?ref_=bo_yld_table_21 2020
/release/rl470189569/?ref_=bo_yld_table_163 2020
/release/rl1577420289/?ref_=bo_yld_table_94 2019
/release/rl1359316481/?ref_=bo_yld_table_95 2019
/release/rl3036972545/?ref_=bo_yld_table_96 2019
/release/rl2986771969/?ref_=bo_yld_table_97 2019
/release/rl1258849793/?ref_=bo_yld_table_19 2020
/release/rl973571585/?ref_=bo_yld_table_99 2019
/release/rl1526892033/?ref_=bo_yld_table_100 2019
/release/rl2097579521/?ref_=bo_yld_table_101 2019
/release/rl654673409/?ref_=bo_yld_table_102 2019
/release/rl604341761/?ref_=bo_yld_table_103 2019
/release/rl2030601729/?ref_=bo_yld_table_37 2020
/release/rl1309181441/?ref_=bo_yld_table_105 2019
/release/rl2315290113/?ref_=bo_yld_table_106 2019
/release/rl2684847617/?ref_=bo_yld_table_48 2020
/release/rl436831745/?ref_=bo_yld_table_108 2019
/release/rl1325696513/?ref_=bo_yld_table_109 2019
/release/rl2550760961/?ref_=bo_yld_table_34 2020
/release/rl2903213569/?ref_=bo_yld_table_54 2020
/release/rl1476625921/?ref_=bo_yld_table_112 2019
/release/rl1091143169/?ref_=bo_yld_table_113 2019
/release/rl3221521921/?ref_=bo_yld_table_114 2019
/release/rl201754113/?ref_=bo_yld_table_192 2020
/release/rl3607135745/?ref_=bo_yld_table_116 2019
/release/rl3430712833/?ref_=bo_yld_table_117 2019
/release/rl4194665985/?ref_=bo_yld_table_118 2019
/release/rl3070854657/?ref_=bo_yld_table_119 2019
/release/rl3255141889/?ref_=bo_yld_table_120 2019
/release/rl789022209/?ref_=bo_yld_table_121 2019
/release/rl2164360705/?ref_=bo_yld_table_122 2019
/release/rl889816577/?ref_=bo_yld_table_123 2019
/release/rl1393001985/?ref_=bo_yld_table_124 2019
/release/rl184976897/?ref_=bo_yld_table_125 2019
/release/rl956597761/?ref_=bo_yld_table_126 2019
/release/rl2030536193/?ref_=bo_yld_table_127 2019
/release/rl1409910273/?ref_=bo_yld_table_128 2019
/release/rl3305670145/?ref_=bo_yld_table_129 2019
/release/rl2047575553/?ref_=bo_yld_table_134 2020
/release/rl1460045313/?ref_=bo_yld_table_131 2019
/release/rl3557262849/?ref_=bo_yld_table_132 2019
/release/rl1308788225/?ref_=bo_yld_table_121 2020
/release/rl805930497/?ref_=bo_yld_table_134 2019
/release/rl2130740737/?ref_=bo_yld_table_135 2019
/release/rl1426687489/?ref_=bo_yld_table_136 2019
/release/rl788956673/?ref_=bo_yld_table_137 2019
/release/rl2567276033/?ref_=bo_yld_table_138 2019
/release/rl1611236865/?ref_=bo_yld_table_139 2019
/release/rl2282063361/?ref_=bo_yld_table_140 2019
/release/rl3574171137/?ref_=bo_yld_table_141 2019
/release/rl3641017857/?ref_=bo_yld_table_142 2019
/release/rl705201665/?ref_=bo_yld_table_143 2019
/release/rl3171059201/?ref_=bo_yld_table_144 2019
/release/rl3960047105/?ref_=bo_yld_table_145 2019
/release/rl3423110657/?ref_=bo_yld_table_146 2019
/release/rl738625025/?ref_=bo_yld_table_147 2019
/release/rl2164753921/?ref_=bo_yld_table_148 2019
/release/rl2566948353/?ref_=bo_yld_table_149 2019
/release/rl453215745/?ref_=bo_yld_table_150 2019
/release/rl537232897/?ref_=bo_yld_table_152 2019
/release/rl3725035009/?ref_=bo_yld_table_153 2019
/release/rl1175029249/?ref_=bo_yld_table_154 2019
/release/rl3523708417/?ref_=bo_yld_table_155 2019
/release/rl621118977/?ref_=bo_yld_table_156 2019
/release/rl4178085377/?ref_=bo_yld_table_157 2019
/release/rl1929807361/?ref_=bo_yld_table_158 2019
/release/rl3339027969/?ref_=bo_yld_table_159 2019
/release/rl722175489/?ref_=bo_yld_table_160 2019
/release/rl2986903041/?ref_=bo_yld_table_161 2019
/release/rl554272257/?ref_=bo_yld_table_162 2019
/release/rl1074365953/?ref_=bo_yld_table_163 2019
/release/rl4144530945/?ref_=bo_yld_table_164 2019
/release/rl3355739649/?ref_=bo_yld_table_165 2019
/release/rl4110976513/?ref_=bo_yld_table_166 2019
/release/rl822707713/?ref_=bo_yld_table_167 2019
/release/rl3255272961/?ref_=bo_yld_table_168 2019
/release/rl3075966465/?ref_=bo_yld_table_169 2019
/release/rl1846117889/?ref_=bo_yld_table_170 2019
/release/rl2248705537/?ref_=bo_yld_table_171 2019
/release/rl705267201/?ref_=bo_yld_table_172 2019
/release/rl1258653185/?ref_=bo_yld_table_173 2019
/release/rl1980270081/?ref_=bo_yld_table_111 2020
/release/rl2148042241/?ref_=bo_yld_table_176 2019
/release/rl1661568513/?ref_=bo_yld_table_177 2019
/release/rl185173505/?ref_=bo_yld_table_178 2019
/release/rl1694991873/?ref_=bo_yld_table_179 2019
/release/rl2500429313/?ref_=bo_yld_table_180 2019
/release/rl1594197505/?ref_=bo_yld_table_181 2019
/release/rl3406333441/?ref_=bo_yld_table_94 2020
/release/rl1779009025/?ref_=bo_yld_table_183 2019
/release/rl2466678273/?ref_=bo_yld_table_184 2019
/release/rl654870017/?ref_=bo_yld_table_185 2019
/release/rl168330753/?ref_=bo_yld_table_186 2019
/release/rl1024165377/?ref_=bo_yld_table_187 2019
/release/rl4161308161/?ref_=bo_yld_table_188 2019
/release/rl4178150913/?ref_=bo_yld_table_190 2019
/release/rl2433254913/?ref_=bo_yld_table_191 2019
/release/rl4144465409/?ref_=bo_yld_table_192 2019
/release/rl235243009/?ref_=bo_yld_table_193 2019
/release/rl235505153/?ref_=bo_yld_table_194 2019
/release/rl436635137/?ref_=bo_yld_table_195 2019
/release/rl2264958465/?ref_=bo_yld_table_196 2019
/release/rl2433451521/?ref_=bo_yld_table_197 2019
/release/rl3104540161/?ref_=bo_yld_table_198 2019
/release/rl4211639809/?ref_=bo_yld_table_199 2019
/release/rl252413441/?ref_=bo_yld_table_200 2019
/release/rl1182631425/?ref_=bo_yld_table_1 2020
/release/rl2969994753/?ref_=bo_yld_table_2 2020
/release/rl4244997633/?ref_=bo_yld_table_3 2020
/release/rl3640886785/?ref_=bo_yld_table_6 2020
/release/rl2164295169/?ref_=bo_yld_table_7 2020
/release/rl50628097/?ref_=bo_yld_table_9 2020
/release/rl2533524993/?ref_=bo_yld_table_10 2020
/release/rl3433267713/?ref_=bo_yld_table_11 2020
/release/rl1442940417/?ref_=bo_yld_table_14 2020
/release/rl3473442305/?ref_=bo_yld_table_16 2020
/release/rl419792385/?ref_=bo_yld_table_17 2020
/release/rl3209528833/?ref_=bo_yld_table_18 2020
/release/rl1611040257/?ref_=bo_yld_table_20 2020
/release/rl1098876417/?ref_=bo_yld_table_22 2020
/release/rl4278486529/?ref_=bo_yld_table_23 2020
/release/rl1745126913/?ref_=bo_yld_table_24 2020
/release/rl2141815297/?ref_=bo_yld_table_25 2020
/release/rl1655931393/?ref_=bo_yld_table_26 2020
/release/rl1078166273/?ref_=bo_yld_table_27 2020
/release/rl302548481/?ref_=bo_yld_table_28 2020
/release/rl3624109569/?ref_=bo_yld_table_29 2020
/release/rl3020195329/?ref_=bo_yld_table_30 2020
/release/rl3842541057/?ref_=bo_yld_table_31 2020
/release/rl565543425/?ref_=bo_yld_table_32 2020
/release/rl867926529/?ref_=bo_yld_table_33 2020
/release/rl4127819265/?ref_=bo_yld_table_35 2020
/release/rl2567538177/?ref_=bo_yld_table_36 2020
/release/rl2998501889/?ref_=bo_yld_table_38 2020
/release/rl3221784065/?ref_=bo_yld_table_40 2020
/release/rl235374081/?ref_=bo_yld_table_41 2020
/release/rl1628014081/?ref_=bo_yld_table_42 2020
/release/rl2773844737/?ref_=bo_yld_table_43 2020
/release/rl2393408001/?ref_=bo_yld_table_44 2020
/release/rl1699840769/?ref_=bo_yld_table_45 2020
/release/rl2611249665/?ref_=bo_yld_table_46 2020
/release/rl3669066241/?ref_=bo_yld_table_47 2020
/release/rl1459979777/?ref_=bo_yld_table_49 2020
/release/rl3775038977/?ref_=bo_yld_table_50 2020
/release/rl1862895105/?ref_=bo_yld_table_51 2020
/release/rl1331004161/?ref_=bo_yld_table_53 2020
/release/rl2558297601/?ref_=bo_yld_table_55 2020
/release/rl742425345/?ref_=bo_yld_table_56 2020
/release/rl314475009/?ref_=bo_yld_table_57 2020
/release/rl3054208513/?ref_=bo_yld_table_58 2020