This project will determine the best kind of movies for Microsoft to make.
First we will import the necessary packages, then we will load the web page to scrape. This page is a list of all-time grossing movies.

In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [3]:
html_page = requests.get('https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW')
soup = BeautifulSoup(html_page.content, 'html.parser')

The table consists of four types of data: rank, title, lifetime gross, and year. Using the inspect element feature 
in the browser, it is evident that the rank is in mojo-field-type-rank; title in mojo-field-type-title, lifetime 
gross in mojo-field-type-rank, and release year in mojo-field-type-year

In [760]:
rank = soup.find('td', class_="mojo-field-type-rank")
rank

We'll put the ranks of all the movies in a list.

In [169]:
rank_list = [r.text for r in soup.findAll('td', class_="mojo-field-type-rank")] 
print(len(rank_list), rank_list[:5])

200 ['1', '2', '3', '4', '5']

We'll then find the titles, gross earnings, and year released and put those in lists.

In [6]:
title = rank.nextSibling
title

In [170]:
title_list = [t.text for t in soup.findAll('td', class_="mojo-field-type-title")] 
print(len(title_list), title_list[:5])

200 ['Avengers: Endgame', 'Avatar', 'Titanic', 'Star Wars: Episode VII - The Force Awakens', 'Avengers: Infinity War']

In [8]:
money = title.nextSibling
money

In [171]:
money_list = [m.text for m in soup.findAll('td', class_="mojo-field-type-money")] 
print(len(money_list), money_list[:5])

200 ['$2,797,800,564', '$2,790,439,092', '$2,471,754,307', '$2,068,454,310', '$2,048,359,754']

In [10]:
year = money.nextSibling
year

In [172]:
year_list = [y.text for y in soup.findAll('td', class_="mojo-field-type-year")] 
print(len(year_list), year_list[:5])

200 ['2019', '2009', '1997', '2015', '2018']

The links to the movie pages didn't have an attribute that was unique (it was the same for every link in the page). 
To get just the link, first I got a container with the url we need for each movie

In [173]:
link_list = [t for t in soup.findAll('td', class_="mojo-field-type-title")] 
print(len(link_list), link_list[0])

200 <td class="a-text-left mojo-field-type-title"><a class="a-link-normal" href="/title/tt4154796/?ref_=bo_cso_table_1">Avengers: Endgame</a></td>

Then I extracted just the href from each.

In [174]:
new_link_list = []
for t in link_list:
    link = [x.get('href') for x in t.findAll('a', class_="a-link-normal")]
    link_str = link[0]
    new_link_list.append(link_str)
print(len(new_link_list), new_link_list[0])

200 /title/tt4154796/?ref_=bo_cso_table_1

I put the lists into a dataframe.

In [206]:
df = pd.DataFrame([rank_list, title_list, new_link_list, money_list, year_list]).transpose()
df.columns = ['Lifetime_Rank', 'Movie_Title', 'Movie_Page', 'Lifetime_Gross', 'Year_Released']
df

,Lifetime_Rank,Movie_Title,Movie_Page,Lifetime_Gross,Year_Released
0,1,Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_1,"$2,797,800,564",2019
1,2,Avatar,/title/tt0499549/?ref_=bo_cso_table_2,"$2,790,439,092",2009
2,3,Titanic,/title/tt0120338/?ref_=bo_cso_table_3,"$2,471,754,307",1997
3,4,Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_4,"$2,068,454,310",2015
4,5,Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,"$2,048,359,754",2018
...,...,...,...,...,...
195,196,The Simpsons Movie,/title/tt0462538/?ref_=bo_cso_table_196,"$536,414,293",2007
196,197,The Revenant,/title/tt1663202/?ref_=bo_cso_table_197,"$532,950,503",2015
197,198,The Meg,/title/tt4779682/?ref_=bo_cso_table_198,"$530,259,473",2018
198,199,Ralph Breaks the Internet,/title/tt5848272/?ref_=bo_cso_table_199,"$529,323,962",2018
199,200,Hotel Transylvania 3: Summer Vacation,/title/tt5220122/?ref_=bo_cso_table_200,"$528,583,774",2018

Now I repeated the process for the tables of top grossing films for 2019 and 2020.

In [180]:
# Get top grossing films, 2019, 2020
html_page2 = requests.get('https://www.boxofficemojo.com/year/2019/?ref_=bo_yl_table_3')
soup2 = BeautifulSoup(html_page2.content, 'html.parser') 
rank_2019 = soup2.find('td', class_="mojo-field-type-rank")
title_2019 = soup2.find('td', class_="mojo-field-type-release")
money_2019 = soup2.find('td', class_="mojo-field-type-money")
print(rank_2019, title_2019, money_2019)

<td class="a-text-right mojo-header-column mojo-truncate mojo-field-type-rank mojo-sort-column">1</td> <td class="a-text-left mojo-field-type-release mojo-cell-wide"><a class="a-link-normal" href="/release/rl3059975681/?ref_=bo_yld_table_1">Avengers: Endgame</a></td> <td class="a-text-right mojo-field-type-money hidden">-</td>

In [181]:
rank_2019_list = [r.text for r in soup2.findAll('td', class_="mojo-field-type-rank")] 
print(len(rank_2019_list), rank_2019_list[:5])
title_2019_list = [t.text for t in soup2.findAll('td', class_="mojo-field-type-release")] 
print(len(title_2019_list), title_2019_list[:5])
money_2019_list = [m.text for m in soup2.findAll('td', class_="mojo-field-type-money")] 
print(len(money_2019_list), money_2019_list[:5])

911 ['1', '2', '3', '4', '5']
911 ['Avengers: Endgame', 'The Lion King', 'Toy Story 4', 'Frozen II', 'Captain Marvel']
2733 ['-', '$858,373,000', '$858,373,000', '-', '$543,638,043']

In [182]:
revised_money_2019_list = []
for i in range(len(money_2019_list)):
    if i%3 == 1:
       revised_money_2019_list.append(money_2019_list[i])
print(len(revised_money_2019_list), revised_money_2019_list[:5])

911 ['$858,373,000', '$543,638,043', '$434,038,008', '$430,144,682', '$426,829,839']

In [193]:
# as in the first dataframe, I extracted the link to the page for each movie
link_list_2019 = [t for t in soup2.findAll('td', class_="mojo-field-type-release")] 
new_link_list_2019 = []
for t in link_list_2019:
    link = [x.get('href') for x in t.findAll('a', class_="a-link-normal")]
    link_str = link[0]
    new_link_list_2019.append(link_str)
print(len(new_link_list_2019), new_link_list_2019[0])

911 /release/rl3059975681/?ref_=bo_yld_table_1

In [200]:
df_2019 = pd.DataFrame([rank_2019_list, title_2019_list, new_link_list_2019, revised_money_2019_list]).transpose()
df_2019.columns = ['2019_Rank', 'Movie_Title', 'Movie_Page', '2019_Gross']
df_2019

,2019_Rank,Movie_Title,Movie_Page,2019_Gross
0,1,Avengers: Endgame,/release/rl3059975681/?ref_=bo_yld_table_1,"$858,373,000"
1,2,The Lion King,/release/rl3321923073/?ref_=bo_yld_table_2,"$543,638,043"
2,3,Toy Story 4,/release/rl3798500865/?ref_=bo_yld_table_3,"$434,038,008"
3,4,Frozen II,/release/rl2424210945/?ref_=bo_yld_table_4,"$430,144,682"
4,5,Captain Marvel,/release/rl3009644033/?ref_=bo_yld_table_5,"$426,829,839"
...,...,...,...,...
906,907,Henchmen,/release/rl1241941505/?ref_=bo_yld_table_907,$297
907,908,1945,/release/rl3506603521/?ref_=bo_yld_table_908,$236
908,909,Tall Tales from the Magical Garden of Antoon K...,/release/rl17401345/?ref_=bo_yld_table_909,$220
909,910,Over the Limit,/release/rl268928513/?ref_=bo_yld_table_910,$117
910,911,Postcards from London,/release/rl3104278017/?ref_=bo_yld_table_911,$99

In [201]:
html_page3 = requests.get('https://www.boxofficemojo.com/year/2020/?grossesOption=calendarGrosses')
soup3 = BeautifulSoup(html_page3.content, 'html.parser') 

# retrieve the data for each column
rank_2020_list = [r.text for r in soup3.findAll('td', class_="mojo-field-type-rank")] 
title_2020_list = [t.text for t in soup3.findAll('td', class_="mojo-field-type-release")] 
money_2020_list = [m.text for m in soup3.findAll('td', class_="mojo-field-type-money")] 

# select only the money column of that year's gross
revised_money_2020_list = []
for i in range(len(money_2020_list)):
    if i%3 == 1:
       revised_money_2020_list.append(money_2020_list[i])
    
# as in the first dataframe, I extracted the link to the page for each movie
link_list_2020 = [t for t in soup3.findAll('td', class_="mojo-field-type-release")] 
new_link_list_2020 = []
for t in link_list_2020:
    link = [x.get('href') for x in t.findAll('a', class_="a-link-normal")]
    link_str = link[0]
    new_link_list_2020.append(link_str)
print(len(new_link_list_2020), new_link_list_2020[0])

# create the dataframe
df_2020 = pd.DataFrame([rank_2020_list, title_2020_list, new_link_list_2020, revised_money_2020_list]).transpose()
df_2020.columns = ['2020_Rank', 'Movie_Title', 'Movie_Page', '2020_Gross']
df_2020

454 /release/rl1182631425/?ref_=bo_yld_table_1

,2020_Rank,Movie_Title,Movie_Page,2020_Gross
0,1,Bad Boys for Life,/release/rl1182631425/?ref_=bo_yld_table_1,"$204,417,855"
1,2,1917,/release/rl2969994753/?ref_=bo_yld_table_2,"$157,901,466"
2,3,Sonic the Hedgehog,/release/rl4244997633/?ref_=bo_yld_table_3,"$146,066,470"
3,4,Jumanji: The Next Level,/release/rl755467777/?ref_=bo_yld_table_4,"$124,736,710"
4,5,Star Wars: Episode IX - The Rise of Skywalker,/release/rl3305145857/?ref_=bo_yld_table_5,"$124,496,308"
...,...,...,...,...
449,450,Asako I & II,/release/rl1359513089/?ref_=bo_yld_table_450,$231
450,451,Chained for Life,/release/rl1292600833/?ref_=bo_yld_table_451,$115
451,452,Shooting the Mafia,/release/rl2366342657/?ref_=bo_yld_table_452,$88
452,453,Benjamin the Elephant (2020),/release/rl1180795649/?ref_=bo_yld_table_453,$49
453,454,Love Goes Public,/release/rl2124382721/?ref_=bo_yld_table_454,$38

I limited my dataframes to the top 200 grossing movies of each year.

In [202]:
df_2020 = df_2020.drop(df_2020.index[200:])
df_2020

,2020_Rank,Movie_Title,Movie_Page,2020_Gross
0,1,Bad Boys for Life,/release/rl1182631425/?ref_=bo_yld_table_1,"$204,417,855"
1,2,1917,/release/rl2969994753/?ref_=bo_yld_table_2,"$157,901,466"
2,3,Sonic the Hedgehog,/release/rl4244997633/?ref_=bo_yld_table_3,"$146,066,470"
3,4,Jumanji: The Next Level,/release/rl755467777/?ref_=bo_yld_table_4,"$124,736,710"
4,5,Star Wars: Episode IX - The Rise of Skywalker,/release/rl3305145857/?ref_=bo_yld_table_5,"$124,496,308"
...,...,...,...,...
195,196,Extra Ordinary,/release/rl2562359809/?ref_=bo_yld_table_196,"$164,346"
196,197,Palm Springs,/release/rl3175187201/?ref_=bo_yld_table_197,"$164,000"
197,198,A Call to Spy,/release/rl3796140801/?ref_=bo_yld_table_198,"$158,864"
198,199,Love Story50th Anniversary,/release/rl934707713/?ref_=bo_yld_table_199,"$153,504"
199,200,The Dark and the Wicked,/release/rl4015883009/?ref_=bo_yld_table_200,"$149,011"

In [203]:
df_2019 = df_2019.drop(df_2019.index[200:])
df_2019

,2019_Rank,Movie_Title,Movie_Page,2019_Gross
0,1,Avengers: Endgame,/release/rl3059975681/?ref_=bo_yld_table_1,"$858,373,000"
1,2,The Lion King,/release/rl3321923073/?ref_=bo_yld_table_2,"$543,638,043"
2,3,Toy Story 4,/release/rl3798500865/?ref_=bo_yld_table_3,"$434,038,008"
3,4,Frozen II,/release/rl2424210945/?ref_=bo_yld_table_4,"$430,144,682"
4,5,Captain Marvel,/release/rl3009644033/?ref_=bo_yld_table_5,"$426,829,839"
...,...,...,...,...
195,196,Welcome to Marwen,/release/rl2264958465/?ref_=bo_yld_table_196,"$2,405,625"
196,197,"My People, My Country",/release/rl2433451521/?ref_=bo_yld_table_197,"$2,356,683"
197,198,Promare,/release/rl3104540161/?ref_=bo_yld_table_198,"$2,287,950"
198,199,Super 30,/release/rl4211639809/?ref_=bo_yld_table_199,"$2,269,878"
199,200,Faustina: Love and Mercy,/release/rl252413441/?ref_=bo_yld_table_200,"$2,243,180"

Merging the three dataframes.

In [764]:
df_new = pd.merge(df, df_2019, on = "Movie_Title", how = "outer") 
len(df_new)

382

In [765]:
df_new2 = pd.merge(df_new, df_2020, on = "Movie_Title", how = "outer") 
len(df_new2)

551

Scrape the web site for the domestic gross, budget, MPAA rating and genres of each movie.

In [563]:
movie_url_list = []
gross_master_list = []
budget_master_list = []
mpaa_master_list = []
genres_master_list = []

j=500
    
for m in df_new2.Movie_Title:
    movie_url = 'https://www.boxofficemojo.com' + df_new2.Movie_Page_x[j]
#     movie_url_list.append(movie_url)
    html_page5 = requests.get(movie_url)
    soup5 = BeautifulSoup(html_page5.content, 'html.parser')
    
# the domestic gross from the first span tag
    gross = soup5.find('span', class_="money")
    gross = str(gross)
    gross = gross[20:-7]

# the budget is not the first span tag with the money class, so it took extra steps
    budget = soup5.find_all('span', text=re.compile('Budget')) 
    budget_parent = [budget.parent for budget in budget]
    if not budget_parent:
        budget_money = [np.nan]
    else:
        budget_parent_string = budget_parent[0]
        budget_money = [m.text for m in budget_parent_string.findAll('span', class_="money")]
        budget_money_string = budget_money[0]

# likewise for MPAA rating
    mpaa = soup5.find_all('span', text=re.compile('MPAA')) 
    mpaa_parent = [mpaa.parent for mpaa in mpaa]
    if not mpaa_parent:
        mpaa_rating = [np.nan, np.nan]
    else:
        mpaa_parent_string = mpaa_parent[0]
        mpaa_rating = [m.text for m in mpaa_parent_string.findAll('span')]
        mpaa_rating_string = mpaa_rating[1]

#likewise for genres
    genres = soup5.find_all('span', text=re.compile('Genres')) 
    genres_parent = [genres.parent for genres in genres]
    if not genres_parent:
        genres_categories = [np.nan, np.nan]
    else:
        genres_parent_string = genres_parent[0]
        genres_categories = [m.text for m in genres_parent_string.findAll('span')]
        genres_categories_string = genres_categories[1]

    gross_master_list.append(gross)
    budget_master_list.append(budget_money_string)
    mpaa_master_list.append(mpaa_rating_string)
    genres_master_list.append(genres_categories_string)
    
    j += 1
    if j > 550:
        break

Make the genre categories for each movie a list.

In [578]:
movie_genres_list = []
genres_master_list_split = []
for x in genres_master_list_to_split:
    movie_genres_list = list(x.split("\n    \n        "))
    genres_master_list_split.append(movie_genres_list)
genres_master_list_split[:5]

['Action\n    \n        Adventure\n    \n        Drama\n    \n        Sci-Fi',
 'Action\n    \n        Adventure\n    \n        Fantasy\n    \n        Sci-Fi',
 'Drama\n    \n        Romance',
 'Action\n    \n        Adventure\n    \n        Sci-Fi',
 'Action\n    \n        Adventure\n    \n        Sci-Fi']

In [588]:
len(gross_master_list), len(budget_master_list), len(mpaa_master_list), len(genres_master_list_split)

(551, 551, 551, 551)

Add lists of scraped data to the master dataframe.

In [ ]:
df_new3 = df_new2
df_new3['Domestic_Gross']= gross_master_list
df_new3['Budget'] = budget_master_list
df_new3['MPAA'] = mpaa_master_list
df_new3['Genres'] = genres_master_list_split
df_new3.head()

In [635]:
df_new3.head()

,Lifetime_Rank,Movie_Title,Movie_Page_x,Lifetime_Gross,Year_Released,2019_Rank,Movie_Page_y,2019_Gross,2020_Rank,Movie_Page,2020_Gross,Domestic_Gross,Budget,MPAA,Genres
0,1,Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_1,"$2,797,800,564",2019,1,/release/rl3059975681/?ref_=bo_yld_table_1,"$858,373,000",NaN,NaN,NaN,"$858,373,000","$356,000,000",PG-13,"[Action, Adventure, Drama, Sci-Fi]"
1,2,Avatar,/title/tt0499549/?ref_=bo_cso_table_2,"$2,790,439,092",2009,NaN,NaN,NaN,NaN,NaN,NaN,"$760,507,625","$237,000,000",PG-13,"[Action, Adventure, Fantasy, Sci-Fi]"
2,3,Titanic,/title/tt0120338/?ref_=bo_cso_table_3,"$2,471,754,307",1997,NaN,NaN,NaN,NaN,NaN,NaN,"$659,363,944","$200,000,000",PG-13,"[Drama, Romance]"
3,4,Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_4,"$2,068,454,310",2015,NaN,NaN,NaN,NaN,NaN,NaN,"$936,662,225","$245,000,000",PG-13,"[Action, Adventure, Sci-Fi]"
4,5,Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,"$2,048,359,754",2018,NaN,NaN,NaN,NaN,NaN,NaN,"$678,815,482","$245,000,000",PG-13,"[Action, Adventure, Sci-Fi]"

Put the scraped data in a dataframe so that it can be saved as a sqlite db. I don't want to do the scraping over and rehit the web site unnecessarily.

In [570]:
df_scraped_data = pd.DataFrame(list(zip(gross_master_list, budget_master_list, mpaa_master_list, genres_master_list)), 
               columns =['Domestic_Gross', 'Budget', 'MPAA', 'Genres']) 
df_scraped_data.head()

,Domestic_Gross,Budget,MPAA,Genres
0,"$858,373,000","$356,000,000",PG-13,Action\n \n Adventure\n \n ...
1,"$760,507,625","$237,000,000",PG-13,Action\n \n Adventure\n \n ...
2,"$659,363,944","$200,000,000",PG-13,Drama\n \n Romance
3,"$936,662,225","$245,000,000",PG-13,Action\n \n Adventure\n \n ...
4,"$678,815,482","$245,000,000",PG-13,Action\n \n Adventure\n \n ...

Create a sqlite db to and put the scraped data in it.

In [573]:
conn = sqlite3.connect('scraped_data.db') 
c = conn.cursor()

# c.execute('CREATE TABLE scraped_data (Domestic_Gross, Budget, MPAA, Genres)')
# conn.commit()

df_scraped_data.to_sql('scraped_data', conn, if_exists='replace', index = False)

In [576]:
cnx = sqlite3.connect('scraped_data.db')

# df_imported = pd.read_sql_query("SELECT * FROM scraped_data", cnx)
df_imported.head()

,Domestic_Gross,Budget,MPAA,Genres
0,"$858,373,000","$356,000,000",PG-13,Action\n \n Adventure\n \n ...
1,"$760,507,625","$237,000,000",PG-13,Action\n \n Adventure\n \n ...
2,"$659,363,944","$200,000,000",PG-13,Drama\n \n Romance
3,"$936,662,225","$245,000,000",PG-13,Action\n \n Adventure\n \n ...
4,"$678,815,482","$245,000,000",PG-13,Action\n \n Adventure\n \n ...

In [379]:
# move the movie link data from the secondary and tertiary columns into the primary link column
i = 0
for j in range(0, 551):
    if df_new2.isnull().Movie_Page_x[i]:
        df_new2.Movie_Page_x[i] = df_new2.Movie_Page[i]
    if df_new2.isnull().Movie_Page_x[i]:
        df_new2.Movie_Page_x[i] = df_new2.Movie_Page_y[i]
    i +=1
# Then count the NaN cells to make sure there are none
count = df_new2["Movie_Page_x"].isna().sum()
count

In [665]:
# Added the year released for those movies scraped from the 2019 and 2020 highest grossing lists
for y in df_new3.index:
    if pd.isna(df_new3['Year_Released'][y]) == True and pd.isna(df_new3['2020_Rank'][y]) == False:
        df_new3.Year_Released.fillna('2020')

for y in df_new3.index:
    if pd.isna(df_new3['Year_Released'][y]) == True and pd.isna(df_new3['2019_Rank'][y]) == False:
        df_new3.Year_Released.fillna('2019')

didn't

In [485]:
df_new2.head()

,Lifetime_Rank,Movie_Title,Movie_Page_x,Lifetime_Gross,Year_Released,2019_Rank,Movie_Page_y,2019_Gross,2020_Rank,Movie_Page,2020_Gross
0,1,Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_1,"$2,797,800,564",2019,1,/release/rl3059975681/?ref_=bo_yld_table_1,"$858,373,000",NaN,NaN,NaN
1,2,Avatar,/title/tt0499549/?ref_=bo_cso_table_2,"$2,790,439,092",2009,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Titanic,/title/tt0120338/?ref_=bo_cso_table_3,"$2,471,754,307",1997,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_4,"$2,068,454,310",2015,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,"$2,048,359,754",2018,NaN,NaN,NaN,NaN,NaN,NaN

In [684]:
df_new4 = df_new2
df_new2.tail()

,Lifetime_Rank,Movie_Title,Movie_Page_x,Lifetime_Gross,Year_Released,2019_Rank,Movie_Page_y,2019_Gross,2020_Rank,Movie_Page,2020_Gross,Domestic_Gross,Budget,MPAA,Genres
546,NaN,Extra Ordinary,/release/rl2562359809/?ref_=bo_yld_table_196,NaN,2020,NaN,NaN,NaN,196,/release/rl2562359809/?ref_=bo_yld_table_196,"$164,346","$164,346","$150,000,000",R,"[Comedy, Fantasy, Horror]"
547,NaN,Palm Springs,/release/rl3175187201/?ref_=bo_yld_table_197,NaN,2020,NaN,NaN,NaN,197,/release/rl3175187201/?ref_=bo_yld_table_197,"$164,000","$164,000","$150,000,000",R,"[Comedy, Fantasy, Mystery, Romance]"
548,NaN,A Call to Spy,/release/rl3796140801/?ref_=bo_yld_table_198,NaN,2020,NaN,NaN,NaN,198,/release/rl3796140801/?ref_=bo_yld_table_198,"$158,864","$159,014","$150,000,000",PG-13,"[Biography, Crime, Drama, Thriller, War]"
549,NaN,Love Story50th Anniversary,/release/rl934707713/?ref_=bo_yld_table_199,NaN,2020,NaN,NaN,NaN,199,/release/rl934707713/?ref_=bo_yld_table_199,"$153,504","$153,504","$150,000,000",PG,"[Drama, Romance]"
550,NaN,The Dark and the Wicked,/release/rl4015883009/?ref_=bo_yld_table_200,NaN,2020,NaN,NaN,NaN,200,/release/rl4015883009/?ref_=bo_yld_table_200,"$149,011","$155,757","$150,000,000",PG,[Horror]

In [685]:
j = 0
for y in df_new3.index:
    if pd.isna(df_new3['2019_Rank'][y]) == False :
        df_new3['Year_Released'][y] = '2019'
        j +=1
        print(j, df_new3['2019_Rank'][y], df_new3['Year_Released'][y])

1 2019 2019
2 2019 2019
3 2019 2019
4 2019 2019
5 2019 2019
6 2019 2019
7 2019 2019
8 2019 2019
9 2019 2019
10 2019 2019
11 2019 2019
12 2019 2019
13 2019 2019
14 2019 2019
15 2019 2019
16 2019 2019
17 2019 2019
18 2019 2019
19 2019 2019
20 2019 2019
21 2019 2019
22 2019 2019
23 2019 2019
24 2019 2019
25 2019 2019
26 2019 2019
27 2019 2019
28 2019 2019
29 2019 2019
30 2019 2019
31 2019 2019
32 2019 2019
33 2019 2019
34 2019 2019
35 2019 2019
36 2019 2019
37 2019 2019
38 2019 2019
39 2019 2019
40 2019 2019
41 2019 2019
42 2019 2019
43 2019 2019
44 2019 2019
45 2019 2019
46 2019 2019
47 2019 2019
48 2019 2019
49 2019 2019
50 2019 2019
51 2019 2019
52 2019 2019
53 2019 2019
54 2019 2019
55 2019 2019
56 2019 2019
57 2019 2019
58 2019 2019
59 2019 2019
60 2019 2019
61 2019 2019
62 2019 2019
63 2019 2019
64 2019 2019
65 2019 2019
66 2019 2019
67 2019 2019
68 2019 2019
69 2019 2019
70 2019 2019
71 2019 2019
72 2019 2019
73 2019 2019
74 2019 2019
75 2019 2019
76 2019 2019
77 2019 2019
78 2019 2019
79 2019 2019
80 2019 2019
81 2019 2019
82 2019 2019
83 2019 2019
84 2019 2019
85 2019 2019
86 2019 2019
87 2019 2019
88 2019 2019
89 2019 2019
90 2019 2019
91 2019 2019
92 2019 2019
93 2019 2019
94 2019 2019
95 2019 2019
96 2019 2019
97 2019 2019
98 2019 2019
99 2019 2019
100 2019 2019
101 2019 2019
102 2019 2019
103 2019 2019
104 2019 2019
105 2019 2019
106 2019 2019
107 2019 2019
108 2019 2019
109 2019 2019
110 2019 2019
111 2019 2019
112 2019 2019
113 2019 2019
114 2019 2019
115 2019 2019
116 2019 2019
117 2019 2019
118 2019 2019
119 2019 2019
120 2019 2019
121 2019 2019
122 2019 2019
123 2019 2019
124 2019 2019
125 2019 2019
126 2019 2019
127 2019 2019
128 2019 2019
129 2019 2019
130 2019 2019
131 2019 2019
132 2019 2019
133 2019 2019
134 2019 2019
135 2019 2019
136 2019 2019
137 2019 2019
138 2019 2019
139 2019 2019
140 2019 2019
141 2019 2019
142 2019 2019
143 2019 2019
144 2019 2019
145 2019 2019
146 2019 2019
147 2019 2019
148 2019 2019
149 2019 2019
150 2019 2019
151 2019 2019
152 2019 2019
153 2019 2019
154 2019 2019
155 2019 2019
156 2019 2019
157 2019 2019
158 2019 2019
159 2019 2019
160 2019 2019
161 2019 2019
162 2019 2019
163 2019 2019
164 2019 2019
165 2019 2019
166 2019 2019
167 2019 2019
168 2019 2019
169 2019 2019
170 2019 2019
171 2019 2019
172 2019 2019
173 2019 2019
174 2019 2019
175 2019 2019
176 2019 2019
177 2019 2019
178 2019 2019
179 2019 2019
180 2019 2019
181 2019 2019
182 2019 2019
183 2019 2019
184 2019 2019
185 2019 2019
186 2019 2019
187 2019 2019
188 2019 2019
189 2019 2019
190 2019 2019
191 2019 2019
192 2019 2019
193 2019 2019
194 2019 2019
195 2019 2019
196 2019 2019
197 2019 2019
198 2019 2019
199 2019 2019
200 2019 2019
201 2019 2019

In [686]:
j = 0
for y in df_new3.index:
    if pd.isna(df_new3['2020_Rank'][y]) == False :
#         df_new3['Year_Released'][y] = '2020'
        j +=1
        print(j, df_new3['2020_Rank'][y], df_new3['Year_Released'][y])

1 13 2019
2 76 2019
3 5 2019
4 105 2017
5 4 2019
6 78 2019
7 12 2019
8 116 2019
9 39 2019
10 129 2019
11 187 2019
12 52 2019
13 120 2019
14 161 2019
15 127 2019
16 62 2019
17 8 2019
18 15 2019
19 101 2019
20 21 2019
21 163 2019
22 19 2019
23 37 2019
24 48 2019
25 34 2019
26 54 2019
27 192 2019
28 134 2019
29 121 2019
30 111 2019
31 94 2019
32 1 2020
33 2 2020
34 3 2020
35 6 2020
36 7 2020
37 9 2020
38 10 2020
39 11 2020
40 14 2020
41 16 2020
42 17 2020
43 18 2020
44 20 2020
45 22 2020
46 23 2020
47 24 2020
48 25 2020
49 26 2020
50 27 2020
51 28 2020
52 29 2020
53 30 2020
54 31 2020
55 32 2020
56 33 2020
57 35 2020
58 36 2020
59 38 2020
60 40 2020
61 41 2020
62 42 2020
63 43 2020
64 44 2020
65 45 2020
66 46 2020
67 47 2020
68 49 2020
69 50 2020
70 51 2020
71 53 2020
72 55 2020
73 56 2020
74 57 2020
75 58 2020
76 59 2020
77 60 2020
78 61 2020
79 63 2020
80 64 2020
81 65 2020
82 66 2020
83 67 2020
84 68 2020
85 69 2020
86 70 2020
87 71 2020
88 72 2020
89 73 2020
90 74 2020
91 75 2020
92 77 2020
93 79 2020
94 80 2020
95 81 2020
96 82 2020
97 83 2020
98 84 2020
99 85 2020
100 86 2020
101 87 2020
102 88 2020
103 89 2020
104 90 2020
105 91 2020
106 92 2020
107 93 2020
108 95 2020
109 96 2020
110 97 2020
111 98 2020
112 99 2020
113 100 2020
114 102 2020
115 103 2020
116 104 2020
117 106 2020
118 107 2020
119 108 2020
120 109 2020
121 110 2020
122 112 2020
123 113 2020
124 114 2020
125 115 2020
126 117 2020
127 118 2020
128 119 2020
129 122 2020
130 123 2020
131 124 2020
132 125 2020
133 126 2020
134 128 2020
135 130 2020
136 131 2020
137 132 2020
138 133 2020
139 135 2020
140 136 2020
141 137 2020
142 138 2020
143 139 2020
144 140 2020
145 141 2020
146 142 2020
147 143 2020
148 144 2020
149 145 2020
150 146 2020
151 147 2020
152 148 2020
153 149 2020
154 150 2020
155 151 2020
156 152 2020
157 153 2020
158 154 2020
159 155 2020
160 156 2020
161 157 2020
162 158 2020
163 159 2020
164 160 2020
165 162 2020
166 164 2020
167 165 2020
168 166 2020
169 167 2020
170 168 2020
171 169 2020
172 170 2020
173 171 2020
174 172 2020
175 173 2020
176 174 2020
177 175 2020
178 176 2020
179 177 2020
180 178 2020
181 179 2020
182 180 2020
183 181 2020
184 182 2020
185 183 2020
186 184 2020
187 185 2020
188 186 2020
189 188 2020
190 189 2020
191 190 2020
192 191 2020
193 193 2020
194 194 2020
195 195 2020
196 196 2020
197 197 2020
198 198 2020
199 199 2020
200 200 2020

In [707]:
# df_new4.iloc[200]
# df_new4.info()
df_new4[df_new4['Lifetime_Gross'][0]] = df_new4[df_new4['Lifetime_Gross'][0]].replace('[\$,]', '', regex=True).astype(float)

KeyError: '$2,797,800,564'

In [745]:
#converted strings in Lifetime_Gross column to integers, removing the commas and dollar signs
i = 195
for y in df_new4:
    df_new4['Lifetime_Gross'][i] = df_new4['Lifetime_Gross'][i].replace(',', '')
    df_new4['Lifetime_Gross'][i] = df_new4['Lifetime_Gross'][i].replace('$', '')
    i += 1
df_new4.head()

AttributeError: 'float' object has no attribute 'replace'

In [756]:
#converted strings in Domestic Gross and Budget columns to integers, removing the commas and dollar signs
i = 90
for y in df_new4:
    df_new4['Domestic_Gross'][i] = df_new4['Domestic_Gross'][i].replace(',', '')
    df_new4['Domestic_Gross'][i] = df_new4['Domestic_Gross'][i].replace('$', '')
    i +=1
    
# i = 0
# for y in df_new4:
#     df_new4['Budget'][i] = df_new4['Budget'][i].replace(',', '')
#     df_new4['Budget'][i] = df_new4['Budget'][i].replace('$', '')
#     i +=1

# df_new4.head()

In [719]:
df_new4.tail()

,Lifetime_Rank,Movie_Title,Movie_Page_x,Lifetime_Gross,Year_Released,2019_Rank,Movie_Page_y,2019_Gross,2020_Rank,Movie_Page,2020_Gross,Domestic_Gross,Budget,MPAA,Genres
546,NaN,Extra Ordinary,/release/rl2562359809/?ref_=bo_yld_table_196,NaN,2020,NaN,NaN,NaN,196,/release/rl2562359809/?ref_=bo_yld_table_196,"$164,346","$164,346","$150,000,000",R,"[Comedy, Fantasy, Horror]"
547,NaN,Palm Springs,/release/rl3175187201/?ref_=bo_yld_table_197,NaN,2020,NaN,NaN,NaN,197,/release/rl3175187201/?ref_=bo_yld_table_197,"$164,000","$164,000","$150,000,000",R,"[Comedy, Fantasy, Mystery, Romance]"
548,NaN,A Call to Spy,/release/rl3796140801/?ref_=bo_yld_table_198,NaN,2020,NaN,NaN,NaN,198,/release/rl3796140801/?ref_=bo_yld_table_198,"$158,864","$159,014","$150,000,000",PG-13,"[Biography, Crime, Drama, Thriller, War]"
549,NaN,Love Story50th Anniversary,/release/rl934707713/?ref_=bo_yld_table_199,NaN,2020,NaN,NaN,NaN,199,/release/rl934707713/?ref_=bo_yld_table_199,"$153,504","$153,504","$150,000,000",PG,"[Drama, Romance]"
550,NaN,The Dark and the Wicked,/release/rl4015883009/?ref_=bo_yld_table_200,NaN,2020,NaN,NaN,NaN,200,/release/rl4015883009/?ref_=bo_yld_table_200,"$149,011","$155,757","$150,000,000",PG,[Horror]

In [717]:
convert_dict = {'Domestic_Gross': int
               } 
  
df_new4 = df_new4.astype(convert_dict) 
print(df_new4.dtypes)

ValueError: invalid literal for int() with base 10: '$400,953,009'

In [757]:
j = 0
for y in df_new4.index:
        print(j, df_new4['Lifetime_Gross'][y], df_new4['Domestic_Gross'][y], df_new4['Budget'][y])

0 2797800564 858373000 356000000
0 2790439092 760507625 237000000
0 2471754307 659363944 200000000
0 2068454310 936662225 245000000
0 2048359754 678815482 245000000
0 1670471444 543638043 260000000
0 1657870986 422783777 45000000
0 1083720877 623357910 220000000
0 1518815515 353007020 190000000
0 1515255622 477373578 150000000
0 1450026933 459005868 250000000
0 1402809540 700426566 250000000
0 1347597973 381409310 250000000
0 1342223936 620181382 317000000
0 1332698830 417719760 170000000
0 1310464680 400953009 $150,000,000
0 1281019275 504481165 $160,000,000
0 1264064831 608581744 $160,000,000
0 1243089244 226008385 $250,000,000
0 1236005118 409013994 $200,000,000
0 1214811252 336045770 $74,000,000
0 1159444662 408084349 $250,000,000
0 1153561649 335061807 $250,000,000
0 1148485886 377845905 $94,000,000
0 1142456987 390532085 $160,000,000
0 1131927996 426829839 $160,000,000
0 1128462972 352390543 $195,000,000
0 1123794079 304360277 $200,000,000
0 1108561013 173956935 $200,000,000
0 1104826325 245439076 $210,000,000
0 1104054072 422783777 $45,000,000
0 1081142612 448139099 $250,000,000
0 1074251311 335451311 $55,000,000
0 1074144248 515202542 $275,000,000
0 1073394593 434038008 $200,000,000
0 1066970811 415004880 $200,000,000
0 1066179747 423315812 $225,000,000
0 1056057720 532177324 $200,000,000
0 1050693953 355559216 $183,000,000
0 1045713802 241071802 $250,000,000
0 1034800131 264624300 $80,000,000
0 1033928303 404214720 $63,000,000
0 1028570942 486295561 $63,000,000
0 1027082707 474544677 $115,000,000
0 1025468216 334191110 $200,000,000
0 1023792558 341268248 $200,000,000
0 1017003568 303003568 $200,000,000
0 1006968171 318087620 $125,000,000
0 1005973645 534858444 $185,000,000
0 976999243 296347721 $185,000,000
0 970766005 368065385 $76,000,000
0 966554929 364001123 $175,000,000
0 962103996 404540171 $90,000,000
0 960996492 309420425 $300,000,000
0 958366855 258366855 $300,000,000
0 956019788 255119788 $300,000,000
0 943396133 342551365 $94,000,000
0 942172396 292353413 $150,000,000
0 940352645 380843261 $94,000,000
0 934454096 302305431 $250,000,000
0 928760770 441226247 $150,000,000
0 905004529 216668042 $52,000,000
0 896420762 290417905 $150,000,000
0 894983373 336530303 $258,000,000
0 888159092 315544750 $93,000,000
0 886686817 196573705 $90,000,000
0 880674609 200074609 $245,000,000
0 880166924 334201140 $175,000,000
0 879602366 262450136 $100,000,000
0 877244782 161321843 $95,000,000
0 875458631 368384330 $75,000,000
0 873637528 330360194 $250,000,000
0 870325439 2721100 $30,100,000
0 868390560 380270577 $113,000,000
0 865011746 424668047 $130,000,000
0 863756051 389813101 $200,000,000
0 858071350 356921711 $175,000,000
0 856085151 213515506 $100,000,000
0 854189384 315058289 $180,000,000
0 836836967 292576195 $160,000,000
0 836303693 402111870 $200,000,000
0 829747654 292324737 $120,000,000
0 825025036 407022860 $139,000,000
0 822303505 412815408 $149,000,000
0 817400891 306169268 $75,000,000
0 814044001 234037575 $180,000,000
0 813367380 322719944 $160,000,000
0 807817888 210460015 $160,000,000
0 800059707 320314960 $125,000,000
0 796246544 249975996 $130,000,000
0 794881442 172558876 $230,000,000
0 792910554 435110554 $10,500,000
0 791217826 166112167 $200,000,000
0 791120426 220159104 $178,000,000
0 790653942 317101119 $185,000,000
0 788976453 373585825 $200,000,000
0 788680968 238679850 $160,000,000
0 786365638 324591735 $110,000,000
0 782711573 363070709 $58,000,000
0 775398007 460998507 $11,000,000
0 773350147 333718600 $170,000,000
0 760006945 217536138 $125,000,000
0 758411779 241410378 $180,000,000
0 757930663 262030663 $230,000,000
0 755356711 337135885 $125,000,000
0 752600867 $238,736,787 $165,000,000
0 746921274 $216,391,482 $145,000,000
0 746846894 $325,100,054 $175,000,000
0 746045700 $233,921,534 $200,000,000
0 745013115 $291,710,957 $180,000,000
0 743559645 $268,492,764 $180,000,000
0 741847937 $281,576,461 $150,000,000
0 735099102 $293,004,164 $175,000,000
0 726063471 $3,695,533 $175,000,000
0 723192705 $274,092,705 $100,000,000
0 714421503 $259,766,572 $170,000,000
0 712205856 $281,287,133 $110,000,000
0 711025481 $297,816,253 $50,000,000
0 710644566 $208,545,589 $170,000,000
0 709709780 $319,246,193 $150,000,000
0 708982323 $202,853,933 $150,000,000
0 701796444 $328,828,874 $35,000,000
0 701723680 $188,020,017 $165,000,000
0 699856699 $5,971,413 $165,000,000
0 698491347 $300,531,751 $68,000,000
0 694713380 $209,397,903 $145,000,000
0 694394724 $408,010,692 $78,000,000
0 683955083 $211,593,228 $79,000,000
0 682716636 $195,042,377 $150,000,000
0 678226133 $330,455,270 $55,000,000
0 677796076 $232,641,920 $165,000,000
0 672806292 $293,506,292 $40,000,000
0 668045518 $291,045,518 $225,000,000
0 667094506 $195,330,621 $80,000,000
0 665692281 $165,249,063 $150,000,000
0 658344137 $281,723,902 $160,000,000
0 657926987 $229,024,295 $160,000,000
0 657869686 $222,527,828 $165,000,000
0 654855901 $159,555,901 $200,000,000
0 654264015 $305,413,918 $140,000,000
0 653779970 $310,676,740 $115,000,000
0 644783140 $206,362,140 $170,000,000
0 643350998 $248,757,044 $170,000,000
0 634208384 $270,448,425 $75,000,000
0 631746197 $215,434,591 $130,000,000
0 631607053 $261,441,092 $92,000,000
0 630162235 $228,433,663 $108,000,000
0 629443428 $227,946,274 $150,000,000
0 626137675 $209,837,675 $125,000,000
0 624026776 $179,020,854 $225,000,000
0 623933331 $312,433,331 $200,000,000
0 623726085 $206,445,654 $150,000,000
0 622674139 $216,648,740 $150,000,000
0 621537519 $177,002,924 $145,000,000
0 619179950 $226,277,068 $97,000,000
0 618638999 $229,086,679 $73,000,000
0 616501619 $167,445,960 $150,000,000
0 612054428 $370,782,930 $30,000,000
0 609916146 $144,169,664 $52,000,000
0 609016565 $124,987,023 $120,000,000
0 605425157 $130,168,683 $217,000,000
0 603900354 $180,010,950 $150,000,000
0 603873119 $234,280,354 $132,000,000
0 592461959 $200,821,936 $260,000,000
0 589580482 $168,368,427 $200,000,000
0 589390539 $250,690,539 $90,000,000
0 587205319 $187,168,425 $135,000,000
0 586764305 $254,464,305 $80,000,000
0 585796247 $319,034,126 $140,000,000
0 585410052 $256,393,010 $150,000,000
0 582893671 $137,690,172 $175,000,000
0 579707738 $290,642,256 $115,000,000
0 579330426 $1,543,547 $115,000,000
0 574481229 $250,863,268 $115,000,000
0 569651467 $166,167,230 $40,000,000
0 566652812 $168,052,812 $185,000,000
0 563749323 $142,614,158 $110,000,000
0 562363449 $218,080,025 $207,000,000
0 559852396 $191,452,396 $200,000,000
0 554987477 $149,260,504 $130,000,000
0 553810228 $3,232,685 $130,000,000
0 553709788 $201,578,182 $140,000,000
0 552639571 $186,740,799 $125,000,000
0 549368315 $218,815,487 $50,000,000
0 547426372 $350,126,372 $58,800,000
0 546388108 $215,409,889 $125,000,000
0 544185156 $1,983,984 $125,000,000
0 543934105 $155,442,489 $178,000,000
0 543848418 $186,848,418 $178,000,000
0 543113985 $251,513,985 $69,000,000
0 542358331 $201,151,353 $95,000,000
0 542063846 $193,595,521 $95,000,000
0 540007876 $202,359,711 $190,000,000
0 538983207 $237,283,207 $185,000,000
0 538375067 $292,753,960 $18,000,000
0 536414293 $183,135,014 $75,000,000
0 532950503 $183,637,894 $135,000,000
0 530259473 $145,443,742 $130,000,000
0 529323962 $201,091,711 $175,000,000
0 528583774 $167,510,016 $80,000,000
0 nan $175,084,580 $20,000,000
0 nan $171,015,687 $75,000,000
0 nan $160,799,505 $129,000,000
0 nan $158,874,395 $80,000,000
0 nan $144,105,346 $150,000,000
0 nan $142,502,728 $90,000,000
0 nan $140,371,656 $100,000,000
0 nan $165,363,234 $40,000,000
0 nan $114,766,307 $170,000,000
0 nan $113,929,605 $185,000,000
0 nan $111,048,468 $20,000,000
0 nan $110,500,138 $170,000,000
0 nan $108,252,517 $37,500,000
0 nan $117,624,357 $97,600,000
0 nan $105,806,508 $99,000,000
0 nan $104,963,598 $20,000,000
0 nan $100,044,905 $24,000,000
0 nan $96,854,135 $13,000,000
0 nan $96,368,160 $40,000,000
0 nan $85,838,210 $170,000,000
0 nan $83,140,306 $20,000,000
0 nan $190,241,310 $20,000,000
0 nan $80,001,807 $110,000,000
0 nan $74,152,591 $30,000,000
0 nan $73,286,650 $26,000,000
0 nan $73,257,045 $20,000,000
0 nan $73,123,082 $42,000,000
0 nan $69,030,436 $40,000,000
0 nan $68,947,075 $25,000,000
0 nan $171,958,438 $130,000,000
0 nan $65,845,974 $200,000,000
0 nan $62,253,077 $185,000,000
0 nan $60,716,390 $75,000,000
0 nan $60,477,943 $49,000,000
0 nan $57,005,601 $9,000,000
0 nan $61,704,055 $25,000,000
0 nan $56,846,802 $100,000,000
0 nan $127,195,589 $135,000,000
0 nan $54,733,739 $9,000,000
0 nan $54,724,696 $21,000,000
0 nan $54,611,903 $20,000,000
0 nan $85,080,171 $23,000,000
0 nan $50,188,370 $90,000,000
0 nan $48,791,187 $31,000,000
0 nan $48,546,770 $138,000,000
0 nan $45,896,028 $5,000,000
0 nan $45,729,221 $7,000,000
0 nan $45,216,793 $90,000,000
0 nan $44,819,352 $50,000,000
0 nan $44,451,847 $29,900,000
0 nan $43,082,155 $17,000,000
0 nan $42,004,346 $18,000,000
0 nan $41,667,116 $65,000,000
0 nan $40,860,481 $20,000,000
0 nan $43,808,310 $18,000,000
0 nan $40,713,082 $14,000,000
0 nan $103,804,407 $50,000,000
0 nan $39,014,193 $13,500,000
0 nan $108,101,214 $40,000,000
0 nan $35,419,122 $8,000,000
0 nan $35,417,038 $21,000,000
0 nan $35,150,750 $25,000,000
0 nan $34,746,945 $5,000,000
0 nan $32,138,862 $60,000,000
0 nan $31,581,712 $45,000,000
0 nan $30,712,119 $8,500,000
0 nan $30,316,271 $40,000,000
0 nan $66,757,013 $100,000,000
0 nan $29,208,403 $10,000,000
0 nan $28,714,231 $6,000,000
0 nan $28,148,130 $9,000,000
0 nan $47,836,282 $9,000,000
0 nan $28,539,757 $33,000,000
0 nan $27,426,361 $9,000,000
0 nan $26,395,642 $18,000,000
0 nan $25,621,766 $6,500,000
0 nan $50,023,780 $19,000,000
0 nan $24,313,888 $19,000,000
0 nan $22,958,886 $11,000,000
0 nan $24,622,687 $11,000,000
0 nan $22,782,371 $16,000,000
0 nan $22,680,962 $6,000,000
0 nan $53,369,749 $11,400,000
0 nan $22,370,452 $16,000,000
0 nan  $16,000,000
0 nan $22,055,313 $12,000,000
0 nan $21,903,748 $50,000,000
0 nan $21,360,215 $35,000,000
0 nan $33,370,906 $14,000,000
0 nan $20,457,151 $6,200,000
0 nan $20,150,241 $6,200,000
0 nan $27,166,770 $95,000,000
0 nan $19,005,109 $6,000,000
0 nan $34,366,783 $6,000,000
0 nan $31,762,808 $32,000,000
0 nan $22,345,542 $45,000,000
0 nan $17,803,077 $48,000,000
0 nan $17,695,781 $48,000,000
0 nan $17,300,439 $6,000,000
0 nan $17,156,058 $10,000,000
0 nan $16,790,790 $10,000,000
0 nan $16,649,539 $10,000,000
0 nan $39,282,227 $16,000,000
0 nan $15,499,454 $16,000,000
0 nan $15,006,824 $15,000,000
0 nan $14,856,291 $6,000,000
0 nan $215,288,866 $36,000,000
0 nan $13,631,124 $36,000,000
0 nan $14,915,773 $36,000,000
0 nan $17,956,913 $36,000,000
0 nan $12,180,032 $38,000,000
0 nan $12,138,565 $14,000,000
0 nan $11,901,145 $14,000,000
0 nan $10,867,104 $14,000,000
0 nan $11,136,084 $14,000,000
0 nan $10,532,219 $14,000,000
0 nan $10,205,616 $10,000,000
0 nan $10,429,730 $5,000,000
0 nan $9,651,611 $5,000,000
0 nan $30,573,626 $42,000,000
0 nan $9,277,736 $26,000,000
0 nan $9,270,920 $26,000,000
0 nan $9,198,356 $26,000,000
0 nan $9,039,891 $26,000,000
0 nan $8,547,045 $26,000,000
0 nan $7,743,794 $26,000,000
0 nan $7,699,452 $26,000,000
0 nan $7,189,808 $26,000,000
0 nan $16,468,499 $26,000,000
0 nan $6,563,605 $26,000,000
0 nan $6,546,159 $26,000,000
0 nan $6,424,420 $26,000,000
0 nan $17,541,090 $26,000,000
0 nan $5,979,540 $26,000,000
0 nan $5,958,315 $26,000,000
0 nan $5,801,249 $26,000,000
0 nan $5,611,123 $26,000,000
0 nan $5,566,534 $26,000,000
0 nan $5,470,235 $26,000,000
0 nan $5,332,621 $45,000,000
0 nan $5,215,062 $5,000,000
0 nan $5,043,620 $5,000,000
0 nan $4,950,029 $5,000,000
0 nan $4,809,800 $5,000,000
0 nan $4,600,249 $5,000,000
0 nan $4,535,154 $5,000,000
0 nan $4,515,719 $5,000,000
0 nan $4,654,000 $21,000,000
0 nan $4,580,048 $21,000,000
0 nan $4,697,364 $21,000,000
0 nan $4,376,819 $21,000,000
0 nan $4,366,949 $21,000,000
0 nan $270,620,950 $75,000,000
0 nan $4,450,456 $75,000,000
0 nan $4,252,657 $75,000,000
0 nan $4,186,168 $75,000,000
0 nan $4,046,429 $75,000,000
0 nan $4,567,338 $75,000,000
0 nan $3,659,413 $75,000,000
0 nan $3,531,094 $75,000,000
0 nan $3,509,917 $75,000,000
0 nan $3,502,600 $75,000,000
0 nan $3,355,324 $75,000,000
0 nan $115,715,889 $50,000,000
0 nan $4,589,490 $50,000,000
0 nan $3,168,978 $50,000,000
0 nan $5,102,129 $50,000,000
0 nan $2,971,549 $50,000,000
0 nan $3,012,615 $50,000,000
0 nan $2,884,827 $50,000,000
0 nan $2,872,057 $50,000,000
0 nan $2,729,336 $50,000,000
0 nan $2,670,925 $50,000,000
0 nan $2,660,165 $50,000,000
0 nan $67,363,237 $48,000,000
0 nan $2,410,914 $48,000,000
0 nan $2,410,795 $48,000,000
0 nan $10,763,520 $48,000,000
0 nan $2,356,683 $48,000,000
0 nan $2,313,596 $48,000,000
0 nan $2,269,878 $48,000,000
0 nan $2,243,180 $48,000,000
0 nan $206,305,244 $90,000,000
0 nan $159,227,644 $95,000,000
0 nan $148,974,665 $85,000,000
0 nan $84,158,461 $84,500,000
0 nan $77,047,065 $175,000,000
0 nan $70,410,000 $7,000,000
0 nan $62,342,368 $135,000,000
0 nan $61,555,145 $135,000,000
0 nan $57,929,000 $135,000,000
0 nan $36,471,795 $22,000,000
0 nan $36,001,502 $25,000,000
0 nan $41,964,820 $25,000,000
0 nan $27,309,289 $7,000,000
0 nan $23,852,659 $7,000,000
0 nan $22,169,514 $29,000,000
0 nan $21,221,803 $10,000,000
0 nan $20,831,465 $10,000,000

0 nan $20,578,185 $16,000,000
0 nan $19,478,789 $16,000,000
0 nan $17,291,078 $16,000,000
0 nan $37,700,000 $16,000,000
0 nan $15,472,775 $14,000,000
0 nan $15,347,654 $14,000,000
0 nan $14,163,574 $14,000,000
0 nan $13,304,000 $14,000,000
0 nan $13,590,514 $14,000,000
0 nan $12,611,536 $10,000,000
0 nan $10,691,091 $3,000,000
0 nan $10,055,355 $10,000,000
0 nan $12,561,824 $45,000,000
0 nan $9,868,521 $12,000,000
0 nan $9,956,375 $12,000,000
0 nan $9,358,025 $12,000,000
0 nan $8,950,900 $12,000,000
0 nan $8,287,061 $12,000,000
0 nan $7,798,743 $12,000,000
0 nan $5,812,500 $14,000,000
0 nan $5,437,971 $50,000,000
0 nan $10,301,930 $50,000,000
0 nan $4,828,000 $50,000,000
0 nan $4,810,790 $50,000,000
0 nan $4,067,442 $50,000,000
0 nan $4,051,990 $50,000,000
0 nan $9,728,465 $50,000,000
0 nan $3,759,854 $50,000,000
0 nan $3,439,660 $50,000,000
0 nan $3,306,611 $50,000,000
0 nan $2,992,948 $50,000,000
0 nan $2,971,116 $50,000,000
0 nan $2,949,212 $50,000,000
0 nan $2,542,518 $50,000,000
0 nan $2,482,000 $18,000,000
0 nan $5,315,527 $18,000,000
0 nan $2,286,000 $18,000,000
0 nan $3,956,031 $18,000,000
0 nan $2,237,900 $18,000,000
0 nan $2,003,568 $33,000,000
0 nan $1,876,298 $33,000,000
0 nan $1,814,193 $33,000,000
0 nan $2,138,907 $33,000,000
0 nan $1,637,548 $33,000,000
0 nan $1,386,600 $63,000,000
0 nan $1,349,286 $63,000,000
0 nan $4,036,525 $63,000,000
0 nan $1,181,823 $63,000,000
0 nan $1,231,407 $63,000,000
0 nan $1,100,313 $63,000,000
0 nan $1,070,714 $63,000,000
0 nan $1,047,083 $63,000,000
0 nan $1,044,212 $63,000,000
0 nan $1,034,467 $63,000,000
0 nan $1,003,700 $63,000,000
0 nan $1,077,584 $63,000,000
0 nan $913,935 $63,000,000
0 nan $889,863 $63,000,000
0 nan $871,000 $63,000,000
0 nan $1,730,597 $63,000,000
0 nan $855,894 $63,000,000
0 nan $825,000 $63,000,000
0 nan $821,000 $63,000,000
0 nan $793,525 $63,000,000
0 nan $793,084 $63,000,000
0 nan $758,300 $7,000,000
0 nan $752,885 $7,000,000
0 nan $2,386,483 $7,000,000
0 nan $727,000 $7,000,000
0 nan $726,000 $115,000,000
0 nan $721,439 $115,000,000
0 nan $706,000 $22,000,000
0 nan $696,191 $22,000,000
0 nan $711,000 $165,000,000
0 nan $685,380 $165,000,000
0 nan $678,926 $24,000,000
0 nan $1,073,969 $24,000,000
0 nan $605,000 $30,000,000
0 nan $604,334 $30,000,000
0 nan $582,720 $30,000,000
0 nan $636,673 $30,000,000
0 nan $542,000 $170,000,000
0 nan $765,561 $170,000,000
0 nan $538,179 $170,000,000
0 nan $537,589 $170,000,000
0 nan $531,430 $170,000,000
0 nan $514,107 $170,000,000
0 nan $512,805 $170,000,000
0 nan $516,521 $170,000,000
0 nan $473,781 $75,000,000
0 nan $502,252 $75,000,000
0 nan $500,104 $75,000,000
0 nan $497,747 $75,000,000
0 nan $1,534,320 $75,000,000
0 nan $467,000 $160,000,000
0 nan $460,000 $175,000,000
0 nan $449,561 $175,000,000
0 nan $434,702 $175,000,000
0 nan $430,000 $140,000,000
0 nan $1,788,322 $140,000,000
0 nan $429,148 $140,000,000
0 nan $413,378 $140,000,000
0 nan $410,265 $140,000,000
0 nan $405,904 $140,000,000
0 nan $367,000 $140,000,000
0 nan $364,138 $140,000,000
0 nan $398,663 $140,000,000
0 nan $355,308 $140,000,000
0 nan $367,849 $140,000,000
0 nan $332,432 $140,000,000
0 nan $372,755 $140,000,000
0 nan $330,181 $140,000,000
0 nan $325,000 $28,000,000
0 nan $364,716 $28,000,000
0 nan $323,688 $28,000,000
0 nan $300,460 $28,000,000
0 nan $301,162 $28,000,000
0 nan $296,027 $28,000,000
0 nan $295,000 $28,000,000
0 nan $420,180 $123,000,000
0 nan $289,573 $123,000,000
0 nan $282,149 $123,000,000
0 nan $278,378 $123,000,000
0 nan $267,824 $123,000,000
0 nan $252,000 $149,000,000
0 nan $247,000 $19,000,000
0 nan $240,000 $52,000,000
0 nan $483,684 $52,000,000
0 nan $237,571 $52,000,000
0 nan $234,505 $52,000,000
0 nan $234,429 $52,000,000
0 nan $228,615 $52,000,000
0 nan $437,625 $52,000,000
0 nan $215,000 $150,000,000
0 nan $213,440 $150,000,000
0 nan $207,928 $150,000,000
0 nan $214,670 $150,000,000
0 nan $200,000 $150,000,000
0 nan $372,562 $150,000,000
0 nan $198,352 $150,000,000
0 nan $265,102 $150,000,000
0 nan $190,160 $150,000,000
0 nan $185,026 $150,000,000
0 nan $184,477 $150,000,000
0 nan $177,262 $150,000,000
0 nan $196,258 $150,000,000
0 nan $167,962 $150,000,000
0 nan $164,346 $150,000,000
0 nan $164,000 $150,000,000
0 nan $159,014 $150,000,000
0 nan $153,504 $150,000,000
0 nan $155,757 $150,000,000

In [759]:
df_new4.tail()

,Lifetime_Rank,Movie_Title,Movie_Page_x,Lifetime_Gross,Year_Released,2019_Rank,Movie_Page_y,2019_Gross,2020_Rank,Movie_Page,2020_Gross,Domestic_Gross,Budget,MPAA,Genres
546,NaN,Extra Ordinary,/release/rl2562359809/?ref_=bo_yld_table_196,NaN,2020,NaN,NaN,NaN,196,/release/rl2562359809/?ref_=bo_yld_table_196,"$164,346","$164,346","$150,000,000",R,"[Comedy, Fantasy, Horror]"
547,NaN,Palm Springs,/release/rl3175187201/?ref_=bo_yld_table_197,NaN,2020,NaN,NaN,NaN,197,/release/rl3175187201/?ref_=bo_yld_table_197,"$164,000","$164,000","$150,000,000",R,"[Comedy, Fantasy, Mystery, Romance]"
548,NaN,A Call to Spy,/release/rl3796140801/?ref_=bo_yld_table_198,NaN,2020,NaN,NaN,NaN,198,/release/rl3796140801/?ref_=bo_yld_table_198,"$158,864","$159,014","$150,000,000",PG-13,"[Biography, Crime, Drama, Thriller, War]"
549,NaN,Love Story50th Anniversary,/release/rl934707713/?ref_=bo_yld_table_199,NaN,2020,NaN,NaN,NaN,199,/release/rl934707713/?ref_=bo_yld_table_199,"$153,504","$153,504","$150,000,000",PG,"[Drama, Romance]"
550,NaN,The Dark and the Wicked,/release/rl4015883009/?ref_=bo_yld_table_200,NaN,2020,NaN,NaN,NaN,200,/release/rl4015883009/?ref_=bo_yld_table_200,"$149,011","$155,757","$150,000,000",PG,[Horror]